## 数据源 116（57017）数据库
- 全部kol的用户信息4w+
- 十万对关注与被关注信息 fan-followed 

对应967个fans，其中关注的有kol的fans有962个

- kol信息：label、简介、认证

1000用户关注list

In [1]:
import pymongo 
import pandas as pd
import numpy as np
import time
import tqdm
import collections

In [2]:
db = pymongo.MongoClient('mongodb://userread:qianyi@172.16.1.116:57017')['weibo']  #pymongo.database.Database

In [3]:
db_fan = db['fan'].find({},{'_id':1,'fan_id':1,'followed_id':1})[:100000]

In [4]:
s_t = time.time()
df_fan = pd.DataFrame(db_fan)
e_t = time.time()
print(e_t-s_t)

2.7721447944641113

In [5]:
df_fan

                         _id      fan_id followed_id
0      5138022423_7640214702  5138022423  7640214702
1      5138022423_6989405838  5138022423  6989405838
2      5138022423_6550815288  5138022423  6550815288
3      5138022423_6574713134  5138022423  6574713134
4      5138022423_6688666511  5138022423  6688666511
...                      ...         ...         ...
99995  6046091798_2331498495  6046091798  2331498495
99996  7291800090_1751325194  7291800090  1751325194
99997  6616516979_2696896431  6616516979  2696896431
99998  6046091798_5680841181  6046091798  5680841181
99999  7291800090_3791411453  7291800090  3791411453

[100000 rows x 3 columns]

In [6]:
df_fan['followed_id'] = [int(i) for i in df_fan['followed_id']]      
'''
将follow_id数据转换为int型，后续merge操作需要两个datafram中的匹配列数据类型相同
'''
df_fan['followed_id']

0        7640214702
1        6989405838
2        6550815288
3        6574713134
4        6688666511
            ...
99995    2331498495
99996    1751325194
99997    2696896431
99998    5680841181
99999    3791411453
Name: followed_id, Length: 100000, dtype: int64

In [7]:
len(df_fan['fan_id'].unique())                   #10w个关注关系对应967个fans

967

- 将同一用户关注的对象聚合在一起

In [8]:
def join_by_comma(x):
    return ','.join(map(str,x))

In [9]:
# df_3 = df_con.groupby('fan_id')['label'].apply(ab)
# df_3 = pd.DataFrame(df_3)
# df_3

In [10]:
gp_one_fan = df_fan['followed_id'].groupby(df_fan.fan_id).apply(join_by_comma)

In [11]:
df_one_fan = pd.DataFrame(gp_one_fan)
df_one_fan

                                                  followed_id
fan_id
1011876243  1497308434,1648523061,5724402884,2513148154,20...
1022362744  1907542963,6160919024,3174559295,7389759403,51...
1025509673  6224699669,5781311106,5341433404,6577256160,75...
1084229683  5350509769,6273255109,2162418640,2303608985,35...
1175455614  6478613405,1990808357,5041372881,7538786753,52...
...                                                       ...
7644120857  5993553314,6617946338,6758240432,7349311129,38...
7645169202  5603102217,5804835788,1764127957,7340870586,52...
7645169378  3341585070,6190030326,1825395273,1822393112,69...
7645169599  6302030700,1832386433,5786902874,2122230105,31...
7645169808  1966245651,7392161406,5327483983,1810802952,19...

[967 rows x 1 columns]

In [12]:
df_one_fan['fan_id'] = df_one_fan.index
df_one_fan = df_one_fan.reset_index(drop=True)
df_one_fan                                           #获取每个用户关注的对象

                                           followed_id      fan_id
0    1497308434,1648523061,5724402884,2513148154,20...  1011876243
1    1907542963,6160919024,3174559295,7389759403,51...  1022362744
2    6224699669,5781311106,5341433404,6577256160,75...  1025509673
3    5350509769,6273255109,2162418640,2303608985,35...  1084229683
4    6478613405,1990808357,5041372881,7538786753,52...  1175455614
..                                                 ...         ...
962  5993553314,6617946338,6758240432,7349311129,38...  7644120857
963  5603102217,5804835788,1764127957,7340870586,52...  7645169202
964  3341585070,6190030326,1825395273,1822393112,69...  7645169378
965  6302030700,1832386433,5786902874,2122230105,31...  7645169599
966  1966245651,7392161406,5327483983,1810802952,19...  7645169808

[967 rows x 2 columns]

 - 函数聚合

In [13]:
df_one_fan

                                           followed_id      fan_id
0    1497308434,1648523061,5724402884,2513148154,20...  1011876243
1    1907542963,6160919024,3174559295,7389759403,51...  1022362744
2    6224699669,5781311106,5341433404,6577256160,75...  1025509673
3    5350509769,6273255109,2162418640,2303608985,35...  1084229683
4    6478613405,1990808357,5041372881,7538786753,52...  1175455614
..                                                 ...         ...
962  5993553314,6617946338,6758240432,7349311129,38...  7644120857
963  5603102217,5804835788,1764127957,7340870586,52...  7645169202
964  3341585070,6190030326,1825395273,1822393112,69...  7645169378
965  6302030700,1832386433,5786902874,2122230105,31...  7645169599
966  1966245651,7392161406,5327483983,1810802952,19...  7645169808

[967 rows x 2 columns]

- 读取kol的信息

In [14]:
df_kol = pd.read_csv('D:/datasets/qianyi/user_label/file/kollist.csv',encoding='utf-8')
df_kol

,kol_id,nick_name,user_type,gender,province,city,vip_level,education,work,birthday,fan_num,follow_num,tweet_num,brief_intro,authentication,label
0,5456865382,摩登兄弟刘宇宁,0,m,辽宁,NaN,7,NaN,NaN,1990-01-08,13379815,118,1056,工作邮箱：mdlynmd@126.com,歌手、演员 超话粉丝大咖（摩登兄弟超话）,NaN
1,2606919782,水瓶座-心理学,0,f,江苏,南京,7,·南京大学07级,·中国工商银行股份有限公司·中国石油化工股份有限公司·中国联合网络通信股份有限公司,1989-02-16,5826613,194,16565,解析水瓶座的心理学！~~~~~~~~~ 喜欢就 【✚加关注】｡◕‿◕｡ | 合作QQ：148...,知名情感博主,"星座命理,Aquarius,水瓶女"
2,5899491342,美食零食小吃货,0,m,安徽,合肥,6,·汉口学院98级,·情感公司2003年-2020年,2011-11-26,18920185,583,3969,商务合作：ok311331,作家 情感博主 微博原创视频博主,NaN
3,2606954050,街拍丶潮搭配,0,f,海外,美国,7,·中央音乐学院11级·北京邮电大学10级·北京林业大学10级·北京师范大学09级·北京大学0...,·中国银行·中国铝业公司·中国·中国盐业总公司·中国黄金集团公司·中国中纺集团公司·北京银行...,NaN,2001909,194,10472,潮流街拍时尚，教您学搭配！ | 合作QQ：1480819812,知名时尚博主,"配饰,欧美控,时尚达人"
4,1849808025,哇科技,0,m,江西,上饶,7,NaN,NaN,1995-06-04,1570664,1974,13126,爱科技，找哇哥 合作：wakejiwage,数码博主 头条文章作者,自媒体
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41401,7334752784,水晶石文博展示公司,1,m,NaN,NaN,5,NaN,NaN,NaN,1515918,647,227,北京水晶石文博展示有限公司为不同行业客户提供基于数字影像服务的 AI 科技展览展示设计施工一...,北京水晶石文博展示有限公司,NaN
41402,1668312645,蓝标商务,2,f,NaN,NaN,4,NaN,NaN,NaN,1003409,456,381,白白胖胖，充满希望！,NaN,NaN
41403,2166358815,球探号,2,m,NaN,NaN,4,NaN,NaN,NaN,1041983,766,933,NaN,NaN,NaN
41404,3769792124,智能家居设计馆,2,f,NaN,NaN,0,NaN,NaN,NaN,1363853,1208,5421,分享家居，智能，电器，设计，创意生活等,NaN,NaN
41405,5128163920,爱车热门排行榜,1,m,NaN,NaN,6,NaN,NaN,NaN,1006841,426,9332,知名汽车博主,微博原创视频博主,NaN

In [15]:
df_kol['kol_id'].values

array([5456865382, 2606919782, 5899491342, ..., 2166358815, 3769792124,
       5128163920], dtype=int64)

In [16]:
df_fan['followed_id'].iloc[0]

7640214702

In [17]:
df_fan['followed_id'].iloc[0] in df_kol['kol_id'].values

False

In [18]:
5456865382 in df_kol['kol_id'].values

True

In [19]:
followed_is_kol = df_fan['followed_id'].apply(lambda x:int(x) in df_kol['kol_id'].values)
followed_is_kol

0        False
1         True
2         True
3         True
4        False
         ...
99995     True
99996    False
99997    False
99998     True
99999     True
Name: followed_id, Length: 100000, dtype: bool

In [20]:
import collections
collections.Counter(followed_is_kol)

Counter({False: 50408, True: 49592})

在10w组关注关系中，有49592个关注中被关注对象是kol

In [21]:
df_fan['followed_is_kol'] = pd.Series(followed_is_kol)
df_fan

                         _id      fan_id  followed_id  followed_is_kol
0      5138022423_7640214702  5138022423   7640214702            False
1      5138022423_6989405838  5138022423   6989405838             True
2      5138022423_6550815288  5138022423   6550815288             True
3      5138022423_6574713134  5138022423   6574713134             True
4      5138022423_6688666511  5138022423   6688666511            False
...                      ...         ...          ...              ...
99995  6046091798_2331498495  6046091798   2331498495             True
99996  7291800090_1751325194  7291800090   1751325194            False
99997  6616516979_2696896431  6616516979   2696896431            False
99998  6046091798_5680841181  6046091798   5680841181             True
99999  7291800090_3791411453  7291800090   3791411453             True

[100000 rows x 4 columns]

- 筛选出follwed_id为kol的用户

In [22]:
df_fan_select = df_fan[df_fan['followed_is_kol'] == True]
df_fan_select = df_fan_select.reset_index(drop=True)
df_fan_select

                         _id      fan_id  followed_id  followed_is_kol
0      5138022423_6989405838  5138022423   6989405838             True
1      5138022423_6550815288  5138022423   6550815288             True
2      5138022423_6574713134  5138022423   6574713134             True
3      5138022423_2199316434  5138022423   2199316434             True
4      5138022423_1831216671  5138022423   1831216671             True
...                      ...         ...          ...              ...
49587  7291800090_6969239104  7291800090   6969239104             True
49588  6046091798_2531936273  6046091798   2531936273             True
49589  6046091798_2331498495  6046091798   2331498495             True
49590  6046091798_5680841181  6046091798   5680841181             True
49591  7291800090_3791411453  7291800090   3791411453             True

[49592 rows x 4 columns]

In [23]:
len(df_fan_select['fan_id'].unique())                #绝大部分用户关注的都有kol 962/967

962

In [24]:
df_fan['followed_id'].values

array([7640214702, 6989405838, 6550815288, ..., 2696896431, 5680841181,
       3791411453], dtype=int64)

In [25]:
df_kol['kol_id'].values

array([5456865382, 2606919782, 5899491342, ..., 2166358815, 3769792124,
       5128163920], dtype=int64)

- merge之前对应两个表格将要匹配的列中的字段数据类型需要保持一致

- 将两个表格中的数据进行联合 pd.merge

In [26]:
df_con = pd.merge(df_fan,df_kol,left_on='followed_id',right_on='kol_id')
df_con

,_id,fan_id,followed_id,followed_is_kol,kol_id,nick_name,user_type,gender,province,city,vip_level,education,work,birthday,fan_num,follow_num,tweet_num,brief_intro,authentication,label
0,5138022423_6989405838,5138022423,6989405838,True,6989405838,威神V_黄旭熙_LUCAS,1,m,其他,NaN,6,NaN,NaN,1999-01-25,4871232,31,236,威神V(WayV)成员,威神V(WayV)成员 Label V旗下艺人,NaN
1,6046089267_6989405838,6046089267,6989405838,True,6989405838,威神V_黄旭熙_LUCAS,1,m,其他,NaN,6,NaN,NaN,1999-01-25,4871232,31,236,威神V(WayV)成员,威神V(WayV)成员 Label V旗下艺人,NaN
2,7203717520_6989405838,7203717520,6989405838,True,6989405838,威神V_黄旭熙_LUCAS,1,m,其他,NaN,6,NaN,NaN,1999-01-25,4871232,31,236,威神V(WayV)成员,威神V(WayV)成员 Label V旗下艺人,NaN
3,5797578181_6989405838,5797578181,6989405838,True,6989405838,威神V_黄旭熙_LUCAS,1,m,其他,NaN,6,NaN,NaN,1999-01-25,4871232,31,236,威神V(WayV)成员,威神V(WayV)成员 Label V旗下艺人,NaN
4,2925529160_6989405838,2925529160,6989405838,True,6989405838,威神V_黄旭熙_LUCAS,1,m,其他,NaN,6,NaN,NaN,1999-01-25,4871232,31,236,威神V(WayV)成员,威神V(WayV)成员 Label V旗下艺人,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49587,5480909318_1916686553,5480909318,1916686553,True,1916686553,全家FamilyMart,1,f,上海,NaN,4,NaN,NaN,2004-04-05,1375974,837,18113,全家FamilyMart，知名连锁便利店，秉着为顾客带去家人般感受的理念。这次为发米们带来四...,上海福满家便利有限公司,"吃货,音乐,全民三餐"
49588,7630490117_6365878790,7630490117,6365878790,True,6365878790,月野妹子,1,f,其他,NaN,6,NaN,NaN,处女座,2238759,185,573,NaN,搞笑幽默博主,NaN
49589,7630490117_2013006481,7630490117,2013006481,True,2013006481,亢岳,1,m,北京,昌平区,7,·北京农学院09级,·Top clean2013年-2020年·北京岳翔蓬勃商贸有限公司,1990-11-30,1432429,1459,23303,Top clean &amp; Topcars 创始人 2011经营洗车店 2013拥有属...,知名汽车博主,"车极致,topclean,amg"
49590,7630490117_1375901554,7630490117,1375901554,True,1375901554,郜爽,1,f,北京,海淀区,7,NaN,·华图教育 华图在线2009年-2021年,摩羯座,1339950,386,6245,爱奋斗，也爱享受。,华图教育教学研究院院长；华图在线教学管理部负责人,"礼仪,言语,面试"
49591,6046091798_2386406982,6046091798,2386406982,True,2386406982,娱乐扒星,1,f,四川,NaN,7,NaN,·--,NaN,3294509,958,15808,网红、明星、电影、电视剧、综艺都是我的最爱。不定时奉上最新消息。,知名综艺博主,"舞蹈,拍照,电影爱好者"

### 将同一用户关注的kol的label以及intro进行聚合

- 直接用groupby聚合 效果不理想

In [27]:
# group_1 = df_con['label'].groupby(df_con['fan_id'])
# df_label_1 = pd.DataFrame(group_1,columns=[['fan_id','label']])
# df_label_1

In [28]:
grouped = df_con.groupby('fan_id')['label']
df_2 = pd.DataFrame(grouped,columns=[['fan_id','label']])
df_2

         fan_id                                              label
0    1011876243  2501                  美图摄影
9159               ...
1    1022362744  1435                 时尚,美女
5946               ...
2    1025509673  627             NaN
749       体育资讯,视频音乐
845   ...
3    1084229683  685                 得瑟,天秤座
739              体育...
4    1175455614  431         美剧控,听音乐,胡思乱想
4693                 ...
..          ...                                                ...
957  7644120857  423           美剧控,听音乐,胡思乱想
8082               ...
958  7645169202  2176              NaN
27848            搞笑幽默
33...
959  7645169378  2181                  NaN
5563                ...
960  7645169599  4243           美食,旅行
7094       名人明星,视频音乐
7606...
961  7645169808  3886                   北京生活
7614              ...

[962 rows x 2 columns]

In [29]:
grouped_i = df_con.groupby('fan_id',as_index=True)['brief_intro']   #as_index默认我True
df_3 = pd.DataFrame(grouped_i,columns=[['fan_id','brief_intro']])
df_3

         fan_id                                        brief_intro
0    1011876243  2501                         人民的好猪，商务联系邮箱：chen...
1    1022362744  1435                      工作联系：lelushwork@king...
2    1025509673  627                      工作联系：李菁  邮箱：lijing@hu...
3    1084229683  685                                           ...
4    1175455614  431                                           ...
..          ...                                                ...
957  7644120857  423                                           ...
958  7645169202  2176                                       明星艺...
959  7645169378  2181                                          ...
960  7645169599  4243                     对着油炸的卡路里许愿，这辈子贪吃不胖！合作...
961  7645169808  3886                                          ...

[962 rows x 2 columns]

In [30]:
def ab(x):
    return '|'.join(map(str,x))
    
df_label = df_con.groupby('fan_id')['label'].apply(ab)
df_label = pd.DataFrame(df_label)
df_label

                                                        label
fan_id
1011876243  美图摄影|酷炫|nan|nan|nan|nan|微整形,嫩肤,光子|电影|nan|nan|自...
1022362744  时尚,美女|nan|IT数码|爱爱人,爱生活|时尚博主,母婴护理,育儿知识|nan|nan|...
1025509673  nan|体育资讯,视频音乐|nan|潮人|K歌,魔兽世界,相声|小说,双鱼座,时尚|平凡小演...
1084229683  得瑟,天秤座|体育资讯,视频音乐|人民日报|K歌,魔兽世界,相声|nan|河南南乐,郭德纲的...
1175455614  美剧控,听音乐,胡思乱想|nan|天秤座,旅游,音乐|宠物图集,摄影师,宠物|吃喝玩乐|教育...
...                                                       ...
7644120857  美剧控,听音乐,胡思乱想|nan|nan|电影解说,电影控,电影迷|微博帮助,玩转微博,微博...
7645169202                      nan|搞笑幽默|nan|吃鸡,游戏达人,和平精英|nan
7645169378  nan|nan|nan|LPL,名人明星,英雄联盟|东南亚菜,烘培,早餐|视频博主,北京人,...
7645169599    美食,旅行|名人明星,视频音乐|nan|搞笑幽默|乐天派,馋,成长的烦恼|东南亚菜,烘培,早餐
7645169808     北京生活|nan|不看正经书,地球往事,懒是人生的动力|时事,品牌,原创|健康,时尚|影评人

[962 rows x 1 columns]

In [31]:
df_intro= df_con.groupby('fan_id')['brief_intro'].apply(lambda x: '|'.join(map(str,x)))
df_intro= pd.DataFrame(df_intro)
df_intro

                                                  brief_intro
fan_id
1011876243  人民的好猪，商务联系邮箱：chengq@ruhnn.com|《愿无岁月可回头》|模特|日常号...
1022362744  工作联系：lelushwork@king-artists.com|nan|nan|一个小女孩...
1025509673  工作联系：李菁  邮箱：lijing@huacemedia.com|U and I。商务洽谈...
1084229683  有趣的灵魂.|U and I。商务洽谈及合作联系：bdyibo@yuehuamusic.co...
1175455614  重庆妹儿💪👩♋️|赛雷三分钟，让天下没有难懂的事情|记录孩子的成長 记录關於她的喜怒哀樂♡|...
...                                                       ...
7644120857  重庆妹儿💪👩♋️|Change Zhou 创始人/服装设计师 时尚/美容博主 工作事宜请私信...
7645169202  明星艺人化妆师|eStar王者荣耀的诺言|虎牙直播间：574359 抖音：Sanbing02...
7645169378  明星艺人化妆师|遇见好吃的，留下有趣的。|大家好我是小猪姐姐～～脸即画布 美即正义|滔搏电子...
7645169599  对着油炸的卡路里许愿，这辈子贪吃不胖！合作QQ：212926668|工作联系邮箱：rjlst...
7645169808  nan|大家好我是小猪姐姐～～脸即画布 美即正义|喜剧编剧|原创数码视频评测博主和科科一起观...

[962 rows x 1 columns]

In [36]:
grouped_authen = df_con.groupby('fan_id')['authentication'].apply(lambda x: '|'.join(map(str,x)))
df_authen = pd.DataFrame(grouped_authen)
df_authen

                                               authentication
fan_id
1011876243  知名美妆博主 微博VLOG博主|微博人气博主|微博知名博主|微博2017、2018、2019...
1022362744  腾讯视频《创造营2021》学员|微博积分官方微博|微博红包|微博VLOG博主 微博原创视频博...
1025509673  THE9成员 虞书欣|UNIQ组合成员；演员，代表作《陪你到世界之巅》、《陈情令》|嘉行传媒...
1084229683  X玖少年团成员；演员，代表作《陈情令》《庆余年》《狼殿下》|UNIQ组合成员；演员，代表作《...
1175455614  微博原创视频博主 时尚达人|知名动漫博主|微博母婴育儿达人  好物发现官 知名母婴育儿博主|...
...                                                       ...
7644120857  微博原创视频博主 时尚达人|时尚达人 Change Zhou服装品牌创始人 微博VLOG博主...
7645169202  彩妆师 微博vlog博主 知名美妆博主|eStar电子竞技俱乐部王者荣耀分部队员|NV腾讯视...
7645169378  彩妆师 微博vlog博主 知名美妆博主|知名美食博主 微博vlog博主 搞笑视频自媒体|美妆...
7645169599  知名美食博主 微博VLOG博主 美食视频自媒体|演员，代表作《锦衣之下》《大唐荣耀》《暮白首...
7645169808  超话社区官方微博|美妆达人 微博故事红人|喜剧编剧|知名数码博主 微博原创视频博主 微博金牌...

[962 rows x 1 columns]

In [37]:
df_label['fan_id'] = df_label.index
df_label['intro_con'] = df_intro['brief_intro']
df_label['authentication'] = df_authen['authentication']
df_fan_kol = df_label.reset_index(drop=True)          #将同一用户关注的kol的label以及intro信息整合到一个表格之中
df_fan_kol

,label,fan_id,intro_con,authentication
0,"美图摄影|酷炫|nan|nan|nan|nan|微整形,嫩肤,光子|电影|nan|nan|自...",1011876243,人民的好猪，商务联系邮箱：chengq@ruhnn.com|《愿无岁月可回头》|模特|日常号...,知名美妆博主 微博VLOG博主|微博人气博主|微博知名博主|微博2017、2018、2019...
1,"时尚,美女|nan|IT数码|爱爱人,爱生活|时尚博主,母婴护理,育儿知识|nan|nan|...",1022362744,工作联系：lelushwork@king-artists.com|nan|nan|一个小女孩...,腾讯视频《创造营2021》学员|微博积分官方微博|微博红包|微博VLOG博主 微博原创视频博...
2,"nan|体育资讯,视频音乐|nan|潮人|K歌,魔兽世界,相声|小说,双鱼座,时尚|平凡小演...",1025509673,工作联系：李菁 邮箱：lijing@huacemedia.com|U and I。商务洽谈...,THE9成员 虞书欣|UNIQ组合成员；演员，代表作《陪你到世界之巅》、《陈情令》|嘉行传媒...
3,"得瑟,天秤座|体育资讯,视频音乐|人民日报|K歌,魔兽世界,相声|nan|河南南乐,郭德纲的...",1084229683,有趣的灵魂.|U and I。商务洽谈及合作联系：bdyibo@yuehuamusic.co...,X玖少年团成员；演员，代表作《陈情令》《庆余年》《狼殿下》|UNIQ组合成员；演员，代表作《...
4,"美剧控,听音乐,胡思乱想|nan|天秤座,旅游,音乐|宠物图集,摄影师,宠物|吃喝玩乐|教育...",1175455614,重庆妹儿💪👩♋️|赛雷三分钟，让天下没有难懂的事情|记录孩子的成長 记录關於她的喜怒哀樂♡|...,微博原创视频博主 时尚达人|知名动漫博主|微博母婴育儿达人 好物发现官 知名母婴育儿博主|...
...,...,...,...,...
957,"美剧控,听音乐,胡思乱想|nan|nan|电影解说,电影控,电影迷|微博帮助,玩转微博,微博...",7644120857,重庆妹儿💪👩♋️|Change Zhou 创始人/服装设计师 时尚/美容博主 工作事宜请私信...,微博原创视频博主 时尚达人|时尚达人 Change Zhou服装品牌创始人 微博VLOG博主...
958,"nan|搞笑幽默|nan|吃鸡,游戏达人,和平精英|nan",7645169202,明星艺人化妆师|eStar王者荣耀的诺言|虎牙直播间：574359 抖音：Sanbing02...,彩妆师 微博vlog博主 知名美妆博主|eStar电子竞技俱乐部王者荣耀分部队员|NV腾讯视...
959,"nan|nan|nan|LPL,名人明星,英雄联盟|东南亚菜,烘培,早餐|视频博主,北京人,...",7645169378,明星艺人化妆师|遇见好吃的，留下有趣的。|大家好我是小猪姐姐～～脸即画布 美即正义|滔搏电子...,彩妆师 微博vlog博主 知名美妆博主|知名美食博主 微博vlog博主 搞笑视频自媒体|美妆...
960,"美食,旅行|名人明星,视频音乐|nan|搞笑幽默|乐天派,馋,成长的烦恼|东南亚菜,烘培,早餐",7645169599,对着油炸的卡路里许愿，这辈子贪吃不胖！合作QQ：212926668|工作联系邮箱：rjlst...,知名美食博主 微博VLOG博主 美食视频自媒体|演员，代表作《锦衣之下》《大唐荣耀》《暮白首...
961,"北京生活|nan|不看正经书,地球往事,懒是人生的动力|时事,品牌,原创|健康,时尚|影评人",7645169808,nan|大家好我是小猪姐姐～～脸即画布 美即正义|喜剧编剧|原创数码视频评测博主和科科一起观...,超话社区官方微博|美妆达人 微博故事红人|喜剧编剧|知名数码博主 微博原创视频博主 微博金牌...

In [38]:
df_fan_kol.columns = [['label_con','fan_id','intro_con','authen_con']]
df_fan_kol = df_fan_kol[['fan_id','label_con','intro_con','authen_con']]    #重命名，交换两列顺序
df_fan_kol

,fan_id,label_con,intro_con,authen_con
0,1011876243,"美图摄影|酷炫|nan|nan|nan|nan|微整形,嫩肤,光子|电影|nan|nan|自...",人民的好猪，商务联系邮箱：chengq@ruhnn.com|《愿无岁月可回头》|模特|日常号...,知名美妆博主 微博VLOG博主|微博人气博主|微博知名博主|微博2017、2018、2019...
1,1022362744,"时尚,美女|nan|IT数码|爱爱人,爱生活|时尚博主,母婴护理,育儿知识|nan|nan|...",工作联系：lelushwork@king-artists.com|nan|nan|一个小女孩...,腾讯视频《创造营2021》学员|微博积分官方微博|微博红包|微博VLOG博主 微博原创视频博...
2,1025509673,"nan|体育资讯,视频音乐|nan|潮人|K歌,魔兽世界,相声|小说,双鱼座,时尚|平凡小演...",工作联系：李菁 邮箱：lijing@huacemedia.com|U and I。商务洽谈...,THE9成员 虞书欣|UNIQ组合成员；演员，代表作《陪你到世界之巅》、《陈情令》|嘉行传媒...
3,1084229683,"得瑟,天秤座|体育资讯,视频音乐|人民日报|K歌,魔兽世界,相声|nan|河南南乐,郭德纲的...",有趣的灵魂.|U and I。商务洽谈及合作联系：bdyibo@yuehuamusic.co...,X玖少年团成员；演员，代表作《陈情令》《庆余年》《狼殿下》|UNIQ组合成员；演员，代表作《...
4,1175455614,"美剧控,听音乐,胡思乱想|nan|天秤座,旅游,音乐|宠物图集,摄影师,宠物|吃喝玩乐|教育...",重庆妹儿💪👩♋️|赛雷三分钟，让天下没有难懂的事情|记录孩子的成長 记录關於她的喜怒哀樂♡|...,微博原创视频博主 时尚达人|知名动漫博主|微博母婴育儿达人 好物发现官 知名母婴育儿博主|...
...,...,...,...,...
957,7644120857,"美剧控,听音乐,胡思乱想|nan|nan|电影解说,电影控,电影迷|微博帮助,玩转微博,微博...",重庆妹儿💪👩♋️|Change Zhou 创始人/服装设计师 时尚/美容博主 工作事宜请私信...,微博原创视频博主 时尚达人|时尚达人 Change Zhou服装品牌创始人 微博VLOG博主...
958,7645169202,"nan|搞笑幽默|nan|吃鸡,游戏达人,和平精英|nan",明星艺人化妆师|eStar王者荣耀的诺言|虎牙直播间：574359 抖音：Sanbing02...,彩妆师 微博vlog博主 知名美妆博主|eStar电子竞技俱乐部王者荣耀分部队员|NV腾讯视...
959,7645169378,"nan|nan|nan|LPL,名人明星,英雄联盟|东南亚菜,烘培,早餐|视频博主,北京人,...",明星艺人化妆师|遇见好吃的，留下有趣的。|大家好我是小猪姐姐～～脸即画布 美即正义|滔搏电子...,彩妆师 微博vlog博主 知名美妆博主|知名美食博主 微博vlog博主 搞笑视频自媒体|美妆...
960,7645169599,"美食,旅行|名人明星,视频音乐|nan|搞笑幽默|乐天派,馋,成长的烦恼|东南亚菜,烘培,早餐",对着油炸的卡路里许愿，这辈子贪吃不胖！合作QQ：212926668|工作联系邮箱：rjlst...,知名美食博主 微博VLOG博主 美食视频自媒体|演员，代表作《锦衣之下》《大唐荣耀》《暮白首...
961,7645169808,"北京生活|nan|不看正经书,地球往事,懒是人生的动力|时事,品牌,原创|健康,时尚|影评人",nan|大家好我是小猪姐姐～～脸即画布 美即正义|喜剧编剧|原创数码视频评测博主和科科一起观...,超话社区官方微博|美妆达人 微博故事红人|喜剧编剧|知名数码博主 微博原创视频博主 微博金牌...

In [39]:
df_fan_kol.to_csv('D:/datasets/qianyi/user_label/file/fan_kol_label.csv',index=False)