1. 获取非水军用户的ID
2. 获取用户的个人信息，缺失值信息统计
3. 缺失值填充 
- a. 性别、vip等级
- b. 省份、城市
- c. 年龄、生日

## 模块导入,文件处理

In [1]:
import time
import pandas as pd
from tqdm import tqdm

In [2]:
from connect_database import *
from get_mongo_table import get_mongo_table
from tweet_clean_select import tweet_clean_select
import tweet_select_by_keywords
from tweet_select_by_keywords import tweet_select_by_keywords

In [ ]:
province_list = [i.strip('\n') for i in open('province_name.txt',encoding='utf-8').readlines()]  #23个省（含台湾）与5个自治区（含新疆），不包含直辖市与特别行政区
province_list

In [ ]:
province_relate_list = ['我们'+province for province in province_list]
province_relate_list

In [ ]:
city_list = [i.strip('\n') for i in open('city_name.txt',encoding='utf-8-sig').readlines()]    #包含直辖市以及香港、澳门
city_list

In [ ]:
city_relate_list = ['我们'+city_name for city_name in city_list]
city_relate_list

In [100]:
def get_city_name(x):
    for i in city_relate_list:
        if i in x:
            return i.strip('我们')                                    #通过关键词匹配到的帖子获取对应的城市，传入用户帖子

## 获取非水军用户

In [3]:
%%time
print('开始获取非水军用户ID...')

post_db_table_name = "2th100w_water_remove"
post_host = '10.8.10.23'
post_port = '5432'
post_user = 'postgres'
post_password = 'qianyi'
post_db_name = 'wb_data'
conn = conn_postgresql(post_db_name, post_user, post_password, post_host, post_port)[0]          #连接pgsql数据库
sql = 'select _id from "2th100w_water_remove" where is_water = False'
df_id_dewater = pd.read_sql(sql, conn)

print('非水军用户ID获取完毕；')

开始获取非水军用户ID...
非水军用户ID获取完毕；
Wall time: 4.45 s

## 获取用户个人信息、缺失值统计

In [4]:
print('获取用户个人信息，缺失值统计...')
mongo_db_host = 'mongodb://userreadwrite:qianyi7785@s-uf655e99dcae9134.mongodb.rds.aliyuncs.com:3717,s-uf6a7793442edc04.mongodb.rds.aliyuncs.com:3717/admin?authSource=admin&readPreference=primary&appname=MongoDB%20Compass&ssl=false'
mongo_db_name = 'weibo'
mongo_db_table = 'user'  # 获取用户个人信息
list_dewater = list(df_id_dewater._id)
condition = {'_id': {'$in': list_dewater}}
content = {'_id': 1, 'gender': 1, 'province': 1, 'city': 1, 'nick_name': 1, 'birthday': 1,
               'vip_level': 1, 'fan_num': 1, 'follow_num': 1, 'tweet_num': 1, 'education': 1, 'work': 1}
try:
    db_dewater_user = get_mongo_table(mongo_db_host,
                                          mongo_db_name,
                                          mongo_db_table,
                                          condition,
                                          content)
    df_dewater_user = pd.DataFrame(db_dewater_user)                               #原始拉取的用户信息表格
except pymongo.errors.ServerSelectionTimeoutError as e:
    print('连接mongo数据库异常')
print('缺失值统计结果：{}'.format(df_dewater_user.isna().sum()))

获取用户个人信息，缺失值统计...
缺失值统计结果：_id                0
city          285856
education     416508
fan_num            0
follow_num         0
gender             4
nick_name          0
province        1369
tweet_num          0
vip_level          4
work          464174
birthday      165991
dtype: int64

In [5]:
df_dewater_user

,_id,city,education,fan_num,follow_num,gender,nick_name,province,tweet_num,vip_level,work,birthday
0,1961482262,十堰,湖北职业技术学院,93,311,女,{'1629216639': '墙会对她说话'},湖北,932,0,None,NaN
1,3509008372,NaN,None,83,305,女,{'1629217432': '颖颖3509008372'},其他,88,0,None,NaN
2,7487142688,杭州,None,3,313,女,{'1629216507': '木子一千斤'},浙江,26,0,None,NaN
3,7585398022,NaN,None,1,11,女,{'1629219383': '丧尸少女FF'},上海,76,0,None,2000-6-1
4,5412688833,NaN,海南医学院,291,489,男,{'1629217642': '爱辅猫的猪猪'},其他,1052,0,None,1900-5-20
...,...,...,...,...,...,...,...,...,...,...,...,...
483818,3093976015,六安,None,663,508,女,{'1629215737': 'L蕶芕'},安徽,725,0,护肤品推荐达人,1988-11-5
483819,7271160779,NaN,None,3,263,女,{'1629215908': '小甜糖糕'},其他,212,0,None,NaN
483820,5605790623,乌鲁木齐,None,3,162,男,{'1629215971': 'eilHam-'},新疆,16,0,None,2015-6-29
483821,6509227245,NaN,None,1,263,男,{'1629215769': '海口ins'},其他,3,0,None,双鱼
483822,2779695541,厦门,仰恩大学,3615,525,女,{'1629216130': '吃很少'},福建,245,7,美少女岚,2019-6-11

In [6]:
df_dewater_user_filling = df_dewater_user                                          #填充后的用户信息表格
df_dewater_user_filling

,_id,city,education,fan_num,follow_num,gender,nick_name,province,tweet_num,vip_level,work,birthday
0,1961482262,十堰,湖北职业技术学院,93,311,女,{'1629216639': '墙会对她说话'},湖北,932,0,None,NaN
1,3509008372,NaN,None,83,305,女,{'1629217432': '颖颖3509008372'},其他,88,0,None,NaN
2,7487142688,杭州,None,3,313,女,{'1629216507': '木子一千斤'},浙江,26,0,None,NaN
3,7585398022,NaN,None,1,11,女,{'1629219383': '丧尸少女FF'},上海,76,0,None,2000-6-1
4,5412688833,NaN,海南医学院,291,489,男,{'1629217642': '爱辅猫的猪猪'},其他,1052,0,None,1900-5-20
...,...,...,...,...,...,...,...,...,...,...,...,...
483818,3093976015,六安,None,663,508,女,{'1629215737': 'L蕶芕'},安徽,725,0,护肤品推荐达人,1988-11-5
483819,7271160779,NaN,None,3,263,女,{'1629215908': '小甜糖糕'},其他,212,0,None,NaN
483820,5605790623,乌鲁木齐,None,3,162,男,{'1629215971': 'eilHam-'},新疆,16,0,None,2015-6-29
483821,6509227245,NaN,None,1,263,男,{'1629215769': '海口ins'},其他,3,0,None,双鱼
483822,2779695541,厦门,仰恩大学,3615,525,女,{'1629216130': '吃很少'},福建,245,7,美少女岚,2019-6-11

# 缺失值填充

## 1. 性别、vip-level

In [7]:
df_gender_missing = df_dewater_user[df_dewater_user.gender.isna()]
df_gender_missing

,_id,city,education,fan_num,follow_num,gender,nick_name,province,tweet_num,vip_level,work,birthday
89777,7371040842,NaN,NaN,2,142,NaN,{'1629215970': '彳鑫亍'},NaN,45,NaN,NaN,NaN
152212,6598744239,NaN,NaN,4,61,NaN,{'1629218687': '盐水舍长'},NaN,84,NaN,NaN,NaN
231755,7397195201,NaN,NaN,1,208,NaN,{'1629215970': '佳佳Dream5776'},NaN,24,NaN,NaN,NaN
301842,6112447237,NaN,NaN,23,1908,NaN,{'1629215971': '掉落把花'},NaN,13,NaN,NaN,NaN

**人工校验性别、vip_level**

In [8]:
gender_data = {'user_id':['7371040842','6598744239','7397195201','6112447237'],
                          'gender':['男','女','女','女']}
vip_data = {'user_id':['7371040842','6598744239','7397195201','6112447237'],
                          'vip_level':[0,0,0,0]}

In [33]:
df_gender_data = pd.DataFrame(gender_data)
df_gender_data

      user_id gender
0  7371040842      男
1  6598744239      女
2  7397195201      女
3  6112447237      女

In [11]:
df_vip_data = pd.DataFrame(vip_data)
df_vip_data

      user_id  vip_level
0  7371040842          0
1  6598744239          0
2  7397195201          0
3  6112447237          0

In [13]:
df_dewater_user

,_id,city,education,fan_num,follow_num,gender,nick_name,province,tweet_num,vip_level,work,birthday
0,1961482262,十堰,湖北职业技术学院,93,311,女,{'1629216639': '墙会对她说话'},湖北,932,0,None,NaN
1,3509008372,NaN,None,83,305,女,{'1629217432': '颖颖3509008372'},其他,88,0,None,NaN
2,7487142688,杭州,None,3,313,女,{'1629216507': '木子一千斤'},浙江,26,0,None,NaN
3,7585398022,NaN,None,1,11,女,{'1629219383': '丧尸少女FF'},上海,76,0,None,2000-6-1
4,5412688833,NaN,海南医学院,291,489,男,{'1629217642': '爱辅猫的猪猪'},其他,1052,0,None,1900-5-20
...,...,...,...,...,...,...,...,...,...,...,...,...
483818,3093976015,六安,None,663,508,女,{'1629215737': 'L蕶芕'},安徽,725,0,护肤品推荐达人,1988-11-5
483819,7271160779,NaN,None,3,263,女,{'1629215908': '小甜糖糕'},其他,212,0,None,NaN
483820,5605790623,乌鲁木齐,None,3,162,男,{'1629215971': 'eilHam-'},新疆,16,0,None,2015-6-29
483821,6509227245,NaN,None,1,263,男,{'1629215769': '海口ins'},其他,3,0,None,双鱼
483822,2779695541,厦门,仰恩大学,3615,525,女,{'1629216130': '吃很少'},福建,245,7,美少女岚,2019-6-11

In [19]:
df_filling_one = df_dewater_user
df_filling_one[df_filling_one._id.isin(df_gender_data.user_id)]

,_id,city,education,fan_num,follow_num,gender,nick_name,province,tweet_num,vip_level,work,birthday
89777,7371040842,NaN,NaN,2,142,NaN,{'1629215970': '彳鑫亍'},NaN,45,NaN,NaN,NaN
152212,6598744239,NaN,NaN,4,61,NaN,{'1629218687': '盐水舍长'},NaN,84,NaN,NaN,NaN
231755,7397195201,NaN,NaN,1,208,NaN,{'1629215970': '佳佳Dream5776'},NaN,24,NaN,NaN,NaN
301842,6112447237,NaN,NaN,23,1908,NaN,{'1629215971': '掉落把花'},NaN,13,NaN,NaN,NaN

In [34]:
df_gender_data['gender']

0    男
1    女
2    女
3    女
Name: gender, dtype: object

In [40]:
# df_filling_one[df_filling_one._id.isin(df_gender_data.user_id)]['gender'] = df_gender_data['gender']            #根据条件赋值，这种写法不允许
df_filling_one.loc[df_filling_one._id.isin(df_gender_data.user_id),'gender'] = ['男','女','女','女']
df_filling_one[df_filling_one._id.isin(df_gender_data.user_id)]

,_id,city,education,fan_num,follow_num,gender,nick_name,province,tweet_num,vip_level,work,birthday
89777,7371040842,NaN,NaN,2,142,男,{'1629215970': '彳鑫亍'},NaN,45,NaN,NaN,NaN
152212,6598744239,NaN,NaN,4,61,女,{'1629218687': '盐水舍长'},NaN,84,NaN,NaN,NaN
231755,7397195201,NaN,NaN,1,208,女,{'1629215970': '佳佳Dream5776'},NaN,24,NaN,NaN,NaN
301842,6112447237,NaN,NaN,23,1908,女,{'1629215971': '掉落把花'},NaN,13,NaN,NaN,NaN

In [42]:
df_filling_one.gender.isna().sum()

0

In [43]:
df_filling_one.loc[df_filling_one._id.isin(df_gender_data.user_id),'vip_level'] = [0,0,0,0]
df_filling_one[df_filling_one._id.isin(df_gender_data.user_id)]

,_id,city,education,fan_num,follow_num,gender,nick_name,province,tweet_num,vip_level,work,birthday
89777,7371040842,NaN,NaN,2,142,男,{'1629215970': '彳鑫亍'},NaN,45,0,NaN,NaN
152212,6598744239,NaN,NaN,4,61,女,{'1629218687': '盐水舍长'},NaN,84,0,NaN,NaN
231755,7397195201,NaN,NaN,1,208,女,{'1629215970': '佳佳Dream5776'},NaN,24,0,NaN,NaN
301842,6112447237,NaN,NaN,23,1908,女,{'1629215971': '掉落把花'},NaN,13,0,NaN,NaN

In [46]:
df_filling_one.vip_level.isna().sum()

0

## 2.省份、城市

### 省份

**根据用户帖子中出现含省份的关键词对部分缺失省份的用户进行填充**“

In [47]:
df_province_missing_user = df_dewater_user[df_dewater_user.province.isna()]
list_province_missing = list(df_province_missing_user._id)                             #缺失省份的用户ID

In [50]:
%%time
mongo_db_table = 'tweet_user'                                                             #获取用户个人信息
condition = {'user_id':{'$in':list_province_missing}}
content = {'_id': 1,'birthday':1,'vip_level':1,'like_num':1,'repost_num':1,'comment_num':1,'content':1,'user_id':1}

try:
    db_province_missing_tweet = get_mongo_table(mongo_db_host,
                                      mongo_db_name,
                                      mongo_db_table,
                                      condition,
                                      content)
    df_province_missing_tweet = pd.DataFrame(db_province_missing)
except pymongo.errors.ServerSelectionTimeoutError as e:
    print('连接异常')

Wall time: 5.98 ms

In [51]:
df_province_missing_tweet

,_id,like_num,repost_num,comment_num,user_id,content
0,Krc8Ca8Qd,0,0,0,1001229507,NaN
1,KqdMJrYJv,0,0,0,1001229507,欧洲最新炫彩超现化妆🌲
2,KqdOa4MCS,1,1,2,1001229507,The picture最新秋季外衣牛人必选
3,KjbSOuD1m,1,0,0,1001229507,墨尔本在线画廊Montage今日发布托马姿·海因的数码拼贴画《美丽的僵尸》以飨同好。感谢互联...
4,Kn1gek3fg,0,0,0,1001229507,🇬🇧粗花呢Linton2022嘎画册前期拍摄完工，为香奈儿御用面料模特瑞拉留影。
...,...,...,...,...,...,...
61451,KrXVs3d8x,0,0,0,7664946325,这简直太好了，出差不担心
61452,KrXVocF5I,0,0,0,7664946325,很好~帮忙转发了啦
61453,KrVUDli82,0,0,0,7664946325,转发微博
61454,KrRidwdpu,0,0,0,7664946325,我的妈呀，好帅啊
61455,KrVUGBiKy,0,0,0,7664946325,转发微博

In [52]:
len(df_province_missing.user_id.unique())                                #根据帖子拉取到833个用户

833

### 帖子清洗与关键词匹配

In [51]:
province_list = [i.strip('\n') for i in open('province_name.txt',encoding='utf-8').readlines()]  #23个省（含台湾）与5个自治区（含新疆），不包含直辖市与特别行政区
province_list

['新疆',
 '内蒙古',
 '西藏',
 '宁夏',
 '黑龙江',
 '吉林',
 '辽宁',
 '甘肃',
 '青海',
 '四川',
 '广西',
 '贵州',
 '广东',
 '海南',
 '福建',
 '台湾',
 '江西',
 '安徽',
 '湖北',
 '湖南',
 '河北',
 '河南',
 '山东',
 '江苏',
 '浙江',
 '山西',
 '陕西',
 '云南']

In [54]:
province_relate_list = ['我们'+province for province in province_list]
province_relate_list

['我们新疆',
 '我们内蒙古',
 '我们西藏',
 '我们宁夏',
 '我们黑龙江',
 '我们吉林',
 '我们辽宁',
 '我们甘肃',
 '我们青海',
 '我们四川',
 '我们广西',
 '我们贵州',
 '我们广东',
 '我们海南',
 '我们福建',
 '我们台湾',
 '我们江西',
 '我们安徽',
 '我们湖北',
 '我们湖南',
 '我们河北',
 '我们河南',
 '我们山东',
 '我们江苏',
 '我们浙江',
 '我们山西',
 '我们陕西',
 '我们云南']

In [52]:
len(province_list)

28

In [53]:
#帖子清洗与筛选
df_province_missing_clean = tweet_clean_select(df_province_missing)
df_province_missing_clean

D:\datasets\qianyi\date\20210927-20210930\tweet_clean_select.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  df['content_clean'] = df['content'].str.replace(r"\d+/\d+/\d+|", '') \
D:\datasets\qianyi\date\20210927-20210930\tweet_clean_select.py:22: FutureWarning: The default value of regex will change from True to False in a future version.
  df['content_clean'] = df['content_clean'].str.replace(u"\\[.*?]",'') # 删除【】和【】中的表情
D:\datasets\qianyi\date\20210927-20210930\tweet_clean_select.py:24: FutureWarning: The default value of regex will change from True to False in a future version.
  df['content_clean'] = df['content_clean'].str.replace(u"\\#.*?#",'') # 删除#号和#间的话题

,_id,like_num,repost_num,comment_num,user_id,content,content_clean,content_clean_length
0,Krc8Ca8Qd,0,0,0,1001229507,nan,nan,3
1,KqdMJrYJv,0,0,0,1001229507,欧洲最新炫彩超现化妆🌲,欧洲最新炫彩超现化妆🌲,13
2,KqdOa4MCS,1,1,2,1001229507,The picture最新秋季外衣牛人必选,The picture最新秋季外衣牛人必选,23
3,KjbSOuD1m,1,0,0,1001229507,墨尔本在线画廊Montage今日发布托马姿·海因的数码拼贴画《美丽的僵尸》以飨同好。感谢互联...,墨尔本在线画廊Montage今日发布托马姿·海因的数码拼贴画《美丽的僵尸》以飨同好。感谢互联...,63
4,Kn1gek3fg,0,0,0,1001229507,🇬🇧粗花呢Linton2022嘎画册前期拍摄完工，为香奈儿御用面料模特瑞拉留影。,🇬🇧粗花呢Linton2022嘎画册前期拍摄完工，为香奈儿御用面料模特瑞拉留影。,42
...,...,...,...,...,...,...,...,...
41975,Ks1Ao9VDz,0,0,0,7664946325,支持了，这些国货很好用的,支持了，这些国货很好用的,12
41976,KrVUByPsH,0,0,0,7664946325,我觉得能把爱好当工作的人，也是一种幸福吧。,我觉得能把爱好当工作的人，也是一种幸福吧。,21
41977,KrRibFkYz,0,0,0,7664946325,是对的，多一条走路,是对的，多一条走路,9
41978,KrVUAp3AI,0,0,0,7664946325,好适合去度假的妆容,好适合去度假的妆容,9
41979,KrRi8ddYc,0,0,0,7664946325,这一次真的是让我剁手的节奏呀。,这一次真的是让我剁手的节奏呀。,15

- 直接匹配含有省份名的帖子

In [55]:
df_before_match = df_province_missing_clean
column_name = 'content_clean'
kind_list = province_list
df_province_match = tweet_select_by_keywords(df_before_match,kind_list,column_name)
df_province_match

100%|██████████████████████████████████████████████████████████████████████████████████| 27/27 [00:00<00:00, 45.80it/s]

,_id,like_num,repost_num,comment_num,user_id,content,content_clean,content_clean_length
0,Kr6abipiF,0,0,0,2919114051,#优衣库kaws联名#新疆棉🚬🚬🚬🚬🚬,优衣库kaws联名新疆棉🚬🚬🚬🚬🚬,18
1,KluByj9V6,0,0,0,5350557408,#相聚诚之旅##慢旅行吧# 新疆喀纳斯，神仙打卡地 山东诚之旅的微博视频,相聚诚之旅慢旅行吧 新疆喀纳斯，神仙打卡地,23
2,Kgll4mRz1,0,0,0,5350557408,#相聚诚之旅##慢旅行吧# 西藏、新疆,相聚诚之旅慢旅行吧 西藏、新疆,17
3,KoSgJz8qu,0,0,0,5548143592,种草威海了😢//@休闲璐:网友一直在给我深度种草威海，动心了//@M大王叫我来巡山:新疆是真...,种草威海了😢// 新疆和敦煌都很美，我记得我在莫高窟里看哭了,30
4,Kg2CQEOpV,0,0,0,7400266583,新疆美不美,新疆美不美,6
...,...,...,...,...,...,...,...,...
395,Ko3NFuIT1,4,0,1,5999017886,#云南吃毒蘑菇中毒顺口溜#吃伞伞,云南吃毒蘑菇中毒顺口溜吃伞伞,16
396,KrBVhjuV0,0,0,0,7660712394,有空去云南就更好了。,有空去云南就更好了。,10
397,Ksb4s1y9N,0,0,0,7663652459,享受云南的旅行真的很棒了，也喜欢。,享受云南的旅行真的很棒了，也喜欢。,17
398,KsPRR44TP,0,0,0,1935995892,我想去云南呀，天天有看不完的发呀,我想去云南呀，天天有看不完的发呀,16
399,Ktp4T3zyG,0,0,0,7281068803,真的是等了很久了呢 今天上线的日子 简直不要太期待了呀 ，今晚可以和阿朱过七夕吧//@苏青工...,真的是等了很久了呢 今天上线的日子 简直不要太期待了呀 ，今晚可以和阿朱过七夕吧// 苏青天...,91

In [58]:
len(df_province_match.user_id.unique())

125

- 通过含有省份的关键词匹配相应的帖子

In [56]:
kind_list = province_relate_list
df_province_select = tweet_select_by_keywords(df_before_match,kind_list,column_name)
df_province_select = df_province_select.sort_values('user_id')
df_province_select = df_province_select.reset_index(drop=True)
df_province_select

100%|██████████████████████████████████████████████████████████████████████████████████| 27/27 [00:00<00:00, 53.57it/s]

,_id,like_num,repost_num,comment_num,user_id,content,content_clean,content_clean_length
0,Kq8VYn7Ep,0,0,0,1738453633,我本来就听不了这种东西，最近我们河南还这样，直接哭全场。,我本来就听不了这种东西，最近我们河南还这样，直接哭全场。,28
1,Kfs1t82qe,0,0,0,1935995892,想去新疆。我们新疆好地方啊,想去新疆。我们新疆好地方啊,13
2,Ktj9lD0bm,0,0,0,2305229967,我们河南卫视太争气啦！,我们河南卫视太争气啦！,11

In [67]:
df_province_match[df_province_match['user_id']=='1935995892']

,_id,like_num,repost_num,comment_num,user_id,content,content_clean,content_clean_length
5,Kfs1t82qe,0,0,0,1935995892,想去新疆。我们新疆好地方啊,想去新疆。我们新疆好地方啊,13
51,KpFbT7zl4,0,0,0,1935995892,回复@张大方201712:就是，我北方人都看不下去了，大老爷们在上面却让个女娃动手然后还叽叽...,:就是，我北方人都看不下去了，大老爷们在上面却让个女娃动手然后还叽叽歪歪的。编的好。//我，...,71
58,KtziVvDHW,0,0,0,1935995892,我吃过，真没觉得好吃呀。想不通为啥广东人那么爱吃。,我吃过，真没觉得好吃呀。想不通为啥广东人那么爱吃。,25
82,Kly24kMu3,0,0,0,1935995892,真是勇敢的台湾同胞。,真是勇敢的台湾同胞。,10
84,Kt7a9aED9,0,0,0,1935995892,事实摆在那里，不想承认也是白搭。不服气你们台湾人也跑个9秒83回来。,事实摆在那里，不想承认也是白搭。不服气你们台湾人也跑个9秒83回来。,34
85,KpawaaX0Q,0,0,0,1935995892,不想呆的都滚蛋，香港是中国的，台湾是中国的，决不可分割！！！！！,不想呆的都滚蛋，香港是中国的，台湾是中国的，决不可分割！！！！！,32
144,KimkcqMCG,0,1,1,1935995892,这新冠疫苗全国各地还真是分布不均，大北京用不完，凭身份证手机可以在任意注射点打，而百公里以外...,这新冠疫苗全国各地还真是分布不均，大北京用不完，凭身份证手机可以在任意注射点打，而百公里以外...,151
151,Kqh4d92Mr,0,0,0,1935995892,好吓人的洪水，但河南有好温暖的人。,好吓人的洪水，但河南有好温暖的人。,17
152,KjhBjxALh,0,0,0,1935995892,象群不会还想再往北吧？//@非洲的青山TANAPA:灭绝了，河南地界上曾经分布的应该是师氏剑...,象群不会还想再往北吧？//灭绝了，河南地界上曾经分布的应该是师氏剑齿象、乳齿象和猛犸象等//...,57
153,KhHdd77PV,0,0,0,1935995892,河南人口多，是挺吃亏的。,河南人口多，是挺吃亏的。,12
211,KmA109RF6,0,0,0,1935995892,很多河南人世代就是抓猴训猴耍猴，最后被猴抓掉一个耳朵。有篇小说写的,很多河南人世代就是抓猴训猴耍猴，最后被猴抓掉一个耳朵。有篇小说写的,33
350,KrRteFHTS,0,0,0,1935995892,好样儿的，中国山东姑娘。,好样儿的，中国山东姑娘。,12
398,KsPRR44TP,0,0,0,1935995892,我想去云南呀，天天有看不完的发呀,我想去云南呀，天天有看不完的发呀,16

In [73]:
df_province_match[df_province_match['user_id']=='1935995892'].content_clean.str.contains('我们')

5       True
51     False
58     False
82     False
84     False
85     False
144     True
151    False
152    False
153    False
211    False
350    False
398    False
Name: content_clean, dtype: bool

In [74]:
df_province_match['content'].iloc[144]

'这新冠疫苗全国各地还真是分布不均，大北京用不完，凭身份证手机可以在任意注射点打，而百公里以外的河北农村，只是用车拉着老人去三公里外的注射点打了第一针第二针就迟迟跟不上了，不但没有了车，还每天只有40支，眼看我们老太太都过了五周了还是不给打，今托了我同学，但根本没有苗可打。早知道我还不如接老人去北京打。'

**结合人工校验获取到下列信息**

In [78]:
province_dict = {'user_id':['5604648163','7334077195','1704870820','1935995892','2305229967','7536330726',
                           '1738453633'],
                 'province':['四川','浙江','山西','河北','河南','山东','河南']}

In [79]:
df_province_data = pd.DataFrame(province_dict)
df_province_data

      user_id province
0  5604648163       四川
1  7334077195       浙江
2  1704870820       山西
3  1935995892       河北
4  2305229967       河南
5  7536330726       山东
6  1738453633       河南

In [80]:
df_filling_two = df_filling_one
df_filling_two[df_filling_two._id.isin(df_province_data.user_id)]

,_id,city,education,fan_num,follow_num,gender,nick_name,province,tweet_num,vip_level,work,birthday
89178,1738453633,NaN,None,132,424,女,{'1629215737': '洛家小白'},NaN,35250,7,None,NaN
94180,7334077195,NaN,None,46,971,女,{'1629215854': '深夜幽会周泽楷'},NaN,9612,0,蓝雨俱乐部,NaN
266301,1704870820,NaN,None,544,447,女,{'1629215726': '甜懒猫'},NaN,1126,0,None,NaN
278324,5604648163,NaN,None,492,296,女,{'1629215881': 'shouhuxiaorong'},NaN,6891,3,None,NaN
347990,7536330726,NaN,None,3,62,女,{'1629217312': '慢音琴行'},NaN,106,0,None,NaN
364187,1935995892,NaN,None,596,929,女,{'1629217312': '优之味WISHES'},NaN,23460,0,None,NaN
461331,2305229967,NaN,None,297,654,女,{'1629217783': 'wendy-小熊跳舞的娃娃'},NaN,5541,0,None,NaN

In [81]:
df_province_data['province']

0    四川
1    浙江
2    山西
3    河北
4    河南
5    山东
6    河南
Name: province, dtype: object

In [82]:
# df_filling_two[df_filling_two._id.isin(df_province_data.user_id)]['province'] = df_province_data['province']            #根据条件赋值，这种写法不允许
# df_filling_two.loc[df_filling_two._id.isin(df_province_data.user_id),'province'] = df_province_data['province']           #此种写法无效
df_filling_two.loc[df_filling_two._id.isin(df_province_data.user_id),'province'] = ['四川','浙江','山西','河北','河南','山东','河南']           #此种写法无效
df_filling_two[df_filling_two._id.isin(df_province_data.user_id)]

,_id,city,education,fan_num,follow_num,gender,nick_name,province,tweet_num,vip_level,work,birthday
89178,1738453633,NaN,None,132,424,女,{'1629215737': '洛家小白'},四川,35250,7,None,NaN
94180,7334077195,NaN,None,46,971,女,{'1629215854': '深夜幽会周泽楷'},浙江,9612,0,蓝雨俱乐部,NaN
266301,1704870820,NaN,None,544,447,女,{'1629215726': '甜懒猫'},山西,1126,0,None,NaN
278324,5604648163,NaN,None,492,296,女,{'1629215881': 'shouhuxiaorong'},河北,6891,3,None,NaN
347990,7536330726,NaN,None,3,62,女,{'1629217312': '慢音琴行'},河南,106,0,None,NaN
364187,1935995892,NaN,None,596,929,女,{'1629217312': '优之味WISHES'},山东,23460,0,None,NaN
461331,2305229967,NaN,None,297,654,女,{'1629217783': 'wendy-小熊跳舞的娃娃'},河南,5541,0,None,NaN

In [83]:
df_filling_two.province.isna().sum()

1362

### 城市

In [84]:
df_city_missing = df_dewater_user[df_dewater_user.city.isna()]

In [85]:
df_city_missing

,_id,city,education,fan_num,follow_num,gender,nick_name,province,tweet_num,vip_level,work,birthday
1,3509008372,NaN,None,83,305,女,{'1629217432': '颖颖3509008372'},其他,88,0,None,NaN
3,7585398022,NaN,None,1,11,女,{'1629219383': '丧尸少女FF'},上海,76,0,None,2000-6-1
4,5412688833,NaN,海南医学院,291,489,男,{'1629217642': '爱辅猫的猪猪'},其他,1052,0,None,1900-5-20
5,7200703586,NaN,None,1,15,男,{'1629217537': 'finnqif集'},其他,2,0,None,NaN
6,6310013926,NaN,None,107,340,男,{'1629217537': '薛少蔚'},其他,83,0,None,天秤
...,...,...,...,...,...,...,...,...,...,...,...,...
483812,3672897617,NaN,None,787,1675,女,{'1629215858': 'Mxcdink'},北京,533,0,None,巨蟹
483813,3024827594,NaN,None,42,536,女,{'1629217303': '釁鶡'},天津,391,0,None,1999-9-9
483816,2025468463,NaN,None,100,609,女,{'1629215723': '肖_可可'},湖北,1776,0,None,射手
483819,7271160779,NaN,None,3,263,女,{'1629215908': '小甜糖糕'},其他,212,0,None,NaN
483821,6509227245,NaN,None,1,263,男,{'1629215769': '海口ins'},其他,3,0,None,双鱼

In [86]:
municipality_list = ['北京','上海','天津','重庆']

In [87]:
len_municipa = len(df_city_missing[df_city_missing['province'].isin(municipality_list)])     #通过直辖市省份名与城市名相同填充26125个用户
len_municipa

26125

In [88]:
df_remove_municipality = df_city_missing[-df_city_missing['province'].isin(municipality_list)]
df_remove_municipality

,_id,city,education,fan_num,follow_num,gender,nick_name,province,tweet_num,vip_level,work,birthday
1,3509008372,NaN,None,83,305,女,{'1629217432': '颖颖3509008372'},其他,88,0,None,NaN
4,5412688833,NaN,海南医学院,291,489,男,{'1629217642': '爱辅猫的猪猪'},其他,1052,0,None,1900-5-20
5,7200703586,NaN,None,1,15,男,{'1629217537': 'finnqif集'},其他,2,0,None,NaN
6,6310013926,NaN,None,107,340,男,{'1629217537': '薛少蔚'},其他,83,0,None,天秤
8,3974150536,NaN,None,213,466,女,{'1629217642': 'Mint婷婷'},广东,99,0,None,1998-2-5
...,...,...,...,...,...,...,...,...,...,...,...,...
483810,5555533978,NaN,None,27,226,女,{'1629217303': '芝士乌龙桃桃乐'},其他,164,0,None,NaN
483811,3619590433,None,None,189,354,女,{'1629218506': 'Matchania'},其他,961,2,None,1998-10-14
483816,2025468463,NaN,None,100,609,女,{'1629215723': '肖_可可'},湖北,1776,0,None,射手
483819,7271160779,NaN,None,3,263,女,{'1629215908': '小甜糖糕'},其他,212,0,None,NaN
483821,6509227245,NaN,None,1,263,男,{'1629215769': '海口ins'},其他,3,0,None,双鱼

In [89]:
#分为三个批次分别获取帖子
df_batch_one = df_remove_municipality[0:90000]
df_batch_two = df_remove_municipality[90000:180000]
df_batch_three = df_remove_municipality[180000:]

In [90]:
%%time
list_city_missing = list(df_batch_one._id)

mongo_db_table = 'tweet_user'                                                             #获取用户帖子
condition = {'user_id':{'$in':list_city_missing}}
content = {'_id': 1,'birthday':1,'vip_level':1,'like_num':1,'repost_num':1,'comment_num':1,'content':1,'user_id':1}

try:
    print('开始获取帖子...')
    db_city_missing_tweet = get_mongo_table(mongo_db_host,
                                      mongo_db_name,
                                      mongo_db_table,
                                      condition,
                                      content)
    df_city_missing_tweet = pd.DataFrame(db_city_missing_tweet)
except pymongo.errors.ServerSelectionTimeoutError as e:
    print('连接异常')

print(f'通过缺失城市值的用户ID寻找对应的帖子，对应的用户数目为{len(df_city_missing_tweet.user_id.unique())}')

开始获取帖子...
通过缺失城市值的用户ID寻找对应的帖子，对应的用户数目为56397
Wall time: 13min 2s

### 帖子清洗与关键词匹配

In [92]:
%%time
df_city_missing_clean = tweet_clean_select(df_city_missing_tweet)
df_city_missing_clean

D:\datasets\qianyi\date\20210927-20210930\tweet_clean_select.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  df['content_clean'] = df['content'].str.replace(r"\d+/\d+/\d+|", '') \
D:\datasets\qianyi\date\20210927-20210930\tweet_clean_select.py:22: FutureWarning: The default value of regex will change from True to False in a future version.
  df['content_clean'] = df['content_clean'].str.replace(u"\\[.*?]",'') # 删除【】和【】中的表情
D:\datasets\qianyi\date\20210927-20210930\tweet_clean_select.py:24: FutureWarning: The default value of regex will change from True to False in a future version.
  df['content_clean'] = df['content_clean'].str.replace(u"\\#.*?#",'') # 删除#号和#间的话题

Wall time: 1min 14s

,_id,like_num,repost_num,comment_num,content,user_id,content_clean,content_clean_length
0,KquiKzvnf,0,0,0,自从楼上的邻居（们？）早上不睡（6.30甚至凌晨4点穿拖鞋踢踏踢踏，拉桌椅板凳，敲东西）晚上...,1000078402,自从楼上的邻居（们？）早上不睡（6.30甚至凌晨4点穿拖鞋踢踏踢踏，拉桌椅板凳，敲东西）晚上...,111
1,KnGOMuJj0,0,0,0,看见这个美颜时我的反应,1000078402,看见这个美颜时我的反应,12
2,Ki1dLk1QV,0,0,0,我自己都养不活自己还养别个？,1000078402,我自己都养不活自己还养别个？,15
3,KmJ7hw2F0,0,0,0,女孩子们都要自私点。,1000078402,女孩子们都要自私点。,11
4,KjSkK8Cs7,0,0,0,绝了绝了//@节操桥上炮龙烹凤的魔女总裁:➡️舞者小姐姐本尊，真的是在水里跳的//@人鱼灏浩...,1000078402,绝了绝了//➡️舞者小姐姐本尊，真的是在水里跳的//认领一下自己,32
...,...,...,...,...,...,...,...,...
3436654,Ks5yO3Wyt,0,0,0,怎么看怎么喜欢，,7665070783,怎么看怎么喜欢，,8
3436655,KgMUmw7jP,0,0,0,生活 杨绛曾写道：生活，一半烟火，一半清欢幸福，一...,80085892,生活 杨绛曾写道：生活，一半烟火，一半清欢幸福，一...,159
3436656,KmiCnxQFn,2,0,3,哈哈哈哈哈毕业以后的联系：“这个像不像你”“那个像不像你”,95375,哈哈哈哈哈毕业以后的联系：“这个像不像你”“那个像不像你”,30
3436657,KklGUAiQc,1,0,0,苏州这天是要把我给蒸熟,95375,苏州这天是要把我给蒸熟,12
3436658,KlpLNlTrz,2,0,0,毕业快乐，前程似锦！,95375,毕业快乐，前程似锦！,10

In [93]:
city_list = [i.strip('\n') for i in open('city_name.txt',encoding='utf-8-sig').readlines()]    #包含直辖市以及香港、澳门
city_list

['北京',
 '天津',
 '上海',
 '重庆',
 '香港',
 '澳门',
 '乌鲁木齐',
 '克拉玛依',
 '石河子',
 '阿拉尔',
 '图木舒克',
 '五家渠',
 '哈密',
 '吐鲁番',
 '阿克苏',
 '喀什',
 '和田',
 '伊宁',
 '塔城',
 '阿勒泰',
 '奎屯',
 '博乐',
 '昌吉',
 '阜康',
 '库尔勒',
 '阿图什',
 '乌苏',
 '拉萨',
 '日喀则',
 '银川',
 '石嘴山',
 '吴忠',
 '固原',
 '中卫',
 '青铜峡',
 '灵武',
 '呼和浩特',
 '包头',
 '乌海',
 '赤峰',
 '通辽',
 '鄂尔多斯',
 '呼伦贝尔',
 '巴彦淖尔',
 '乌兰察布',
 '霍林郭勒',
 '满洲里',
 '牙克石',
 '扎兰屯',
 '根河',
 '额尔古纳',
 '丰镇',
 '锡林浩特',
 '连浩特',
 '乌兰浩特',
 '阿尔山',
 '南宁',
 '柳州',
 '桂林',
 '梧州',
 '北海',
 '崇左',
 '来宾',
 '贺州',
 '玉林',
 '百色',
 '河池',
 '钦州',
 '防城港',
 '贵港',
 '岑溪',
 '凭祥',
 '合山',
 '北流',
 '宜州',
 '东兴',
 '桂平',
 '大庆',
 '齐齐哈尔',
 '佳木斯',
 '鸡西',
 '鹤岗',
 '双鸭山',
 '牡丹江',
 '伊春',
 '七台河',
 '黑河',
 '绥化',
 '五常',
 '双城',
 '尚志',
 '纳河',
 '虎林',
 '密山',
 '铁力',
 '同江',
 '富锦',
 '绥芬河',
 '海林',
 '宁安',
 '穆林',
 '北安',
 '五大连池',
 '肇东',
 '海伦',
 '安达',
 '长春',
 '四平',
 '辽源',
 '通化',
 '白山',
 '松原',
 '白城',
 '九台',
 '榆树',
 '德惠',
 '舒兰',
 '桦甸',
 '蛟河',
 '磐石',
 '公主岭',
 '双辽',
 '梅河口',
 '集安',
 '临江',
 '大安',
 '洮南',
 '延吉',
 '图们',
 '敦化',
 '龙井',
 '珲春',
 '和龙',
 '大连',
 '鞍山',
 '抚顺',
 '本溪',
 '丹东',
 '锦州',
 '营口',
 '阜新',
 '辽阳',
 '盘锦',
 '铁岭',
 '朝阳',
 '葫芦岛',
 '新民',
 '瓦房店',
 '普兰',
 '庄河',
 '海城',
 '东港',
 '凤城',
 '凌海',
 '北镇',
 '大石桥',
 '盖州',
 '灯塔',
 '调兵山',
 '开原',
 '凌源',
 '北票',
 '兴城',
 '石家庄',
 '唐山',
 '邯郸',
 '秦皇岛',
 '保定',
 '张家口',
 '承德',
 '廊坊',
 '沧州',
 '衡水',
 '邢台',
 '辛集',
 '藁城',
 '晋州',
 '新乐',
 '鹿泉',
 '遵化',
 '迁安',
 '武安',
 '南宫',
 '沙河',
 '涿州',
 '定州',
 '安国',
 '高碑店',
 '泊头',
 '任丘',
 '黄骅',
 '河间',
 '霸州',
 '冀州',
 '深州',
 '济南',
 '青岛',
 '淄博',
 '枣庄',
 '东营',
 '烟台',
 '潍坊',
 '济宁',
 '泰安',
 '威海',
 '日照',
 '莱芜',
 '临沂',
 '德州',
 '聊城',
 '菏泽',
 '滨州',
 '章丘',
 '胶南',
 '胶州',
 '平度',
 '莱西',
 '即墨',
 '滕州',
 '龙口',
 '莱阳',
 '莱州',
 '招远',
 '蓬莱',
 '栖霞',
 '海阳',
 '青州',
 '诸城',
 '安丘',
 '高密',
 '昌邑',
 '兖州',
 '曲阜',
 '邹城',
 '乳山',
 '文登',
 '荣成',
 '乐陵',
 '临清',
 '禹城',
 '南京',
 '镇江',
 '常州',
 '无锡',
 '苏州',
 '徐州',
 '连云港',
 '淮安',
 '盐城',
 '扬州',
 '泰州',
 '南通',
 '宿迁',
 '江阴',
 '宜兴',
 '邳州',
 '新沂',
 '金坛',
 '溧阳',
 '常熟',
 '张家港',
 '太仓',
 '昆山',
 '吴江',
 '如皋',
 '通州',
 '海门',
 '启东',
 '东台',
 '大丰',
 '高邮',
 '江都',
 '仪征',
 '丹阳',
 '扬中',
 '句容',
 '泰兴',
 '姜堰',
 '靖江',
 '兴化',
 '合肥',
 '蚌埠',
 '芜湖',
 '淮南',
 '亳州',
 '阜阳',
 '淮北',
 '宿州',
 '滁州',
 '安庆',
 '巢湖',
 '马鞍山',
 '宣城',
 '黄山',
 '池州',
 '铜陵',
 '界首',
 '天长',
 '明光',
 '桐城',
 '宁国',
 '杭州',
 '嘉兴',
 '湖州',
 '宁波',
 '金华',
 '温州',
 '丽水',
 '绍兴',
 '衢州',
 '舟山',
 '台州',
 '建德',
 '富阳',
 '临安',
 '余姚',
 '慈溪',
 '奉化',
 '瑞安',
 '乐清',
 '海宁',
 '平湖',
 '桐乡',
 '诸暨',
 '上虞',
 '嵊州',
 '兰溪',
 '义乌',
 '东阳',
 '永康',
 '江山',
 '临海',
 '温岭',
 '龙泉',
 '福州',
 '厦门',
 '泉州',
 '南平',
 '漳州',
 '莆田',
 '宁德',
 '龙岩',
 '福清',
 '长乐',
 '永安',
 '石狮',
 '晋江',
 '南安',
 '龙海',
 '邵武',
 '三明',
 '武夷山',
 '建瓯',
 '建阳',
 '漳平',
 '福安',
 '福鼎',
 '广州',
 '深圳',
 '汕头',
 '惠州',
 '珠海',
 '揭阳',
 '佛山',
 '河源',
 '阳江',
 '茂名',
 '湛江',
 '梅州',
 '肇庆',
 '韶关',
 '潮州',
 '东莞',
 '中山',
 '清远',
 '江门',
 '汕尾',
 '云浮',
 '增城',
 '从化',
 '乐昌',
 '南雄',
 '台山',
 '开平',
 '鹤山',
 '恩平',
 '廉江',
 '雷州 ',
 '吴川',
 '高州',
 '化州',
 '高要',
 '四会',
 '兴宁',
 '陆丰',
 '阳春',
 '英德',
 '连州',
 '普宁',
 '罗定',
 '海口',
 '三亚',
 '琼海',
 '文昌',
 '万宁',
 '五指山',
 '儋州',
 '东方市',
 '昆明',
 '曲靖',
 '玉溪',
 '保山',
 '昭通',
 '丽江',
 '普洱',
 '临沧',
 '安宁',
 '宣威',
 '个旧',
 '开远',
 '景洪',
 '楚雄',
 '大理',
 '潞西',
 '瑞丽',
 '贵阳',
 '六盘水',
 '遵义',
 '安顺',
 '清镇',
 '赤水',
 '仁怀',
 '铜仁',
 '毕节',
 '兴义',
 '凯里',
 '都匀',
 '福泉',
 '成都',
 '绵阳',
 '德阳',
 '广元',
 '自贡',
 '攀枝花',
 '乐山',
 '南充',
 '内江',
 '遂宁',
 '广安',
 '泸州',
 '达州',
 '眉山',
 '宜宾',
 '雅安',
 '资阳',
 '都江堰',
 '彭州',
 '邛崃',
 '崇州',
 '广汉',
 '什邡',
 '绵竹',
 '江油',
 '峨眉山',
 '阆中',
 '华蓥',
 '万源',
 '简阳',
 '西昌',
 '长沙',
 '株洲',
 '湘潭',
 '衡阳',
 '岳阳',
 '郴州',
 '永州',
 '邵阳',
 '怀化',
 '常德',
 '益阳',
 '张家界',
 '娄底',
 '浏阳',
 '醴陵',
 '湘乡',
 '韶山',
 '耒阳',
 '常宁',
 '武冈',
 '临湘',
 '汨罗',
 '津市',
 '沅江',
 '资兴',
 '洪江',
 '冷水江',
 '涟源',
 '吉首',
 '武汉',
 '襄樊',
 '宜昌',
 '黄石',
 '鄂州',
 '随州',
 '荆州',
 '荆门',
 '十堰',
 '孝感',
 '黄冈',
 '咸宁',
 '大冶',
 '丹江口',
 '洪湖',
 '石首',
 '松滋',
 '宜都',
 '当阳',
 '枝江',
 '老河口',
 '枣阳',
 '宜城',
 '钟祥',
 '应城',
 '安陆',
 '汉川',
 '麻城',
 '武穴',
 '赤壁',
 '广水',
 '仙桃',
 '天门',
 '潜江',
 '恩施',
 '利川',
 '郑州',
 '洛阳',
 '开封',
 '漯河',
 '安阳',
 '新乡',
 '周口',
 '门峡',
 '焦作',
 '平顶山',
 '信阳',
 '南阳',
 '鹤壁',
 '濮阳',
 '许昌',
 '商丘',
 '驻马店',
 '巩义',
 '新郑',
 '新密',
 '登封',
 '荥阳',
 '偃师',
 '汝州',
 '舞钢',
 '林州',
 '卫辉',
 '辉县',
 '沁阳',
 '孟州',
 '禹州',
 '长葛',
 '义马',
 '灵宝',
 '邓州',
 '永城',
 '项城',
 '济源',
 '太原',
 '大同',
 '忻州',
 '阳泉',
 '长治',
 '晋城',
 '朔州',
 '晋中',
 '运城',
 '临汾',
 '吕梁',
 '古交',
 '潞城',
 '高平',
 '介休',
 '永济',
 '河津',
 '原平',
 '侯马',
 '霍州',
 '孝义',
 '汾阳',
 '西安',
 '咸阳',
 '铜川',
 '延安',
 '宝鸡',
 '渭南',
 '汉中',
 '安康',
 '商洛',
 '榆林',
 '兴平',
 '韩城',
 '华阴',
 '兰州',
 '天水',
 '平凉',
 '酒泉',
 '嘉峪关',
 '金昌',
 '白银',
 '武威',
 '张掖',
 '庆阳',
 '定西',
 '陇南',
 '玉门',
 '敦煌',
 '临夏',
 '合作市',
 '西宁',
 '格尔木',
 '德令哈',
 '南昌',
 '九江',
 '赣州',
 '吉安',
 '鹰潭',
 '上饶',
 '萍乡',
 '景德镇',
 '新余',
 '宜春',
 '抚州',
 '乐平',
 '瑞昌',
 '贵溪',
 '瑞金',
 '南康',
 '井冈山',
 '丰城',
 '樟树',
 '高安',
 '德兴',
 '台北',
 '台中',
 '基隆',
 '高雄',
 '台南',
 '新竹',
 '嘉义',
 '板桥',
 '宜兰',
 '竹北',
 '桃园',
 '苗栗',
 '丰原',
 '彰化',
 '南投',
 '太保',
 '斗六',
 '新营',
 '凤山',
 '屏东',
 '台东',
 '花莲',
 '马公']

- 匹配含城市名的帖子
343w条帖子 670个城市

In [95]:
%%time
df_before_match = df_city_missing_clean
kind_list = city_list
column_name = 'content_clean'
df_city_match = tweet_select_by_keywords(df_before_match,kind_list,column_name)

print(f'关键词匹配后寻找对应的帖子，对应的用户数目为{len(df_city_match.user_id.unique())}')

100%|████████████████████████████████████████████████████████████████████████████████| 669/669 [13:31<00:00,  1.21s/it]

关键词匹配后寻找对应的帖子，对应的用户数目为16255
Wall time: 13min 32s

In [96]:
df_city_match = df_city_match.sort_values('user_id')              #按用户ID排序帖子
df_city_match

,_id,like_num,repost_num,comment_num,content,user_id,content_clean,content_clean_length
31495,KgF2A29Wg,0,0,0,兴化的菜真好吃，每道都有辣椒,1000078402,兴化的菜真好吃，每道都有辣椒,15
17478,KjFK1Bspk,0,0,6,早上topix20%复合vc+神仙水+牛油果乳，晚上topix5xA醇+to10%烟酰胺+金...,1000199867,早上topix20%复合vc+神仙水+牛油果乳，晚上topix5xA醇+to10%烟酰胺+金...,74
41865,KttzpCR9K,0,0,0,发晋江上都没人看,1000199867,发晋江上都没人看,8
6688,Kp1zpyczf,15,1,9,#4620元阿玛尼未通过上海消保委测试# 所以谁家高跟鞋通过测试还好穿，有没有姐妹推荐,1000199867,4620元阿玛尼未通过上海消保委测试 所以谁家高跟鞋通过测试还好穿，有没有姐妹推荐,43
25304,KqSEexrC6,60,0,10,#南京疫情传播链增至170人#南京第一天发现9例，我们苏州立即下达命令，非必需不得离苏，南京...,1000206320,南京疫情传播链增至170人南京第一天发现9例，我们苏州立即下达命令，非必需不得离苏，南京回来...,59
...,...,...,...,...,...,...,...,...
30205,Ks24MtPsR,0,0,0,走在苏州园林里太有气质啦,7664423163,走在苏州园林里太有气质啦,12
22348,KgMUmw7jP,0,0,0,生活 杨绛曾写道：生活，一半烟火，一半清欢幸福，一...,80085892,生活 杨绛曾写道：生活，一半烟火，一半清欢幸福，一...,159
58020,KrAXKl8PC,1,0,2,#武汉疫情#这个话题在热搜出现的时候我已经在去武汉路上了……,95375,武汉疫情这个话题在热搜出现的时候我已经在去武汉路上了……,29
41027,KkN7UkRwy,4,0,5,#厦门鼓浪屿# 童话般梦幻的小岛🏝,95375,厦门鼓浪屿 童话般梦幻的小岛🏝,18
30240,KklGUAiQc,1,0,0,苏州这天是要把我给蒸熟,95375,苏州这天是要把我给蒸熟,12

- 通过含城市名的关键词匹配帖子

In [97]:
city_relate_list = ['我们'+city_name for city_name in city_list]
city_relate_list

['我们北京',
 '我们天津',
 '我们上海',
 '我们重庆',
 '我们香港',
 '我们澳门',
 '我们乌鲁木齐',
 '我们克拉玛依',
 '我们石河子',
 '我们阿拉尔',
 '我们图木舒克',
 '我们五家渠',
 '我们哈密',
 '我们吐鲁番',
 '我们阿克苏',
 '我们喀什',
 '我们和田',
 '我们伊宁',
 '我们塔城',
 '我们阿勒泰',
 '我们奎屯',
 '我们博乐',
 '我们昌吉',
 '我们阜康',
 '我们库尔勒',
 '我们阿图什',
 '我们乌苏',
 '我们拉萨',
 '我们日喀则',
 '我们银川',
 '我们石嘴山',
 '我们吴忠',
 '我们固原',
 '我们中卫',
 '我们青铜峡',
 '我们灵武',
 '我们呼和浩特',
 '我们包头',
 '我们乌海',
 '我们赤峰',
 '我们通辽',
 '我们鄂尔多斯',
 '我们呼伦贝尔',
 '我们巴彦淖尔',
 '我们乌兰察布',
 '我们霍林郭勒',
 '我们满洲里',
 '我们牙克石',
 '我们扎兰屯',
 '我们根河',
 '我们额尔古纳',
 '我们丰镇',
 '我们锡林浩特',
 '我们连浩特',
 '我们乌兰浩特',
 '我们阿尔山',
 '我们南宁',
 '我们柳州',
 '我们桂林',
 '我们梧州',
 '我们北海',
 '我们崇左',
 '我们来宾',
 '我们贺州',
 '我们玉林',
 '我们百色',
 '我们河池',
 '我们钦州',
 '我们防城港',
 '我们贵港',
 '我们岑溪',
 '我们凭祥',
 '我们合山',
 '我们北流',
 '我们宜州',
 '我们东兴',
 '我们桂平',
 '我们大庆',
 '我们齐齐哈尔',
 '我们佳木斯',
 '我们鸡西',
 '我们鹤岗',
 '我们双鸭山',
 '我们牡丹江',
 '我们伊春',
 '我们七台河',
 '我们黑河',
 '我们绥化',
 '我们五常',
 '我们双城',
 '我们尚志',
 '我们纳河',
 '我们虎林',
 '我们密山',
 '我们铁力',
 '我们同江',
 '我们富锦',
 '我们绥芬河',
 '我们海林',
 '我们宁安',
 '我们穆林',
 '我们北安',
 '我们五大连池',
 '我们肇东',
 '我们海伦',
 '我们安达',
 '我们长春',
 '我们四平',
 '我们辽源',
 '我们通化',
 '我们白山',
 '我们松原',
 '我们白城',
 '我们九台',
 '我们榆树',
 '我们德惠',
 '我们舒兰',
 '我们桦甸',
 '我们蛟河',
 '我们磐石',
 '我们公主岭',
 '我们双辽',
 '我们梅河口',
 '我们集安',
 '我们临江',
 '我们大安',
 '我们洮南',
 '我们延吉',
 '我们图们',
 '我们敦化',
 '我们龙井',
 '我们珲春',
 '我们和龙',
 '我们大连',
 '我们鞍山',
 '我们抚顺',
 '我们本溪',
 '我们丹东',
 '我们锦州',
 '我们营口',
 '我们阜新',
 '我们辽阳',
 '我们盘锦',
 '我们铁岭',
 '我们朝阳',
 '我们葫芦岛',
 '我们新民',
 '我们瓦房店',
 '我们普兰',
 '我们庄河',
 '我们海城',
 '我们东港',
 '我们凤城',
 '我们凌海',
 '我们北镇',
 '我们大石桥',
 '我们盖州',
 '我们灯塔',
 '我们调兵山',
 '我们开原',
 '我们凌源',
 '我们北票',
 '我们兴城',
 '我们石家庄',
 '我们唐山',
 '我们邯郸',
 '我们秦皇岛',
 '我们保定',
 '我们张家口',
 '我们承德',
 '我们廊坊',
 '我们沧州',
 '我们衡水',
 '我们邢台',
 '我们辛集',
 '我们藁城',
 '我们晋州',
 '我们新乐',
 '我们鹿泉',
 '我们遵化',
 '我们迁安',
 '我们武安',
 '我们南宫',
 '我们沙河',
 '我们涿州',
 '我们定州',
 '我们安国',
 '我们高碑店',
 '我们泊头',
 '我们任丘',
 '我们黄骅',
 '我们河间',
 '我们霸州',
 '我们冀州',
 '我们深州',
 '我们济南',
 '我们青岛',
 '我们淄博',
 '我们枣庄',
 '我们东营',
 '我们烟台',
 '我们潍坊',
 '我们济宁',
 '我们泰安',
 '我们威海',
 '我们日照',
 '我们莱芜',
 '我们临沂',
 '我们德州',
 '我们聊城',
 '我们菏泽',
 '我们滨州',
 '我们章丘',
 '我们胶南',
 '我们胶州',
 '我们平度',
 '我们莱西',
 '我们即墨',
 '我们滕州',
 '我们龙口',
 '我们莱阳',
 '我们莱州',
 '我们招远',
 '我们蓬莱',
 '我们栖霞',
 '我们海阳',
 '我们青州',
 '我们诸城',
 '我们安丘',
 '我们高密',
 '我们昌邑',
 '我们兖州',
 '我们曲阜',
 '我们邹城',
 '我们乳山',
 '我们文登',
 '我们荣成',
 '我们乐陵',
 '我们临清',
 '我们禹城',
 '我们南京',
 '我们镇江',
 '我们常州',
 '我们无锡',
 '我们苏州',
 '我们徐州',
 '我们连云港',
 '我们淮安',
 '我们盐城',
 '我们扬州',
 '我们泰州',
 '我们南通',
 '我们宿迁',
 '我们江阴',
 '我们宜兴',
 '我们邳州',
 '我们新沂',
 '我们金坛',
 '我们溧阳',
 '我们常熟',
 '我们张家港',
 '我们太仓',
 '我们昆山',
 '我们吴江',
 '我们如皋',
 '我们通州',
 '我们海门',
 '我们启东',
 '我们东台',
 '我们大丰',
 '我们高邮',
 '我们江都',
 '我们仪征',
 '我们丹阳',
 '我们扬中',
 '我们句容',
 '我们泰兴',
 '我们姜堰',
 '我们靖江',
 '我们兴化',
 '我们合肥',
 '我们蚌埠',
 '我们芜湖',
 '我们淮南',
 '我们亳州',
 '我们阜阳',
 '我们淮北',
 '我们宿州',
 '我们滁州',
 '我们安庆',
 '我们巢湖',
 '我们马鞍山',
 '我们宣城',
 '我们黄山',
 '我们池州',
 '我们铜陵',
 '我们界首',
 '我们天长',
 '我们明光',
 '我们桐城',
 '我们宁国',
 '我们杭州',
 '我们嘉兴',
 '我们湖州',
 '我们宁波',
 '我们金华',
 '我们温州',
 '我们丽水',
 '我们绍兴',
 '我们衢州',
 '我们舟山',
 '我们台州',
 '我们建德',
 '我们富阳',
 '我们临安',
 '我们余姚',
 '我们慈溪',
 '我们奉化',
 '我们瑞安',
 '我们乐清',
 '我们海宁',
 '我们平湖',
 '我们桐乡',
 '我们诸暨',
 '我们上虞',
 '我们嵊州',
 '我们兰溪',
 '我们义乌',
 '我们东阳',
 '我们永康',
 '我们江山',
 '我们临海',
 '我们温岭',
 '我们龙泉',
 '我们福州',
 '我们厦门',
 '我们泉州',
 '我们南平',
 '我们漳州',
 '我们莆田',
 '我们宁德',
 '我们龙岩',
 '我们福清',
 '我们长乐',
 '我们永安',
 '我们石狮',
 '我们晋江',
 '我们南安',
 '我们龙海',
 '我们邵武',
 '我们三明',
 '我们武夷山',
 '我们建瓯',
 '我们建阳',
 '我们漳平',
 '我们福安',
 '我们福鼎',
 '我们广州',
 '我们深圳',
 '我们汕头',
 '我们惠州',
 '我们珠海',
 '我们揭阳',
 '我们佛山',
 '我们河源',
 '我们阳江',
 '我们茂名',
 '我们湛江',
 '我们梅州',
 '我们肇庆',
 '我们韶关',
 '我们潮州',
 '我们东莞',
 '我们中山',
 '我们清远',
 '我们江门',
 '我们汕尾',
 '我们云浮',
 '我们增城',
 '我们从化',
 '我们乐昌',
 '我们南雄',
 '我们台山',
 '我们开平',
 '我们鹤山',
 '我们恩平',
 '我们廉江',
 '我们雷州 ',
 '我们吴川',
 '我们高州',
 '我们化州',
 '我们高要',
 '我们四会',
 '我们兴宁',
 '我们陆丰',
 '我们阳春',
 '我们英德',
 '我们连州',
 '我们普宁',
 '我们罗定',
 '我们海口',
 '我们三亚',
 '我们琼海',
 '我们文昌',
 '我们万宁',
 '我们五指山',
 '我们儋州',
 '我们东方市',
 '我们昆明',
 '我们曲靖',
 '我们玉溪',
 '我们保山',
 '我们昭通',
 '我们丽江',
 '我们普洱',
 '我们临沧',
 '我们安宁',
 '我们宣威',
 '我们个旧',
 '我们开远',
 '我们景洪',
 '我们楚雄',
 '我们大理',
 '我们潞西',
 '我们瑞丽',
 '我们贵阳',
 '我们六盘水',
 '我们遵义',
 '我们安顺',
 '我们清镇',
 '我们赤水',
 '我们仁怀',
 '我们铜仁',
 '我们毕节',
 '我们兴义',
 '我们凯里',
 '我们都匀',
 '我们福泉',
 '我们成都',
 '我们绵阳',
 '我们德阳',
 '我们广元',
 '我们自贡',
 '我们攀枝花',
 '我们乐山',
 '我们南充',
 '我们内江',
 '我们遂宁',
 '我们广安',
 '我们泸州',
 '我们达州',
 '我们眉山',
 '我们宜宾',
 '我们雅安',
 '我们资阳',
 '我们都江堰',
 '我们彭州',
 '我们邛崃',
 '我们崇州',
 '我们广汉',
 '我们什邡',
 '我们绵竹',
 '我们江油',
 '我们峨眉山',
 '我们阆中',
 '我们华蓥',
 '我们万源',
 '我们简阳',
 '我们西昌',
 '我们长沙',
 '我们株洲',
 '我们湘潭',
 '我们衡阳',
 '我们岳阳',
 '我们郴州',
 '我们永州',
 '我们邵阳',
 '我们怀化',
 '我们常德',
 '我们益阳',
 '我们张家界',
 '我们娄底',
 '我们浏阳',
 '我们醴陵',
 '我们湘乡',
 '我们韶山',
 '我们耒阳',
 '我们常宁',
 '我们武冈',
 '我们临湘',
 '我们汨罗',
 '我们津市',
 '我们沅江',
 '我们资兴',
 '我们洪江',
 '我们冷水江',
 '我们涟源',
 '我们吉首',
 '我们武汉',
 '我们襄樊',
 '我们宜昌',
 '我们黄石',
 '我们鄂州',
 '我们随州',
 '我们荆州',
 '我们荆门',
 '我们十堰',
 '我们孝感',
 '我们黄冈',
 '我们咸宁',
 '我们大冶',
 '我们丹江口',
 '我们洪湖',
 '我们石首',
 '我们松滋',
 '我们宜都',
 '我们当阳',
 '我们枝江',
 '我们老河口',
 '我们枣阳',
 '我们宜城',
 '我们钟祥',
 '我们应城',
 '我们安陆',
 '我们汉川',
 '我们麻城',
 '我们武穴',
 '我们赤壁',
 '我们广水',
 '我们仙桃',
 '我们天门',
 '我们潜江',
 '我们恩施',
 '我们利川',
 '我们郑州',
 '我们洛阳',
 '我们开封',
 '我们漯河',
 '我们安阳',
 '我们新乡',
 '我们周口',
 '我们门峡',
 '我们焦作',
 '我们平顶山',
 '我们信阳',
 '我们南阳',
 '我们鹤壁',
 '我们濮阳',
 '我们许昌',
 '我们商丘',
 '我们驻马店',
 '我们巩义',
 '我们新郑',
 '我们新密',
 '我们登封',
 '我们荥阳',
 '我们偃师',
 '我们汝州',
 '我们舞钢',
 '我们林州',
 '我们卫辉',
 '我们辉县',
 '我们沁阳',
 '我们孟州',
 '我们禹州',
 '我们长葛',
 '我们义马',
 '我们灵宝',
 '我们邓州',
 '我们永城',
 '我们项城',
 '我们济源',
 '我们太原',
 '我们大同',
 '我们忻州',
 '我们阳泉',
 '我们长治',
 '我们晋城',
 '我们朔州',
 '我们晋中',
 '我们运城',
 '我们临汾',
 '我们吕梁',
 '我们古交',
 '我们潞城',
 '我们高平',
 '我们介休',
 '我们永济',
 '我们河津',
 '我们原平',
 '我们侯马',
 '我们霍州',
 '我们孝义',
 '我们汾阳',
 '我们西安',
 '我们咸阳',
 '我们铜川',
 '我们延安',
 '我们宝鸡',
 '我们渭南',
 '我们汉中',
 '我们安康',
 '我们商洛',
 '我们榆林',
 '我们兴平',
 '我们韩城',
 '我们华阴',
 '我们兰州',
 '我们天水',
 '我们平凉',
 '我们酒泉',
 '我们嘉峪关',
 '我们金昌',
 '我们白银',
 '我们武威',
 '我们张掖',
 '我们庆阳',
 '我们定西',
 '我们陇南',
 '我们玉门',
 '我们敦煌',
 '我们临夏',
 '我们合作市',
 '我们西宁',
 '我们格尔木',
 '我们德令哈',
 '我们南昌',
 '我们九江',
 '我们赣州',
 '我们吉安',
 '我们鹰潭',
 '我们上饶',
 '我们萍乡',
 '我们景德镇',
 '我们新余',
 '我们宜春',
 '我们抚州',
 '我们乐平',
 '我们瑞昌',
 '我们贵溪',
 '我们瑞金',
 '我们南康',
 '我们井冈山',
 '我们丰城',
 '我们樟树',
 '我们高安',
 '我们德兴',
 '我们台北',
 '我们台中',
 '我们基隆',
 '我们高雄',
 '我们台南',
 '我们新竹',
 '我们嘉义',
 '我们板桥',
 '我们宜兰',
 '我们竹北',
 '我们桃园',
 '我们苗栗',
 '我们丰原',
 '我们彰化',
 '我们南投',
 '我们太保',
 '我们斗六',
 '我们新营',
 '我们凤山',
 '我们屏东',
 '我们台东',
 '我们花莲',
 '我们马公']

In [98]:
df_before_match = df_city_match
column_name = 'content_clean'
kind_list = city_relate_list
df_city_select = tweet_select_by_keywords(df_before_match,kind_list,column_name)

print(f'关键词匹配后寻找对应的帖子，对应的用户数目为{len(df_city_select.user_id.unique())}')

100%|████████████████████████████████████████████████████████████████████████████████| 669/669 [00:30<00:00, 22.15it/s]

关键词匹配后寻找对应的帖子，对应的用户数目为206

In [99]:
df_city_select = df_city_select.sort_values('user_id')
df_city_select = df_city_select.reset_index(drop=True)
df_city_select

,_id,like_num,repost_num,comment_num,content,user_id,content_clean,content_clean_length
0,KqSEexrC6,60,0,10,#南京疫情传播链增至170人#南京第一天发现9例，我们苏州立即下达命令，非必需不得离苏，南京...,1000206320,南京疫情传播链增至170人南京第一天发现9例，我们苏州立即下达命令，非必需不得离苏，南京回来...,59
1,Kms8MvIhO,0,0,0,//@ONER全球后援会: #ONER 恶浪狂欢季# 恶浪狂欢惊喜加场，我们武汉见！期待和@...,1039589960,// ONER 恶浪狂欢季 恶浪狂欢惊喜加场，我们武汉见！ 一起狂欢,34
2,Kq1eV5xgW,0,0,0,谢谢蕉下送我到袖套（咋滴赠品到了墨镜还没到呢？）喝到泡鲁达了！（hin一般 不如吴老酥的大吉...,1084928937,谢谢蕉下送我到袖套（咋滴赠品到了墨镜还没到呢？）喝到泡鲁达了！（hin一般 不如吴老酥的大吉...,329
3,KrVN3zFy6,0,0,0,#冬奥会吉祥物好可爱#我们北京的冬奥会吉祥物也太可爱了，好想拥有呢,1161961417,冬奥会吉祥物好可爱我们北京的冬奥会吉祥物也太可爱了，好想拥有呢,32
4,Kq6Lkszaa,0,0,0,//@蔻儿妈云旅行 ://@青叶绯叶 ://@吃瓜群众CJ :好耶！太棒了！//@林水妖 :...,1251721464,//////好耶！太棒了！//耶//：今天上午我们新乡人的朋友圈都传遍了，牧野湖需要青壮年过...,86
...,...,...,...,...,...,...,...,...
250,KjEWrjEh9,0,0,0,//@腰窝盛酒://@吃瓜小饭桶:胡先煦飞机延误搞笑行为！//@·落日暮云:草啊笑死我了//...,7608361844,////胡先煦飞机延误搞笑行为！//草啊笑死我了//哈哈哈//不愧是你//笑死我了啊//嗯 ...,67
251,KqIMtaVI8,0,0,0,建议你们这辈子别来舔南京//@啵姥爷胖叽和蛋卷:一直觉得南京好歹是江苏省会，挺好的一个地方，...,7608827599,建议你们这辈子别来舔南京//一直觉得南京好歹是江苏省会，挺好的一个地方，没想到政府领导班子这...,101
252,KrrvHap3M,0,0,0,军人是最伟大的，永远支持军人，只有他们才能让我们安康幸福//@VIVI房:致敬最伟大的中国军...,7626009865,军人是最伟大的，永远支持军人，只有他们才能让我们安康幸福//致敬最伟大的中国军人，感谢你们的...,61
253,KrpNZ7p7W,0,0,0,有了他们才有了我们，他们在那里帮我们编守静力，才有了我们安宁的生活//@孙栎涵Eli:#致敬...,7626009865,有了他们才有了我们，他们在那里帮我们编守静力，才有了我们安宁的生活//致敬人民子弟兵 致最可...,50
254,KsymtoiAj,0,0,0,我们北京见,7626966569,我们北京见,5

In [102]:
test_one = get_city_name(df_city_select.content_clean.iloc[0])
test_one

'苏州'

In [103]:
df_city_select['city'] = df_city_select.content_clean.apply(get_city_name)
df_city_select

,_id,like_num,repost_num,comment_num,content,user_id,content_clean,content_clean_length,city
0,KqSEexrC6,60,0,10,#南京疫情传播链增至170人#南京第一天发现9例，我们苏州立即下达命令，非必需不得离苏，南京...,1000206320,南京疫情传播链增至170人南京第一天发现9例，我们苏州立即下达命令，非必需不得离苏，南京回来...,59,苏州
1,Kms8MvIhO,0,0,0,//@ONER全球后援会: #ONER 恶浪狂欢季# 恶浪狂欢惊喜加场，我们武汉见！期待和@...,1039589960,// ONER 恶浪狂欢季 恶浪狂欢惊喜加场，我们武汉见！ 一起狂欢,34,武汉
2,Kq1eV5xgW,0,0,0,谢谢蕉下送我到袖套（咋滴赠品到了墨镜还没到呢？）喝到泡鲁达了！（hin一般 不如吴老酥的大吉...,1084928937,谢谢蕉下送我到袖套（咋滴赠品到了墨镜还没到呢？）喝到泡鲁达了！（hin一般 不如吴老酥的大吉...,329,义乌
3,KrVN3zFy6,0,0,0,#冬奥会吉祥物好可爱#我们北京的冬奥会吉祥物也太可爱了，好想拥有呢,1161961417,冬奥会吉祥物好可爱我们北京的冬奥会吉祥物也太可爱了，好想拥有呢,32,北京
4,Kq6Lkszaa,0,0,0,//@蔻儿妈云旅行 ://@青叶绯叶 ://@吃瓜群众CJ :好耶！太棒了！//@林水妖 :...,1251721464,//////好耶！太棒了！//耶//：今天上午我们新乡人的朋友圈都传遍了，牧野湖需要青壮年过...,86,新乡
...,...,...,...,...,...,...,...,...,...
250,KjEWrjEh9,0,0,0,//@腰窝盛酒://@吃瓜小饭桶:胡先煦飞机延误搞笑行为！//@·落日暮云:草啊笑死我了//...,7608361844,////胡先煦飞机延误搞笑行为！//草啊笑死我了//哈哈哈//不愧是你//笑死我了啊//嗯 ...,67,天津
251,KqIMtaVI8,0,0,0,建议你们这辈子别来舔南京//@啵姥爷胖叽和蛋卷:一直觉得南京好歹是江苏省会，挺好的一个地方，...,7608827599,建议你们这辈子别来舔南京//一直觉得南京好歹是江苏省会，挺好的一个地方，没想到政府领导班子这...,101,合肥
252,KrrvHap3M,0,0,0,军人是最伟大的，永远支持军人，只有他们才能让我们安康幸福//@VIVI房:致敬最伟大的中国军...,7626009865,军人是最伟大的，永远支持军人，只有他们才能让我们安康幸福//致敬最伟大的中国军人，感谢你们的...,61,安康
253,KrpNZ7p7W,0,0,0,有了他们才有了我们，他们在那里帮我们编守静力，才有了我们安宁的生活//@孙栎涵Eli:#致敬...,7626009865,有了他们才有了我们，他们在那里帮我们编守静力，才有了我们安宁的生活//致敬人民子弟兵 致最可...,50,安宁
254,KsymtoiAj,0,0,0,我们北京见,7626966569,我们北京见,5,北京

In [204]:
# df_city_select.to_csv('hometown_by_city_contains_us.csv',index=False)

In [106]:
df_city_select['content_clean'].iloc[229]

'说白了，楼下废品收购站老板，2017年八月份左右来的，故意搞动静，山东日照人，也是个坏人，这两天又故意搞动静，还跟河南收破烂串通//现在我们大连市金州区，光明街道跟中长街道合并，否则我去光明街道办事处，去找主任，以前电视上看到'

**处理帖子只出现一次的用户**

In [108]:
df_city_select_del = df_city_select.drop_duplicates(subset=['user_id'],keep=False)        #去掉多次出现的用户
df_city_select_del = df_city_select_del.reset_index(drop=True)
df_city_select_del

,_id,like_num,repost_num,comment_num,content,user_id,content_clean,content_clean_length,city
0,KqSEexrC6,60,0,10,#南京疫情传播链增至170人#南京第一天发现9例，我们苏州立即下达命令，非必需不得离苏，南京...,1000206320,南京疫情传播链增至170人南京第一天发现9例，我们苏州立即下达命令，非必需不得离苏，南京回来...,59,苏州
1,Kms8MvIhO,0,0,0,//@ONER全球后援会: #ONER 恶浪狂欢季# 恶浪狂欢惊喜加场，我们武汉见！期待和@...,1039589960,// ONER 恶浪狂欢季 恶浪狂欢惊喜加场，我们武汉见！ 一起狂欢,34,武汉
2,Kq1eV5xgW,0,0,0,谢谢蕉下送我到袖套（咋滴赠品到了墨镜还没到呢？）喝到泡鲁达了！（hin一般 不如吴老酥的大吉...,1084928937,谢谢蕉下送我到袖套（咋滴赠品到了墨镜还没到呢？）喝到泡鲁达了！（hin一般 不如吴老酥的大吉...,329,义乌
3,KrVN3zFy6,0,0,0,#冬奥会吉祥物好可爱#我们北京的冬奥会吉祥物也太可爱了，好想拥有呢,1161961417,冬奥会吉祥物好可爱我们北京的冬奥会吉祥物也太可爱了，好想拥有呢,32,北京
4,Kq6Lkszaa,0,0,0,//@蔻儿妈云旅行 ://@青叶绯叶 ://@吃瓜群众CJ :好耶！太棒了！//@林水妖 :...,1251721464,//////好耶！太棒了！//耶//：今天上午我们新乡人的朋友圈都传遍了，牧野湖需要青壮年过...,86,新乡
...,...,...,...,...,...,...,...,...,...
179,KqfJ2fAlJ,0,0,0,//@松饼假日:#新乡出现漫堤险情# 恳请大家，求求大家，去我们新乡的话题看看吧！！！郑州情...,7562929010,//新乡出现漫堤险情 恳请大家，求求大家，去我们新乡的话题看看吧！！！郑州情况已有好转，但我...,124,新乡
180,KgluJgddR,0,0,0,恭喜小姐姐成为TATA代言人，我们重庆不见不散//@TATA木门官方微博:和TATA木门星推...,7591492137,恭喜小姐姐成为TATA代言人，我们重庆不见不散// 一起进入属于降噪门的世界，5月29日，与...,64,重庆
181,KjEWrjEh9,0,0,0,//@腰窝盛酒://@吃瓜小饭桶:胡先煦飞机延误搞笑行为！//@·落日暮云:草啊笑死我了//...,7608361844,////胡先煦飞机延误搞笑行为！//草啊笑死我了//哈哈哈//不愧是你//笑死我了啊//嗯 ...,67,天津
182,KqIMtaVI8,0,0,0,建议你们这辈子别来舔南京//@啵姥爷胖叽和蛋卷:一直觉得南京好歹是江苏省会，挺好的一个地方，...,7608827599,建议你们这辈子别来舔南京//一直觉得南京好歹是江苏省会，挺好的一个地方，没想到政府领导班子这...,101,合肥
183,KsymtoiAj,0,0,0,我们北京见,7626966569,我们北京见,5,北京

In [126]:
df_city_select_del.to_csv('tweet_contains_relate_keywords_user_appear_once.csv',index=False)

In [110]:
len(df_city_select_del.user_id.unique())

184

经验证准确率尚可

In [111]:
df_city_one = df_city_select_del[['user_id','city']]
df_city_one

        user_id city
0    1000206320   苏州
1    1039589960   武汉
2    1084928937   义乌
3    1161961417   北京
4    1251721464   新乡
..          ...  ...
179  7562929010   新乡
180  7591492137   重庆
181  7608361844   天津
182  7608827599   合肥
183  7626966569   北京

[184 rows x 2 columns]

**处理帖子多次出现的用户**

In [112]:
df_hometown_duplicate = df_city_select[df_city_select.user_id.duplicated(keep=False)]
df_hometown_duplicate = df_hometown_duplicate.sort_values('user_id')
df_hometown_duplicate = df_hometown_duplicate.reset_index(drop=True)
df_hometown_duplicate

,_id,like_num,repost_num,comment_num,content,user_id,content_clean,content_clean_length,city
0,KjnRS8AVm,2,0,2,//@严先森168: 册那一月份穿无袖？缺喜//@於是THEREFORE2ndGEN ://...,1884996035,//对 我们上海一月份开空调了//1981年1月的上海酷暑难耐,31,上海
1,KnnAv6WuI,2,0,2,//@牙医Lina:没我们成都人的事？//@开水族馆的生物男:拒绝//@杨希川教授-皮肤科医...,1884996035,//没我们成都人的事？//拒绝////想尝试一下//听说江西的辣一骑绝尘,36,成都
2,KqFJchea2,1,0,1,//@牙医Lina:信任，啪，没了～//@开水族馆的生物男:这律师不该吊销执照并追究刑责么/...,1884996035,//信任，啪，没了～//这律师不该吊销执照并追究刑责么//这不是我们临沂的药企么//,42,临沂
3,Ks5OyhKxf,2,1,1,骄傲！骄傲！我们杭州一米团队在全国整理节中获得全国服务总量冠军！未来很美！一起向前！#留存道...,1918949761,骄傲！骄傲！我们杭州一米团队在全国整理节中获得全国服务总量冠军！未来很美！一起向前！留存道整...,54,杭州
4,KprZWfI9Y,1,0,0,看到恺恺的新家啦！之前找到我们杭州分院希望可以帮助恺恺完成这个搬家，但家在北京，不过不要担心...,1918949761,看到恺恺的新家啦！之前找到我们杭州分院希望可以帮助恺恺完成这个搬家，但家在北京，不过不要担心...,84,杭州
...,...,...,...,...,...,...,...,...,...
66,KnUI2z5vt,0,0,0,讲故事，从2014年至今，我们大连市金州区光明派出所民警到我忍不了怎么办家里，大概七八次了，...,7459141821,讲故事，从2014年至今，我们大连市金州区光明派出所民警到我忍不了怎么办家里，大概七八次了，...,115,大连
67,KqYk0d7KW,0,0,0,这位id 叫远方的，骂抗疫不力的南京政府和支持南京同胞是不冲突的//@拆台CT:很明显，骂的...,7521872642,这位id 叫远方的，骂抗疫不力的南京政府和支持南京同胞是不冲突的//喷nm呢，全国疫情的时候...,84,南京
68,Kroeb3fGY,0,0,0,//@敦煌郡公://@小白兔爱喝大骨汤:了不起的女性！//@欧美二线品牌: 我们郑州也有保住...,7521872642,////了不起的女性！// 我们郑州也有保住的小区//://专业的女性！//女性的力量值得被...,83,郑州
69,KrrvHap3M,0,0,0,军人是最伟大的，永远支持军人，只有他们才能让我们安康幸福//@VIVI房:致敬最伟大的中国军...,7626009865,军人是最伟大的，永远支持军人，只有他们才能让我们安康幸福//致敬最伟大的中国军人，感谢你们的...,61,安康
70,KrpNZ7p7W,0,0,0,有了他们才有了我们，他们在那里帮我们编守静力，才有了我们安宁的生活//@孙栎涵Eli:#致敬...,7626009865,有了他们才有了我们，他们在那里帮我们编守静力，才有了我们安宁的生活//致敬人民子弟兵 致最可...,50,安宁

In [113]:
grouped = df_hometown_duplicate['city'].groupby(by=df_hometown_duplicate['user_id'],axis=0)
df_dup_user = pd.DataFrame(grouped,columns=['user_id','city_con'])
df_dup_user

       user_id                                           city_con
0   1884996035  0    上海
1    成都
2    临沂
Name: city, dtype: object
1   1918949761  3    杭州
4    杭州
5    杭州
Name: city, dtype: object
2   2026814831          6    扬州
7    扬州
Name: city, dtype: object
3   2372618462          8    海宁
9    杭州
Name: city, dtype: object
4   3909106467  10    南京
11    南京
12    南京
Name: city, dtype: ...
5   5608194422        13    成都
14    西安
Name: city, dtype: object
6   5681657606  15    宜都
16    宜都
17    宜都
Name: city, dtype: ...
7   5834299408  18    扬州
19    扬州
20    扬州
21    扬州
22    扬州
N...
8   5902765264  23    苏州
24    苏州
25    苏州
26    苏州
27    镇江
N...
9   5911733766        28    南京
29    南京
Name: city, dtype: object
10  6050869572        30    长沙
31    上海
Name: city, dtype: object
11  6335442330        32    江阴
33    福州
Name: city, dtype: object
12  6347293630  34    武汉
35    武汉
36    武汉
37    武汉
38    武汉
3...
13  6353849821      46     北京
47    石家庄
Name: city, dtype: object
14  6509218839  48    南京
49    南京
50    南京
Name: city, dtype: ...
15  6746180461        51    上海
52    南京
Name: city, dtype: object
16  6801041751        53    上海
54    上海
Name: city, dtype: object
17  6972585673        55    潜江
56    潜江
Name: city, dtype: object
18  7375547928        57    南京
58    上海
Name: city, dtype: object
19  7459141821  59    大连
60    大连
61    大连
62    大连
63    大连
6...
20  7521872642        67    南京
68    郑州
Name: city, dtype: object
21  7626009865        69    安康
70    安宁
Name: city, dtype: object

In [114]:
df_dup_user['city_list'] = df_dup_user['city_con'].apply(lambda x:list(x))
df_dup_user['city_list_unique'] = df_dup_user['city_list'].apply(lambda x:list(set(x)))
df_dup_user

,user_id,city_con,city_list,city_list_unique
0,1884996035,"0 上海 1 成都 2 临沂 Name: city, dtype: object","[上海, 成都, 临沂]","[临沂, 上海, 成都]"
1,1918949761,"3 杭州 4 杭州 5 杭州 Name: city, dtype: object","[杭州, 杭州, 杭州]",[杭州]
2,2026814831,"6 扬州 7 扬州 Name: city, dtype: object","[扬州, 扬州]",[扬州]
3,2372618462,"8 海宁 9 杭州 Name: city, dtype: object","[海宁, 杭州]","[杭州, 海宁]"
4,3909106467,"10 南京 11 南京 12 南京 Name: city, dtype: ...","[南京, 南京, 南京]",[南京]
5,5608194422,"13 成都 14 西安 Name: city, dtype: object","[成都, 西安]","[西安, 成都]"
6,5681657606,"15 宜都 16 宜都 17 宜都 Name: city, dtype: ...","[宜都, 宜都, 宜都]",[宜都]
7,5834299408,18 扬州 19 扬州 20 扬州 21 扬州 22 扬州 N...,"[扬州, 扬州, 扬州, 扬州, 扬州]",[扬州]
8,5902765264,23 苏州 24 苏州 25 苏州 26 苏州 27 镇江 N...,"[苏州, 苏州, 苏州, 苏州, 镇江]","[苏州, 镇江]"
9,5911733766,"28 南京 29 南京 Name: city, dtype: object","[南京, 南京]",[南京]
10,6050869572,"30 长沙 31 上海 Name: city, dtype: object","[长沙, 上海]","[上海, 长沙]"
11,6335442330,"32 江阴 33 福州 Name: city, dtype: object","[江阴, 福州]","[江阴, 福州]"
12,6347293630,34 武汉 35 武汉 36 武汉 37 武汉 38 武汉 3...,"[武汉, 武汉, 武汉, 武汉, 武汉, 武汉, 武汉, 武汉, 武汉, 武汉, 武汉, 武汉]",[武汉]
13,6353849821,"46 北京 47 石家庄 Name: city, dtype: object","[北京, 石家庄]","[石家庄, 北京]"
14,6509218839,"48 南京 49 南京 50 南京 Name: city, dtype: ...","[南京, 南京, 南京]",[南京]
15,6746180461,"51 上海 52 南京 Name: city, dtype: object","[上海, 南京]","[上海, 南京]"
16,6801041751,"53 上海 54 上海 Name: city, dtype: object","[上海, 上海]",[上海]
17,6972585673,"55 潜江 56 潜江 Name: city, dtype: object","[潜江, 潜江]",[潜江]
18,7375547928,"57 南京 58 上海 Name: city, dtype: object","[南京, 上海]","[上海, 南京]"
19,7459141821,59 大连 60 大连 61 大连 62 大连 63 大连 6...,"[大连, 大连, 大连, 大连, 大连, 大连, 大连, 大连]",[大连]
20,7521872642,"67 南京 68 郑州 Name: city, dtype: object","[南京, 郑州]","[南京, 郑州]"
21,7626009865,"69 安康 70 安宁 Name: city, dtype: object","[安康, 安宁]","[安宁, 安康]"

In [115]:
df_dup_user['city_unique_length'] = df_dup_user['city_list_unique'].apply(lambda x:len(x))
df_dup_user

,user_id,city_con,city_list,city_list_unique,city_unique_length
0,1884996035,"0 上海 1 成都 2 临沂 Name: city, dtype: object","[上海, 成都, 临沂]","[临沂, 上海, 成都]",3
1,1918949761,"3 杭州 4 杭州 5 杭州 Name: city, dtype: object","[杭州, 杭州, 杭州]",[杭州],1
2,2026814831,"6 扬州 7 扬州 Name: city, dtype: object","[扬州, 扬州]",[扬州],1
3,2372618462,"8 海宁 9 杭州 Name: city, dtype: object","[海宁, 杭州]","[杭州, 海宁]",2
4,3909106467,"10 南京 11 南京 12 南京 Name: city, dtype: ...","[南京, 南京, 南京]",[南京],1
5,5608194422,"13 成都 14 西安 Name: city, dtype: object","[成都, 西安]","[西安, 成都]",2
6,5681657606,"15 宜都 16 宜都 17 宜都 Name: city, dtype: ...","[宜都, 宜都, 宜都]",[宜都],1
7,5834299408,18 扬州 19 扬州 20 扬州 21 扬州 22 扬州 N...,"[扬州, 扬州, 扬州, 扬州, 扬州]",[扬州],1
8,5902765264,23 苏州 24 苏州 25 苏州 26 苏州 27 镇江 N...,"[苏州, 苏州, 苏州, 苏州, 镇江]","[苏州, 镇江]",2
9,5911733766,"28 南京 29 南京 Name: city, dtype: object","[南京, 南京]",[南京],1
10,6050869572,"30 长沙 31 上海 Name: city, dtype: object","[长沙, 上海]","[上海, 长沙]",2
11,6335442330,"32 江阴 33 福州 Name: city, dtype: object","[江阴, 福州]","[江阴, 福州]",2
12,6347293630,34 武汉 35 武汉 36 武汉 37 武汉 38 武汉 3...,"[武汉, 武汉, 武汉, 武汉, 武汉, 武汉, 武汉, 武汉, 武汉, 武汉, 武汉, 武汉]",[武汉],1
13,6353849821,"46 北京 47 石家庄 Name: city, dtype: object","[北京, 石家庄]","[石家庄, 北京]",2
14,6509218839,"48 南京 49 南京 50 南京 Name: city, dtype: ...","[南京, 南京, 南京]",[南京],1
15,6746180461,"51 上海 52 南京 Name: city, dtype: object","[上海, 南京]","[上海, 南京]",2
16,6801041751,"53 上海 54 上海 Name: city, dtype: object","[上海, 上海]",[上海],1
17,6972585673,"55 潜江 56 潜江 Name: city, dtype: object","[潜江, 潜江]",[潜江],1
18,7375547928,"57 南京 58 上海 Name: city, dtype: object","[南京, 上海]","[上海, 南京]",2
19,7459141821,59 大连 60 大连 61 大连 62 大连 63 大连 6...,"[大连, 大连, 大连, 大连, 大连, 大连, 大连, 大连]",[大连],1
20,7521872642,"67 南京 68 郑州 Name: city, dtype: object","[南京, 郑州]","[南京, 郑州]",2
21,7626009865,"69 安康 70 安宁 Name: city, dtype: object","[安康, 安宁]","[安宁, 安康]",2

In [120]:
df_city_two = df_dup_user[df_dup_user['city_unique_length']==1]
df_city_two

,user_id,city_con,city_list,city_list_unique,city_unique_length
1,1918949761,"3 杭州 4 杭州 5 杭州 Name: city, dtype: object","[杭州, 杭州, 杭州]",[杭州],1
2,2026814831,"6 扬州 7 扬州 Name: city, dtype: object","[扬州, 扬州]",[扬州],1
4,3909106467,"10 南京 11 南京 12 南京 Name: city, dtype: ...","[南京, 南京, 南京]",[南京],1
6,5681657606,"15 宜都 16 宜都 17 宜都 Name: city, dtype: ...","[宜都, 宜都, 宜都]",[宜都],1
7,5834299408,18 扬州 19 扬州 20 扬州 21 扬州 22 扬州 N...,"[扬州, 扬州, 扬州, 扬州, 扬州]",[扬州],1
9,5911733766,"28 南京 29 南京 Name: city, dtype: object","[南京, 南京]",[南京],1
12,6347293630,34 武汉 35 武汉 36 武汉 37 武汉 38 武汉 3...,"[武汉, 武汉, 武汉, 武汉, 武汉, 武汉, 武汉, 武汉, 武汉, 武汉, 武汉, 武汉]",[武汉],1
14,6509218839,"48 南京 49 南京 50 南京 Name: city, dtype: ...","[南京, 南京, 南京]",[南京],1
16,6801041751,"53 上海 54 上海 Name: city, dtype: object","[上海, 上海]",[上海],1
17,6972585673,"55 潜江 56 潜江 Name: city, dtype: object","[潜江, 潜江]",[潜江],1
19,7459141821,59 大连 60 大连 61 大连 62 大连 63 大连 6...,"[大连, 大连, 大连, 大连, 大连, 大连, 大连, 大连]",[大连],1

In [121]:
df_city_two['city_list_unique'] = df_city_two['city_list_unique'].apply(lambda x:x[0])
df_city_two = df_city_two[['user_id','city_list_unique']]
df_city_two = df_city_two.rename(columns={'city_list_unique':'city'})
df_city_two

<ipython-input-121-57709a512213>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_city_two['city_list_unique'] = df_city_two['city_list_unique'].apply(lambda x:x[0])

       user_id city
1   1918949761   杭州
2   2026814831   扬州
4   3909106467   南京
6   5681657606   宜都
7   5834299408   扬州
9   5911733766   南京
12  6347293630   武汉
14  6509218839   南京
16  6801041751   上海
17  6972585673   潜江
19  7459141821   大连

In [122]:
df_city_rule_one = pd.concat([df_city_one,df_city_two])
df_city_rule_one = df_city_rule_one.reset_index(drop=True)
df_city_rule_one

        user_id city
0    1000206320   苏州
1    1039589960   武汉
2    1084928937   义乌
3    1161961417   北京
4    1251721464   新乡
..          ...  ...
190  6347293630   武汉
191  6509218839   南京
192  6801041751   上海
193  6972585673   潜江
194  7459141821   大连

[195 rows x 2 columns]

206-21+11 = 195

含地名关键词匹配到206个用户，22个用户存在多个值，11个用户多个地点一致 最后得到195个用户

In [124]:
df_city_rule_one.to_csv('user_missng_city_rule_one.csv',index=False)

- 相关代码整理

In [ ]:
# city_list = [i.strip('\n') for i in open('city_name.txt',encoding='utf-8-sig').readlines()] 
# city_list_we = ['我们'+city_name for city_name in city_list]

# df_before_match = df_city_match
# kind_list = city_list_we
# column_name = 'content_clean'
# df_hometown_select_one = tweet_select_by_keywords(df_before_match,kind_list,column_name)
# print(f'通过关键词第一次筛选得到用户{len(df_hometown_select_one.user_id.unique())}名')

# df_hometown_select_one['city'] = df_hometown_select_one.content_clean.apply(get_city_name)

# df_hometown_select_one_dropdup = df_hometown_select_one.drop_duplicates(subset=['user_id'],keep=False)
# df_hometown_select_one_dropdup = df_hometown_select_one_dropdup.reset_index(drop=True)
# df_city_one = df_hometown_select_one_dropdup[['user_id','city']]

# df_hometown_duplicate = df_hometown_select_one[df_hometown_select_one.user_id.duplicated(keep=False)]
# grouped = df_hometown_duplicate['city'].groupby(by=df_hometown_duplicate['user_id'],axis=0)
# df_dup_user = pd.DataFrame(grouped,columns=['user_id','city_con'])

# df_dup_user['city_list'] = df_dup_user['city_con'].apply(lambda x:list(x))
# df_dup_user['city_list_unique'] = df_dup_user['city_list'].apply(lambda x:list(set(x)))
# df_dup_user['city_unique_length'] = df_dup_user['city_list_unique'].apply(lambda x:len(x))
# df_city_two = df_dup_user[df_dup_user['city_unique_length']==1]
# df_city_two['city_list_unique'] = df_city_two['city_list_unique'].apply(lambda x:x[0])
# df_city_two = df_city_two[['user_id','city_list_unique']]
# df_city_two = df_city_two.rename(columns={'city_list_unique':'city'})

# df_city_rule_one = pd.concat([df_city_one,df_city_two])
# df_city_rule_one = df_city_rule_one.reset_index(drop=True)

- 现居地、旅行城市关键词

In [88]:
# residence_relate_list = ['上班','下班','住','坐标']
# # travel_relate_list = ['之旅','打卡','种草','想去','要去']
# home_relate_list = ['老家','老乡']

## 3. 年龄、生日