æ•°æ®ï¼š å¤§ç±»kolæ•°æ®ã€fan-followedè¡¨æ ¼æ•°æ®ã€ç”¨æˆ·ä¿¡æ¯æ•°æ®

In [1]:
import numpy as np
import pandas as pd

- åŠ è½½æç¬‘ç±»kol

In [2]:
df_kol = pd.read_csv('D:/datasets/qianyi/user_label/method/based_on_user_focusing_kol/file/kol/fun_gt10w_3.csv',encoding='utf-8')
df_kol

,kol_id,nick_name,user_type,gender,province,city,vip_level,education,work,birthday,fan_num,follow_num,tweet_num,brief_intro,authentication,label,kol_con,con_seq
0,3015928115,å›½äººå…»ç”Ÿæ®¿å­åŸº,0,m,åŒ—äº¬,è¥¿åŸåŒº,1,NaN,NaN,NaN,104664.0,2195.0,1110.0,XXXWL9527â¤V,æç¬‘å¹½é»˜åšä¸»,ç¾å¥³,å›½äººå…»ç”Ÿæ®¿å­åŸºXXXWL9527â¤Væç¬‘å¹½é»˜åšä¸»,"['å›½äºº', 'å…»ç”Ÿ', 'æç¬‘', 'å¹½é»˜', 'åšä¸»']"
1,5025857653,æœå­,0,m,æ²³å—,éƒ‘å·,6,NaN,NaN,ç‹®å­åº§,20166337.0,234.0,99327.0,å•†åŠ¡åˆä½œvï¼š55188955,æç¬‘å¹½é»˜åšä¸» å¾®åšåŸåˆ›è§†é¢‘åšä¸» å¾®åšVLOGåšä¸»,NaN,æœå­å•†åŠ¡åˆä½œvï¼š55188955æç¬‘å¹½é»˜åšä¸» å¾®åšåŸåˆ›è§†é¢‘åšä¸» å¾®åšVLOGåšä¸»,"['æœå­', 'å•†åŠ¡', 'åˆä½œ', 'æç¬‘', 'å¹½é»˜', 'åšä¸»', 'åŸåˆ›', 'è§†é¢‘..."
2,6811589462,å–å¤§äº†,1,m,æµ™æ±Ÿ,NaN,5,Â·æµ™æ±Ÿå¤§å­¦14çº§,Â·,1996-05-17,2026534.0,29.0,5774.0,å…³æ³¨æˆ‘çš„å¬è¯´éƒ½æ‰¾åˆ°é…å¯¹äº†ã€‚,æç¬‘å¹½é»˜åšä¸»,NaN,å–å¤§äº†å…³æ³¨æˆ‘çš„å¬è¯´éƒ½æ‰¾åˆ°é…å¯¹äº†ã€‚æç¬‘å¹½é»˜åšä¸»,"['å¬è¯´', 'æ‰¾åˆ°', 'é…å¯¹', 'æç¬‘', 'å¹½é»˜', 'åšä¸»']"
3,3145767770,è¡—æ‹æ­£èƒ½é‡,1,m,ä¸Šæµ·,NaN,6,Â·ä¸Šæµ·å•†å­¦é™¢94çº§,Â·æ–°æµªç½‘æŠ€æœ¯ï¼ˆä¸­å›½ï¼‰æœ‰é™å…¬å¸2015å¹´-2018å¹´Â·ç™½ç™¾åˆ2009å¹´-2015å¹´,01-01,165682.0,985.0,16459.0,æç¬‘è§†é¢‘åˆ†äº«å¹³å°ï¼Œæ¬¢è¿æŠ•ç¨¿,å¾®åšVLOGåšä¸» å¾®åšåŸåˆ›è§†é¢‘åšä¸»,"å…¨åŸçˆ†ç¬‘,èŒå›¾ç¥åæ§½,æ­£èƒ½é‡åšä¸»",è¡—æ‹æ­£èƒ½é‡æç¬‘è§†é¢‘åˆ†äº«å¹³å°ï¼Œæ¬¢è¿æŠ•ç¨¿å¾®åšVLOGåšä¸» å¾®åšåŸåˆ›è§†é¢‘åšä¸»,"['èƒ½é‡', 'æç¬‘', 'è§†é¢‘', 'åˆ†äº«', 'å¹³å°', 'æ¬¢è¿', 'æŠ•ç¨¿', 'åšä¸»..."
4,5893098413,æˆç²¾æ€¥è¯Šç§‘,1,m,æµ·å¤–,æ³•å›½,6,NaN,NaN,2017-08-06,392640.0,100.0,1009.0,è¯·æ’é˜Ÿçœ‹ç—…ï¼Œè°¢è°¢,æç¬‘å¹½é»˜åšä¸»,NaN,æˆç²¾æ€¥è¯Šç§‘è¯·æ’é˜Ÿçœ‹ç—…ï¼Œè°¢è°¢æç¬‘å¹½é»˜åšä¸»,"['æˆç²¾', 'æ€¥è¯Šç§‘', 'æ’é˜Ÿ', 'çœ‹ç—…', 'è°¢è°¢', 'æç¬‘', 'å¹½é»˜', 'åšä¸»']"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8307,2419121401,å°±ç¬‘äº†æ€ä¹ˆ,1,m,NaN,NaN,6,NaN,NaN,NaN,275877.0,500.0,695.0,å“ˆå“ˆå“ˆå“ˆï¼Œä¸æƒ³å†è¢«ç¡¬é‚¦é‚¦çš„ç°å®æ’å¾—äººä»°é©¬ç¿»,æç¬‘å¹½é»˜åšä¸»,NaN,å°±ç¬‘äº†æ€ä¹ˆå“ˆå“ˆå“ˆå“ˆï¼Œä¸æƒ³å†è¢«ç¡¬é‚¦é‚¦çš„ç°å®æ’å¾—äººä»°é©¬ç¿»æç¬‘å¹½é»˜åšä¸»,"['ä¸æƒ³', 'ç°å®', 'æç¬‘', 'å¹½é»˜', 'åšä¸»']"
8308,1974750773,å¹½é»˜å’–1,2,m,NaN,NaN,2,NaN,NaN,NaN,122913.0,1921.0,225.0,ğŸ”¥ä¸–ç•Œé¡¶å°–æç¬‘å¤§å’–cc,NaN,NaN,å¹½é»˜å’–1ğŸ”¥ä¸–ç•Œé¡¶å°–æç¬‘å¤§å’–ccnan,"['å¹½é»˜', 'é¡¶å°–', 'æç¬‘']"
8309,1788096093,é“¶æ²³ç³»å°å–·å­,1,m,NaN,NaN,6,NaN,NaN,NaN,126427.0,994.0,1876.0,è¯´é‚£ä¹ˆå¤šéƒ½æ˜¯ä¸ºäº†ä»€ä¹ˆå‘¢ï¼Ÿ,æç¬‘å¹½é»˜åšä¸»,NaN,é“¶æ²³ç³»å°å–·å­è¯´é‚£ä¹ˆå¤šéƒ½æ˜¯ä¸ºäº†ä»€ä¹ˆå‘¢ï¼Ÿæç¬‘å¹½é»˜åšä¸»,"['é“¶æ²³ç³»', 'å–·å­', 'æç¬‘', 'å¹½é»˜', 'åšä¸»']"
8310,3889228788,æ¬¢ä¹çš„Jonyæ ¼è½®,1,f,NaN,NaN,0,NaN,NaN,NaN,100911.0,2870.0,2129.0,åªæœ‰ç»å†è¿‡åœ°ç‹±èˆ¬çš„æŠ˜ç£¨ï¼Œæ‰æœ‰å¾æœå¤©å ‚çš„åŠ›é‡ã€‚åªæœ‰æµè¿‡è¡€çš„æ‰‹æŒ‡æ‰èƒ½å¼¹å‡ºä¸–é—´çš„ç»å”±ã€‚,æç¬‘å¹½é»˜åšä¸»,NaN,æ¬¢ä¹çš„Jonyæ ¼è½®åªæœ‰ç»å†è¿‡åœ°ç‹±èˆ¬çš„æŠ˜ç£¨ï¼Œæ‰æœ‰å¾æœå¤©å ‚çš„åŠ›é‡ã€‚åªæœ‰æµè¿‡è¡€çš„æ‰‹æŒ‡æ‰èƒ½å¼¹å‡ºä¸–é—´çš„...,"['æ¬¢ä¹', 'æ ¼è½®', 'åœ°ç‹±', 'æŠ˜ç£¨', 'å¾æœ', 'å¤©å ‚', 'åŠ›é‡', 'æµè¿‡..."
8311,2071959200,å¹½é»˜å°æ™ºæ…§,2,m,NaN,NaN,4,NaN,NaN,NaN,141796.0,2099.0,29845.0,ä½ æƒ³å¿«ä¹å—ï¼Ÿæƒ³å¿ƒæƒ…æ„‰æ‚¦å—ï¼Ÿç›¸ä¿¡â€”â€”å¹½é»˜å°æ™ºæ…§.ä¼šæ¯å¤©ä¸ºä½ å¸¦æ¥ä¸ä¸€æ ·çš„å¿«ä¹å’Œæ„‰æ‚¦å“¦ï¼ï¼ˆâ€¢ç²¾çµâ€¢...,NaN,NaN,å¹½é»˜å°æ™ºæ…§ä½ æƒ³å¿«ä¹å—ï¼Ÿæƒ³å¿ƒæƒ…æ„‰æ‚¦å—ï¼Ÿç›¸ä¿¡â€”â€”å¹½é»˜å°æ™ºæ…§.ä¼šæ¯å¤©ä¸ºä½ å¸¦æ¥ä¸ä¸€æ ·çš„å¿«ä¹å’Œæ„‰æ‚¦å“¦ï¼...,"['å¹½é»˜', 'æ™ºæ…§', 'å¿«ä¹', 'æ„‰æ‚¦', 'ç›¸ä¿¡', 'å¹½é»˜', 'æ™ºæ…§', 'å¸¦æ¥..."

- åŠ è½½fan-followæ•°æ®

In [3]:
df_ff = pd.read_csv('D:/datasets/large_file/fan_follow_2kw.csv',encoding='utf-8')
df_ff

                            _id      fan_id  followed_id
0         5138022423_7640214702  5138022423   7640214702
1         5138022423_6989405838  5138022423   6989405838
2         5138022423_6550815288  5138022423   6550815288
3         5138022423_6574713134  5138022423   6574713134
4         5138022423_6688666511  5138022423   6688666511
...                         ...         ...          ...
19999995  6969968269_7207390440  6969968269   7207390440
19999996  5621761602_5548152549  5621761602   5548152549
19999997  5621761602_1195354434  5621761602   1195354434
19999998  5621761602_2687827715  5621761602   2687827715
19999999  5621761602_2038373915  5621761602   2038373915

[20000000 rows x 3 columns]

In [4]:
# len(df_ff['fan_id'].unique())

In [5]:
df_con1 = pd.merge(df_ff,df_kol,left_on='followed_id',right_on="kol_id")  
'''ç¬¬ä¸€æ¬¡mergeï¼Œå°†fan-followedçš„è¡¨æ ¼æ•°æ®ä¸å¤§ç±»kolçš„æ•°æ®è¿›è¡ŒåŒ¹é…ï¼Œå·¦é”®é€‰æ‹©è¢«å…³æ³¨å¯¹è±¡ï¼Œå³é”®
é€‰æ‹©kolçš„idï¼Œç›®çš„æ˜¯å°†å…³æ³¨å¯¹è±¡ä¸­æœ‰å¤§ç±»kolçš„å¯¹è±¡ç­›é€‰å‡ºæ¥ï¼Œåç»­å¾ˆå®¹æ˜“å¾—åˆ°è¿™äº›ç”¨æˆ·å…³æ³¨çš„kolçš„æ•°ç›®'''
df_con1

,_id,fan_id,followed_id,kol_id,nick_name,user_type,gender,province,city,vip_level,...,work,birthday,fan_num,follow_num,tweet_num,brief_intro,authentication,label,kol_con,con_seq
0,6046089267_5824051112,6046089267,5824051112,5824051112,åŸå›¾å¦ˆ,1,m,å…¶ä»–,NaN,7,...,NaN,2018-08-08,12047803.0,115.0,1486.0,æˆ‘å¤ªæ‹‰äº†,å¾®åšçŸ¥åæç¬‘åšä¸»,NaN,åŸå›¾å¦ˆæˆ‘å¤ªæ‹‰äº†å¾®åšçŸ¥åæç¬‘åšä¸»,"['åŸå›¾', 'çŸ¥å', 'æç¬‘', 'åšä¸»']"
1,5455741380_5824051112,5455741380,5824051112,5824051112,åŸå›¾å¦ˆ,1,m,å…¶ä»–,NaN,7,...,NaN,2018-08-08,12047803.0,115.0,1486.0,æˆ‘å¤ªæ‹‰äº†,å¾®åšçŸ¥åæç¬‘åšä¸»,NaN,åŸå›¾å¦ˆæˆ‘å¤ªæ‹‰äº†å¾®åšçŸ¥åæç¬‘åšä¸»,"['åŸå›¾', 'çŸ¥å', 'æç¬‘', 'åšä¸»']"
2,5628756545_5824051112,5628756545,5824051112,5824051112,åŸå›¾å¦ˆ,1,m,å…¶ä»–,NaN,7,...,NaN,2018-08-08,12047803.0,115.0,1486.0,æˆ‘å¤ªæ‹‰äº†,å¾®åšçŸ¥åæç¬‘åšä¸»,NaN,åŸå›¾å¦ˆæˆ‘å¤ªæ‹‰äº†å¾®åšçŸ¥åæç¬‘åšä¸»,"['åŸå›¾', 'çŸ¥å', 'æç¬‘', 'åšä¸»']"
3,2523923167_5824051112,2523923167,5824051112,5824051112,åŸå›¾å¦ˆ,1,m,å…¶ä»–,NaN,7,...,NaN,2018-08-08,12047803.0,115.0,1486.0,æˆ‘å¤ªæ‹‰äº†,å¾®åšçŸ¥åæç¬‘åšä¸»,NaN,åŸå›¾å¦ˆæˆ‘å¤ªæ‹‰äº†å¾®åšçŸ¥åæç¬‘åšä¸»,"['åŸå›¾', 'çŸ¥å', 'æç¬‘', 'åšä¸»']"
4,6871319321_5824051112,6871319321,5824051112,5824051112,åŸå›¾å¦ˆ,1,m,å…¶ä»–,NaN,7,...,NaN,2018-08-08,12047803.0,115.0,1486.0,æˆ‘å¤ªæ‹‰äº†,å¾®åšçŸ¥åæç¬‘åšä¸»,NaN,åŸå›¾å¦ˆæˆ‘å¤ªæ‹‰äº†å¾®åšçŸ¥åæç¬‘åšä¸»,"['åŸå›¾', 'çŸ¥å', 'æç¬‘', 'åšä¸»']"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
877682,3556064792_6197070647,3556064792,6197070647,6197070647,å°å¸ˆå§æ¥å•¦,1,f,é™•è¥¿,è¥¿å®‰,6,...,NaN,2017-04-07,172395.0,129.0,310.0,ä¸€æ¡£ä¸“å±äºå¥³å¤§å­¦ç”Ÿçš„è¡—è®¿æ ç›® å•†åŠ¡åˆä½œè”ç³»å¾®ä¿¡XSJLL102,æç¬‘å¹½é»˜åšä¸»,"è‡ªåª’ä½“,æç¬‘,å¨›æ¨‚",å°å¸ˆå§æ¥å•¦ä¸€æ¡£ä¸“å±äºå¥³å¤§å­¦ç”Ÿçš„è¡—è®¿æ ç›® å•†åŠ¡åˆä½œè”ç³»å¾®ä¿¡XSJLL102æç¬‘å¹½é»˜åšä¸»,"['å¸ˆå§', 'å±äº', 'å¤§å­¦ç”Ÿ', 'è¡—è®¿', 'æ ç›®', 'å•†åŠ¡', 'åˆä½œ', 'è”..."
877683,3556064792_6197070647,3556064792,6197070647,6197070647,å°å¸ˆå§æ¥å•¦,1,f,é™•è¥¿,è¥¿å®‰,6,...,NaN,2017-04-07,172395.0,129.0,310.0,ä¸€æ¡£ä¸“å±äºå¥³å¤§å­¦ç”Ÿçš„è¡—è®¿æ ç›® å•†åŠ¡åˆä½œè”ç³»å¾®ä¿¡XSJLL102,æç¬‘å¹½é»˜åšä¸»,"è‡ªåª’ä½“,æç¬‘,å¨›æ¨‚",å°å¸ˆå§æ¥å•¦ä¸€æ¡£ä¸“å±äºå¥³å¤§å­¦ç”Ÿçš„è¡—è®¿æ ç›® å•†åŠ¡åˆä½œè”ç³»å¾®ä¿¡XSJLL102æç¬‘å¹½é»˜åšä¸»,"['å¸ˆå§', 'å±äº', 'å¤§å­¦ç”Ÿ', 'è¡—è®¿', 'æ ç›®', 'å•†åŠ¡', 'åˆä½œ', 'è”..."
877684,2589016105_1935398931,2589016105,1935398931,1935398931,å…¨çƒå…«å¦å¨±ä¹,1,f,ä¸Šæµ·,é»„æµ¦åŒº,7,...,NaN,01-01,4471824.0,341.0,6656.0,å±Œä¸å¨±ä¹ï¼Œæç¬‘å…«å¦ï¼Œå…¨çƒå¨±ä¹ï¼Œå†·çƒ­ç¬‘è¯ï¼Œé›·äººè¯­å½•ï¼Œç»å…¸è¯„è®ºä¸€ç½‘æ‰“å°½ã€‚,çŸ¥åå¨±ä¹åšä¸» å¨±ä¹ç»¼è‰ºè§†é¢‘è‡ªåª’ä½“,"å…«å¦æ–°é—»,æ˜æ˜Ÿ,æ—¶å°š",å…¨çƒå…«å¦å¨±ä¹å±Œä¸å¨±ä¹ï¼Œæç¬‘å…«å¦ï¼Œå…¨çƒå¨±ä¹ï¼Œå†·çƒ­ç¬‘è¯ï¼Œé›·äººè¯­å½•ï¼Œç»å…¸è¯„è®ºä¸€ç½‘æ‰“å°½ã€‚çŸ¥åå¨±ä¹åšä¸»...,"['å…«å¦', 'å¨±ä¹', 'å±Œä¸', 'å¨±ä¹', 'æç¬‘', 'å…«å¦', 'å¨±ä¹', 'å†·çƒ­..."
877685,1869956317_5953775517,1869956317,5953775517,5953775517,ç²½å›¢,1,m,å…¶ä»–,NaN,6,...,NaN,æ‘©ç¾¯åº§,200530.0,83.0,8243.0,å–œæ¬¢ç››å¤ï¼Œè®¨åŒé›¨ã€‚,çŸ¥åæç¬‘å¹½é»˜åšä¸»,"è¶£å›¾,æç¬‘å›¾ç‰‡,æ®µå­",ç²½å›¢å–œæ¬¢ç››å¤ï¼Œè®¨åŒé›¨ã€‚çŸ¥åæç¬‘å¹½é»˜åšä¸»,"['ç²½å›¢', 'å–œæ¬¢', 'è®¨åŒ', 'çŸ¥å', 'æç¬‘', 'å¹½é»˜', 'åšä¸»']"
877686,1869956317_5953775517,1869956317,5953775517,5953775517,ç²½å›¢,1,m,å…¶ä»–,NaN,6,...,NaN,æ‘©ç¾¯åº§,200530.0,83.0,8243.0,å–œæ¬¢ç››å¤ï¼Œè®¨åŒé›¨ã€‚,çŸ¥åæç¬‘å¹½é»˜åšä¸»,"è¶£å›¾,æç¬‘å›¾ç‰‡,æ®µå­",ç²½å›¢å–œæ¬¢ç››å¤ï¼Œè®¨åŒé›¨ã€‚çŸ¥åæç¬‘å¹½é»˜åšä¸»,"['ç²½å›¢', 'å–œæ¬¢', 'è®¨åŒ', 'çŸ¥å', 'æç¬‘', 'å¹½é»˜', 'åšä¸»']"

In [6]:
len(df_con1['fan_id'].unique())                  #åœ¨2kwå…³æ³¨å…³ç³»ä¸­æœ‰æœ‰87wä¸ªå…³æ³¨æç¬‘ç±»åšä¸»ï¼Œå¯¹åº”10w+ç”¨æˆ·

104720

In [7]:
focus_fun = df_con1['fan_id'].value_counts()     #è®¡ç®—æ¯ä¸ªç”¨æˆ·å…³æ³¨çš„æç¬‘ç±»åšä¸»çš„æ•°ç›®
focus_fun

6978566229    238
5818694213    220
5025857653    205
5252556080    192
6122690521    190
             ...
7308678454      1
7454669557      1
7565668767      1
7172363564      1
6942634705      1
Name: fan_id, Length: 104720, dtype: int64

- å°†ç”¨æˆ·å…³æ³¨çš„æç¬‘ç±»kolçš„ç”¨æˆ·çš„æ•°ç›®ä¿¡æ¯è½¬æ¢ä¸ºdataframe

In [8]:
df_ff_user = pd.DataFrame(focus_fun)
df_ff_user['user_id'] = df_ff_user.index
df_ff_user = df_ff_user.rename(columns={'fan_id':'num'})
df_ff_user = df_ff_user.reset_index(drop=True)
df_ff_user

        num     user_id
0       238  6978566229
1       220  5818694213
2       205  5025857653
3       192  5252556080
4       190  6122690521
...     ...         ...
104715    1  7308678454
104716    1  7454669557
104717    1  7565668767
104718    1  7172363564
104719    1  6942634705

[104720 rows x 2 columns]

- è¯»å–ç”¨æˆ·ä¿¡æ¯è¡¨æ ¼

In [9]:
df_user_full = pd.read_csv('D:/datasets/large_file/user6m.csv',encoding='utf-8')
df_user_full = df_user_full.rename(columns={'_id':'user_id'})   #é‡å‘½ååˆ—å
df_user_full

D:\software\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,23,24,25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,user_id,authentication,bg_img_url,birthday,brief_intro,city,cn_crawled,crawl_at,crawl_at_timestamp,education,...,nick_name,person_url,province,sentiment,sex_orientation,tweet_num,user_type,v,vip_level,work
0,2917160407,NaN,https://wx4.sinaimg.cn/crop.0.0.640.640.640/ad...,1996-03-30,å¤©å°†é»‘æœªé»‘æ—¶æœ€æµªæ¼« äººä¸è¿‘ä¸è¿œæœ€è‡ªç„¶,ä¿å®š,True,2021-08-02T19:44:21.787Z,1627904661,NaN,...,Lccccc_,https://weibo.com/u/2917160407,æ²³åŒ—,NaN,NaN,176,0.0,NaN,3,NaN
1,5770326762,NaN,https://tva2.sinaimg.cn/crop.0.0.640.640.640/a...,1989-11-08,å…¬å¼€å¾®ä¿¡997865467,æ­å·,True,2021-08-02T19:34:04.907Z,1627904044,Â·æ­å·å¸ˆèŒƒå¤§å­¦07çº§,...,æœ€ç¾æ ¡èŠ±ä»»ç³jones,https://weibo.com/u/5770326762,æµ™æ±Ÿ,NaN,NaN,2411,0.0,NaN,1,Â·å¹¿å‘Šå…¬å¸2013å¹´-2014å¹´
2,7521453134,NaN,https://tva1.sinaimg.cn/crop.0.0.640.640.640/5...,NaN,å•¥æ—¶å€™ä¸­æ¬¡å¤§å¥–è®©æˆ‘å¿«ä¹å¿«ä¹,NaN,True,2021-08-02T21:16:07.104Z,1627910167,NaN,...,å“ˆåˆ©å•µèœ_,https://weibo.com/u/7521453134,å…¶ä»–,NaN,NaN,2,0.0,NaN,0,NaN
3,2048956025,NaN,NaN,1998-04-01,æˆ‘æ˜¯æˆ‘çš„ç²¾ç¥é¢†è¢–ğŸŒˆ,ä¸‡å·åŒº,NaN,1626199473833,1626170673,NaN,...,ä»Šå¤©ä¹Ÿè¦åŠªåŠ›å­¦ä¹ å˜å¯Œå©†,NaN,é‡åº†,NaN,NaN,739,0.0,NaN,ï¼š6çº§,NaN
4,7603237614,NaN,https://tva1.sinaimg.cn/crop.0.0.640.640.640/5...,NaN,NaN,NaN,True,2021-08-02T20:27:47.324Z,1627907267,NaN,...,ç”¨æˆ·7603237614,https://weibo.com/u/7603237614,å…¶ä»–,NaN,NaN,0,0.0,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6105007,7206398338,NaN,https://tva1.sinaimg.cn/crop.0.0.640.640.640/5...,NaN,NaN,NaN,True,2021-08-02T11:57:11.539Z,1627876631,NaN,...,Eå³°å³°å³°è´­,NaN,å…¶ä»–,NaN,NaN,0,0.0,NaN,NaN,NaN
6105008,7216727352,NaN,https://tva1.sinaimg.cn/crop.0.0.640.640.640/5...,NaN,NaN,NaN,True,2021-08-02T13:17:11.588Z,1627881431,NaN,...,Wangyxinå“¦åƒ,NaN,å…¶ä»–,NaN,NaN,0,0.0,NaN,NaN,NaN
6105009,7163510847,NaN,https://tva1.sinaimg.cn/crop.0.0.640.640.640/5...,NaN,NaN,NaN,True,2021-08-02T11:56:38.972Z,1627876598,NaN,...,yunzhongyå½¹,NaN,å…¶ä»–,NaN,NaN,0,0.0,NaN,NaN,NaN
6105010,7116342151,NaN,https://tva1.sinaimg.cn/crop.0.0.640.640.640/5...,NaN,NaN,NaN,True,2021-08-02T13:08:12.442Z,1627880892,NaN,...,ä»–å¦ˆå‘€æ—¦,NaN,å…¶ä»–,NaN,NaN,0,0.0,NaN,NaN,NaN
6105011,7645291838,NaN,https://tva1.sinaimg.cn/crop.0.0.640.640.640/5...,NaN,NaN,NaN,True,2021-08-02T12:59:13.502Z,1627880353,NaN,...,æœˆäº®åŒ–æ‰äº†17952,NaN,å…¶ä»–,NaN,NaN,6,0.0,NaN,NaN,NaN

In [10]:
df_user_briinfo = df_user_full[['user_id','nick_name','authentication','brief_intro','fan_num',
           'follow_num','tweet_num']]             #é€‰å–ç”¨æˆ·ä¿¡æ¯è¡¨æ ¼ä¸­éƒ¨åˆ†åˆ—

In [11]:
df_con2 = pd.merge(df_ff_user,df_user_briinfo,on='user_id')
'''ç¬¬äºŒæ¬¡mergeï¼Œå°†ç¬¬ä¸€æ¬¡åŒ¹é…å¥½çš„ç»“æœä¸ç”¨æˆ·ç®€è¦ä¿¡æ¯åŒ¹é…'''
'''é‡è¦å…³æ³¨ä¸¤ä¸ªå˜é‡ï¼šæ¯ä¸ªç”¨æˆ·å…³æ³¨çš„æç¬‘ç±»çš„KOLçš„æ•°ç›®ä»¥åŠç”¨æˆ·å…³æ³¨çš„æ€»äººæ•°'''
df_con2

,num,user_id,nick_name,authentication,brief_intro,fan_num,follow_num,tweet_num
0,220,5818694213,ä½›å±±ä½ å¤§çˆ·,NaN,ä¹è§‚æ´»æ³¼ï¼Œå¿ƒæ€å¹³å’Œ,2,502,1051
1,192,5252556080,ç”¨æˆ·5252556080,NaN,NaN,10,492,680
2,190,6122690521,-stillseven,NaN,æ¸…é†’ æ¸…é†’ æ¸…é†’,277,575,2740
3,187,6637795510,ç¡¬å¸®å¸®ä¸»é‚¦é‚¦ç¡¬,NaN,NaN,2,270,44
4,177,2407673677,miss_of_your_dream3,NaN,æ–¹å¾—åŸ‹èµ›ï¼ŒæŒ¨ä½ å¦¹å¯»,78,1042,65
...,...,...,...,...,...,...,...,...
101280,1,7308678454,é²¸é±¼ä¼Š,NaN,NaN,1,71,40
101281,1,7454669557,Tinachana,NaN,NaN,5,343,28
101282,1,7565668767,å°èƒ–å„¿å–å–å–,NaN,NaN,5,69,1
101283,1,7172363564,NaN,NaN,NaN,38,114,40
101284,1,6942634705,äººç¾¤ä¸­çš„å°J,NaN,NaN,147,150,325

- å‰”é™¤å¼‚å¸¸ç”¨æˆ·

In [12]:
df_con2 = df_con2[-(df_con2['follow_num']==0)][-(df_con2['tweet_num']==0)][df_con2['num']<df_con2['follow_num']]
'å»é™¤å…³æ³¨æ•°ä¸º0æˆ–å¸–å­æ•°ä¸º0æˆ–è€…å…³æ³¨æ•°å°äºå…³æ³¨æç¬‘ç±»kolæ•°çš„å¼‚å¸¸ç”¨æˆ·'
df_con2

<ipython-input-12-c0b59fc23ba0>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_con2 = df_con2[-(df_con2['follow_num']==0)][-(df_con2['tweet_num']==0)][df_con2['num']<df_con2['follow_num']]
<ipython-input-12-c0b59fc23ba0>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_con2 = df_con2[-(df_con2['follow_num']==0)][-(df_con2['tweet_num']==0)][df_con2['num']<df_con2['follow_num']]

,num,user_id,nick_name,authentication,brief_intro,fan_num,follow_num,tweet_num
0,220,5818694213,ä½›å±±ä½ å¤§çˆ·,NaN,ä¹è§‚æ´»æ³¼ï¼Œå¿ƒæ€å¹³å’Œ,2,502,1051
1,192,5252556080,ç”¨æˆ·5252556080,NaN,NaN,10,492,680
2,190,6122690521,-stillseven,NaN,æ¸…é†’ æ¸…é†’ æ¸…é†’,277,575,2740
3,187,6637795510,ç¡¬å¸®å¸®ä¸»é‚¦é‚¦ç¡¬,NaN,NaN,2,270,44
4,177,2407673677,miss_of_your_dream3,NaN,æ–¹å¾—åŸ‹èµ›ï¼ŒæŒ¨ä½ å¦¹å¯»,78,1042,65
...,...,...,...,...,...,...,...,...
101280,1,7308678454,é²¸é±¼ä¼Š,NaN,NaN,1,71,40
101281,1,7454669557,Tinachana,NaN,NaN,5,343,28
101282,1,7565668767,å°èƒ–å„¿å–å–å–,NaN,NaN,5,69,1
101283,1,7172363564,NaN,NaN,NaN,38,114,40
101284,1,6942634705,äººç¾¤ä¸­çš„å°J,NaN,NaN,147,150,325

In [13]:
df_con2['prop'] = df_con2['num']/df_con2['follow_num']   #æ¯ä¸ªç”¨æˆ·å…³æ³¨æç¬‘ç±»kolå æ‰€å…³æ³¨çš„äººæ•°çš„æ¯”ä¾‹
df_con2 = df_con2.reset_index(drop=True)
df_con2

,num,user_id,nick_name,authentication,brief_intro,fan_num,follow_num,tweet_num,prop
0,220,5818694213,ä½›å±±ä½ å¤§çˆ·,NaN,ä¹è§‚æ´»æ³¼ï¼Œå¿ƒæ€å¹³å’Œ,2,502,1051,0.438247
1,192,5252556080,ç”¨æˆ·5252556080,NaN,NaN,10,492,680,0.390244
2,190,6122690521,-stillseven,NaN,æ¸…é†’ æ¸…é†’ æ¸…é†’,277,575,2740,0.330435
3,187,6637795510,ç¡¬å¸®å¸®ä¸»é‚¦é‚¦ç¡¬,NaN,NaN,2,270,44,0.692593
4,177,2407673677,miss_of_your_dream3,NaN,æ–¹å¾—åŸ‹èµ›ï¼ŒæŒ¨ä½ å¦¹å¯»,78,1042,65,0.169866
...,...,...,...,...,...,...,...,...,...
83030,1,7308678454,é²¸é±¼ä¼Š,NaN,NaN,1,71,40,0.014085
83031,1,7454669557,Tinachana,NaN,NaN,5,343,28,0.002915
83032,1,7565668767,å°èƒ–å„¿å–å–å–,NaN,NaN,5,69,1,0.014493
83033,1,7172363564,NaN,NaN,NaN,38,114,40,0.008772
83034,1,6942634705,äººç¾¤ä¸­çš„å°J,NaN,NaN,147,150,325,0.006667

In [14]:
df_con2 = df_con2[df_con2['prop']<=0.5]                      #å°†æ¯”ä¾‹è¿‡å¤§çš„ç”¨æˆ·å‰”é™¤ï¼Œè¿™ç±»ç”¨æˆ·ä¸­å¼‚å¸¸çš„å¾ˆå¤š
df_con2.sort_values('prop',ascending=False,inplace=True)    #æŒ‰ç…§æ¯”ä¾‹è¿›è¡Œé™åºæ’åˆ—
df_con2 = df_con2.reset_index(drop=True)
df_con2

<ipython-input-14-d38811125929>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_con2.sort_values('prop',ascending=False,inplace=True)

,num,user_id,nick_name,authentication,brief_intro,fan_num,follow_num,tweet_num,prop
0,5,6316798018,å°ç™½ç†Šçš„ç¢ç¢å¿µ,NaN,æ˜¯çœŸçš„å¾ˆå®¹æ˜“å¿ƒåŠ¨,1,10,31,0.5
1,2,5381340876,é’æ˜¥æ­£å½“å¹´_,NaN,NaN,140,4,454,0.5
2,30,6325323997,è€è‚–2258,NaN,NaN,1,60,148,0.5
3,19,7080322400,çº¢èŠ™å†·æ¼,NaN,NaN,1,38,2,0.5
4,5,7467167364,sjduhdndjxj,NaN,ä¿æŒå–„æ„/æœ‹å‹åœˆ,17,10,20,0.5
...,...,...,...,...,...,...,...,...,...
82931,1,2084726333,MD_èƒ–å¨ƒå¨ƒ,è¶…è¯ç²‰ä¸å¤§å’–ï¼ˆæ‘©ç™»å…„å¼Ÿè¶…è¯ï¼‰,NaN,449,6531,6743,0.000153
82932,1,6051576059,China_è®°å¿†ä¹‹é—¨20220808,NaN,NaN,772,6567,2504,0.000152
82933,1,6192895896,åˆ©å¾—ç¾åšå°”,NaN,æµ·å—çœæµ·å£å¸‚,1684,6969,374,0.000143
82934,2,1883293310,è—å·´æ‹‰æ»´é£˜é£˜é£é±¼,NaN,NaN,44,15199,136,0.000132
82935,2,6090375496,Amourç«¹æµ·æ™¨é˜³,NaN,ç¾å›½æ´›æ‰çŸ¶å¸‚åŒºçš‡åå¤§é“ä¸œï¼,2793,16289,503,0.000123

In [15]:
df_con2 = df_con2[-df_con2['nick_name'].isna()]          #å»é™¤æ˜µç§°ä¸ºnahçš„ç”¨æˆ·
df_con2

,num,user_id,nick_name,authentication,brief_intro,fan_num,follow_num,tweet_num,prop
0,5,6316798018,å°ç™½ç†Šçš„ç¢ç¢å¿µ,NaN,æ˜¯çœŸçš„å¾ˆå®¹æ˜“å¿ƒåŠ¨,1,10,31,0.5
1,2,5381340876,é’æ˜¥æ­£å½“å¹´_,NaN,NaN,140,4,454,0.5
2,30,6325323997,è€è‚–2258,NaN,NaN,1,60,148,0.5
3,19,7080322400,çº¢èŠ™å†·æ¼,NaN,NaN,1,38,2,0.5
4,5,7467167364,sjduhdndjxj,NaN,ä¿æŒå–„æ„/æœ‹å‹åœˆ,17,10,20,0.5
...,...,...,...,...,...,...,...,...,...
82931,1,2084726333,MD_èƒ–å¨ƒå¨ƒ,è¶…è¯ç²‰ä¸å¤§å’–ï¼ˆæ‘©ç™»å…„å¼Ÿè¶…è¯ï¼‰,NaN,449,6531,6743,0.000153
82932,1,6051576059,China_è®°å¿†ä¹‹é—¨20220808,NaN,NaN,772,6567,2504,0.000152
82933,1,6192895896,åˆ©å¾—ç¾åšå°”,NaN,æµ·å—çœæµ·å£å¸‚,1684,6969,374,0.000143
82934,2,1883293310,è—å·´æ‹‰æ»´é£˜é£˜é£é±¼,NaN,NaN,44,15199,136,0.000132
82935,2,6090375496,Amourç«¹æµ·æ™¨é˜³,NaN,ç¾å›½æ´›æ‰çŸ¶å¸‚åŒºçš‡åå¤§é“ä¸œï¼,2793,16289,503,0.000123

### å»æ°´

- åŠ è½½æ°´å†›æ•°æ®

In [16]:
df_wa = pd.read_csv('D:/datasets/large_file/water_army_rule2.csv',encoding='utf-8')
df_wa

D:\software\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7,8,10,11,15,16,17,18,19,20,22,24,25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,_id,crawl_at,crawl_at_timestamp,user_type,head_img_url,nick_name,gender,province,city,brief_intro,...,work,label,sentiment,v,sex_orientation,authentication,m_crawled,person_url,cn_crawled,bg_img_url
0,7603237614,2021-08-02 20:27:47.324000,1.627907e+09,0,https://ss1.sinaimg.cn/orj480/default_avatar_m...,ç”¨æˆ·7603237614,m,å…¶ä»–,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,https://weibo.com/u/7603237614,True,https://tva1.sinaimg.cn/crop.0.0.640.640.640/5...
1,7509953118,2021-08-02 20:50:31.549000,1.627909e+09,0,https://ss1.sinaimg.cn/orj480/default_avatar_f...,ç”¨æˆ·7509953118,f,å…¶ä»–,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,https://weibo.com/u/7509953118,True,https://tva1.sinaimg.cn/crop.0.0.640.640.640/5...
2,7640999559,2021-08-02 20:55:28.438000,1.627909e+09,0,https://ss1.sinaimg.cn/orj480/default_avatar_f...,ç”¨æˆ·7640999559,f,å†…è’™å¤,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,https://weibo.com/u/7640999559,True,https://tva1.sinaimg.cn/crop.0.0.640.640.640/5...
3,6397392467,2021-08-02 20:38:59.827000,1.627908e+09,0,https://wx1.sinaimg.cn/orj480/006YWO1tly8fky8f...,ç”¨æˆ·6397392467,f,å…¶ä»–,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,https://weibo.com/u/6397392467,True,https://tva1.sinaimg.cn/crop.0.0.640.640.640/5...
4,7422904056,2021-08-02 21:05:08.729000,1.627910e+09,0,https://ss1.sinaimg.cn/orj480/default_avatar_m...,2019XtRDN,m,å…¶ä»–,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,https://weibo.com/u/7422904056,True,https://tva1.sinaimg.cn/crop.0.0.640.640.640/5...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3556182,3202347983,2021-08-05 13:38:26.203000,1.628142e+09,2,https://ss1.sinaimg.cn/orj480/default_avatar_m...,é—¨ç‰™æ²¡æœ‰äº†,m,NaN,NaN,ç”Ÿè€Œä¸ºäººï¼Œå¯¹ä¸èµ·ã€‚,...,NaN,NaN,NaN,NaN,NaN,NaN,True,https://weibo.com/u/3202347983,NaN,NaN
3556183,1715002577,2021-08-05 13:38:30.859000,1.628142e+09,2,https://ss1.sinaimg.cn/orj480/default_avatar_m...,jiang1715002577_331,m,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,https://weibo.com/u/1715002577,NaN,NaN
3556184,6452165468,2021-08-05 13:38:36.336000,1.628142e+09,2,https://ss1.sinaimg.cn/orj480/default_avatar_m...,80åçš„ç™½æ™“,m,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,https://weibo.com/u/6452165468,NaN,NaN
3556185,5098898826,2021-08-05 13:38:51.189000,1.628142e+09,2,https://ss1.sinaimg.cn/orj480/default_avatar_m...,bgsuzvrnsrqsja,m,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,https://weibo.com/u/5098898826,NaN,NaN
3556186,2818903781,2021-08-05 13:38:56.528000,1.628142e+09,2,https://ss1.sinaimg.cn/orj480/default_avatar_m...,æ€¼éšš_432,m,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,https://weibo.com/u/2818903781,NaN,NaN

In [17]:
df_wa_1 = df_wa[['_id','nick_name']]
df_con_wa = pd.merge(df_con2,df_wa_1,left_on='user_id',right_on='_id')
'''ç¬¬ä¸‰æ¬¡mergeï¼Œå°†ç”¨æˆ·å…³æ³¨kolçš„ä¿¡æ¯ä¸æ°´å†›ä¿¡æ¯è¿›è¡ŒåŒ¹é…ï¼Œä¸‹ä¸€æ­¥å»é™¤æ°´å†›æ•°æ®'''
df_con_wa

,num,user_id,nick_name_x,authentication,brief_intro,fan_num,follow_num,tweet_num,prop,_id,nick_name_y
0,19,7080322400,çº¢èŠ™å†·æ¼,NaN,NaN,1,38,2,0.5,7080322400,çº¢èŠ™å†·æ¼
1,3,7645497011,ç”¨æˆ·7645497011,NaN,NaN,1,6,1,0.5,7645497011,ç”¨æˆ·7645497011
2,1,7316125371,ç¾…æ™¶mei,NaN,å¿ äºè‡ªå·±ã€,17,2,2,0.5,7316125371,ç¾…æ™¶mei
3,6,5759103981,æŒ‡æœˆç¥,NaN,NaN,18,12,101,0.5,5759103981,æŒ‡æœˆç¥
4,2,7613728851,ç”¨æˆ·7613728851,NaN,NaN,1,4,3,0.5,7613728851,ç”¨æˆ·7613728851
...,...,...,...,...,...,...,...,...,...,...,...
7529,1,6926188244,æ¢“ç¥¥å›,NaN,NaN,66,3964,2756,0.000252,6926188244,æ¢“ç¥¥å›
7530,1,5856400615,èè‰æ§çš„hero_110,NaN,NaN,220,3989,2878,0.000251,5856400615,èè‰æ§çš„hero_110
7531,1,6043180568,æœ¨å­ç™¾å‹å£æœˆ,NaN,NaN,535,4256,1775,0.000235,6043180568,æœ¨å­ç™¾å‹å£æœˆ
7532,1,6568547615,å¤©ä¸‹æ˜¯æœ•çš„å°‘æ ¡537,NaN,NaN,224,4355,2957,0.00023,6568547615,å¤©ä¸‹æ˜¯æœ•çš„å°‘æ ¡537
7533,1,2030044305,fating666,NaN,NaN,173,4937,3818,0.000203,2030044305,fating666

In [18]:
# (df_con2['user_id'].isin(df_con_wa['user_id']))

In [19]:
df_con_dwa = df_con2[-(df_con2['user_id'].isin(df_con_wa['user_id']))]  #å»æ°´å†›
df_con_dwa = df_con_dwa.reset_index(drop=True)
df_con_dwa

,num,user_id,nick_name,authentication,brief_intro,fan_num,follow_num,tweet_num,prop
0,5,6316798018,å°ç™½ç†Šçš„ç¢ç¢å¿µ,NaN,æ˜¯çœŸçš„å¾ˆå®¹æ˜“å¿ƒåŠ¨,1,10,31,0.5
1,2,5381340876,é’æ˜¥æ­£å½“å¹´_,NaN,NaN,140,4,454,0.5
2,30,6325323997,è€è‚–2258,NaN,NaN,1,60,148,0.5
3,5,7467167364,sjduhdndjxj,NaN,ä¿æŒå–„æ„/æœ‹å‹åœˆ,17,10,20,0.5
4,10,7631547696,æ°´ä¸­å¤©819,NaN,NaN,1,20,1,0.5
...,...,...,...,...,...,...,...,...,...
74811,1,2084726333,MD_èƒ–å¨ƒå¨ƒ,è¶…è¯ç²‰ä¸å¤§å’–ï¼ˆæ‘©ç™»å…„å¼Ÿè¶…è¯ï¼‰,NaN,449,6531,6743,0.000153
74812,1,6051576059,China_è®°å¿†ä¹‹é—¨20220808,NaN,NaN,772,6567,2504,0.000152
74813,1,6192895896,åˆ©å¾—ç¾åšå°”,NaN,æµ·å—çœæµ·å£å¸‚,1684,6969,374,0.000143
74814,2,1883293310,è—å·´æ‹‰æ»´é£˜é£˜é£é±¼,NaN,NaN,44,15199,136,0.000132
74815,2,6090375496,Amourç«¹æµ·æ™¨é˜³,NaN,ç¾å›½æ´›æ‰çŸ¶å¸‚åŒºçš‡åå¤§é“ä¸œï¼,2793,16289,503,0.000123

### é˜ˆå€¼è®¾å®š

In [20]:
df_ffu = df_con_dwa

In [21]:
df_ffu = df_ffu[df_ffu['prop']>=0.01]         #ç­›é€‰å…³æ³¨æç¬‘ç±»åšä¸»æ¯”ä¾‹å¤§äºç­‰äº0.01çš„ç”¨æˆ·
df_ffu = df_ffu.reset_index(drop=True)
df_ffu

,num,user_id,nick_name,authentication,brief_intro,fan_num,follow_num,tweet_num,prop
0,5,6316798018,å°ç™½ç†Šçš„ç¢ç¢å¿µ,NaN,æ˜¯çœŸçš„å¾ˆå®¹æ˜“å¿ƒåŠ¨,1,10,31,0.5
1,2,5381340876,é’æ˜¥æ­£å½“å¹´_,NaN,NaN,140,4,454,0.5
2,30,6325323997,è€è‚–2258,NaN,NaN,1,60,148,0.5
3,5,7467167364,sjduhdndjxj,NaN,ä¿æŒå–„æ„/æœ‹å‹åœˆ,17,10,20,0.5
4,10,7631547696,æ°´ä¸­å¤©819,NaN,NaN,1,20,1,0.5
...,...,...,...,...,...,...,...,...,...
52673,1,5579524490,é†’æ¥å°±å»è§ä»–,NaN,NaN,87,100,8,0.01
52674,4,5022890762,è±†å­é˜¿é²,NaN,NaN,161,400,278,0.01
52675,1,6112302093,è€é£ä¾ æ‰“çƒ,NaN,äººç”Ÿè·¯ï¼Œç¾æ¢¦ä¼¼è·¯é•¿,34,100,31,0.01
52676,1,5451585704,æ1ran,NaN,å‚»é€¼è¿œç¦»æˆ‘ğŸ™,102,100,208,0.01
52677,3,2835526475,__2yun,NaN,è¦æ°¸è¿œå¿«ä¹.,630,300,263,0.01

In [22]:
# df_ffu[df_ffu['num']>=5][df_ffu['prop']>=0.05]

In [23]:
df_ffu = df_ffu[df_ffu['num']>=3]
df_ffu = df_ffu.reset_index(drop=True)
df_ffu

,num,user_id,nick_name,authentication,brief_intro,fan_num,follow_num,tweet_num,prop
0,5,6316798018,å°ç™½ç†Šçš„ç¢ç¢å¿µ,NaN,æ˜¯çœŸçš„å¾ˆå®¹æ˜“å¿ƒåŠ¨,1,10,31,0.5
1,30,6325323997,è€è‚–2258,NaN,NaN,1,60,148,0.5
2,5,7467167364,sjduhdndjxj,NaN,ä¿æŒå–„æ„/æœ‹å‹åœˆ,17,10,20,0.5
3,10,7631547696,æ°´ä¸­å¤©819,NaN,NaN,1,20,1,0.5
4,47,7237590033,è‹é‡Œå—lun,NaN,NaN,1,94,1,0.5
...,...,...,...,...,...,...,...,...,...
45814,6,5540760258,Peiå››æœˆ-,NaN,ä¸è®ºå‡ å² å¼€å¿ƒä¸‡å²ğŸ™†,968,600,660,0.01
45815,4,5786280632,é‡‘å°ç¦¾cherry,NaN,NaN,99,400,42,0.01
45816,7,2823823090,Ali_stayhumble,NaN,å‹‡æ•¢ç‰›ç‰›ï¼Œä¸æ€•å›°éš¾ï¼Œè¿‡å¥½è‡ªå·±çš„æ—¥å­ã€‚,1098,700,369,0.01
45817,4,5022890762,è±†å­é˜¿é²,NaN,NaN,161,400,278,0.01
45818,3,2835526475,__2yun,NaN,è¦æ°¸è¿œå¿«ä¹.,630,300,263,0.01

In [26]:
df_ffu = df_ffu[df_ffu['num']>=5][df_ffu['prop']>=0.05]
df_ffu = df_ffu.reset_index(drop=True)
df_ffu

<ipython-input-26-45fe2c35604a>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_ffu = df_ffu[df_ffu['num']>=5][df_ffu['prop']>=0.05]

,num,user_id,nick_name,authentication,brief_intro,fan_num,follow_num,tweet_num,prop
0,5,6316798018,å°ç™½ç†Šçš„ç¢ç¢å¿µ,NaN,æ˜¯çœŸçš„å¾ˆå®¹æ˜“å¿ƒåŠ¨,1,10,31,0.5
1,30,6325323997,è€è‚–2258,NaN,NaN,1,60,148,0.5
2,5,7467167364,sjduhdndjxj,NaN,ä¿æŒå–„æ„/æœ‹å‹åœˆ,17,10,20,0.5
3,10,7631547696,æ°´ä¸­å¤©819,NaN,NaN,1,20,1,0.5
4,47,7237590033,è‹é‡Œå—lun,NaN,NaN,1,94,1,0.5
...,...,...,...,...,...,...,...,...,...
13594,21,5211623891,é€—æ¯”å¹¶æ’åŒ—è¾¹è·‘YY,NaN,å­¦ä¼šç”¨æ™ºæ…§æŠ“ä½å¹¸ç¦çš„äººï¼Œæ‰èƒ½ä¸€ç”Ÿå¹¸ç¦ã€‚,53,420,39,0.05
13595,12,3030443690,LWM1850760,NaN,NaN,45,240,10,0.05
13596,14,2481026221,å«©åœ°å®_,NaN,ç¢ç¢å¿µçš„å°å·,319,280,456,0.05
13597,6,2552268711,å­¤ç‹¬çš„Ethic,NaN,NaN,37,120,219,0.05
13598,8,6194013091,_ä»Šå¤©çš„æˆ‘æ—©ç¡äº†å—_,NaN,NaN,48,160,195,0.05

In [28]:
df_ffu.to_csv('D:/datasets/qianyi/user_label/method/based_on_user_focusing_kol/file/user_label/fun_label_n5p5.csv',index=False) #æ–‡ä»¶è¾“å‡º