数据： 大类kol数据、fan-followed表格数据、用户信息数据

In [1]:
import numpy as np
import pandas as pd

- 加载搞笑类kol

In [2]:
df_kol = pd.read_csv('D:/datasets/qianyi/user_label/method/based_on_user_focusing_kol/file/kol/fun_gt10w_3.csv',encoding='utf-8')
df_kol

,kol_id,nick_name,user_type,gender,province,city,vip_level,education,work,birthday,fan_num,follow_num,tweet_num,brief_intro,authentication,label,kol_con,con_seq
0,3015928115,国人养生殿孝基,0,m,北京,西城区,1,NaN,NaN,NaN,104664.0,2195.0,1110.0,XXXWL9527❤V,搞笑幽默博主,美女,国人养生殿孝基XXXWL9527❤V搞笑幽默博主,"['国人', '养生', '搞笑', '幽默', '博主']"
1,5025857653,果子,0,m,河南,郑州,6,NaN,NaN,狮子座,20166337.0,234.0,99327.0,商务合作v：55188955,搞笑幽默博主 微博原创视频博主 微博VLOG博主,NaN,果子商务合作v：55188955搞笑幽默博主 微博原创视频博主 微博VLOG博主,"['果子', '商务', '合作', '搞笑', '幽默', '博主', '原创', '视频..."
2,6811589462,喝大了,1,m,浙江,NaN,5,·浙江大学14级,·,1996-05-17,2026534.0,29.0,5774.0,关注我的听说都找到配对了。,搞笑幽默博主,NaN,喝大了关注我的听说都找到配对了。搞笑幽默博主,"['听说', '找到', '配对', '搞笑', '幽默', '博主']"
3,3145767770,街拍正能量,1,m,上海,NaN,6,·上海商学院94级,·新浪网技术（中国）有限公司2015年-2018年·白百合2009年-2015年,01-01,165682.0,985.0,16459.0,搞笑视频分享平台，欢迎投稿,微博VLOG博主 微博原创视频博主,"全城爆笑,萌图神吐槽,正能量博主",街拍正能量搞笑视频分享平台，欢迎投稿微博VLOG博主 微博原创视频博主,"['能量', '搞笑', '视频', '分享', '平台', '欢迎', '投稿', '博主..."
4,5893098413,戏精急诊科,1,m,海外,法国,6,NaN,NaN,2017-08-06,392640.0,100.0,1009.0,请排队看病，谢谢,搞笑幽默博主,NaN,戏精急诊科请排队看病，谢谢搞笑幽默博主,"['戏精', '急诊科', '排队', '看病', '谢谢', '搞笑', '幽默', '博主']"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8307,2419121401,就笑了怎么,1,m,NaN,NaN,6,NaN,NaN,NaN,275877.0,500.0,695.0,哈哈哈哈，不想再被硬邦邦的现实撞得人仰马翻,搞笑幽默博主,NaN,就笑了怎么哈哈哈哈，不想再被硬邦邦的现实撞得人仰马翻搞笑幽默博主,"['不想', '现实', '搞笑', '幽默', '博主']"
8308,1974750773,幽默咖1,2,m,NaN,NaN,2,NaN,NaN,NaN,122913.0,1921.0,225.0,🔥世界顶尖搞笑大咖cc,NaN,NaN,幽默咖1🔥世界顶尖搞笑大咖ccnan,"['幽默', '顶尖', '搞笑']"
8309,1788096093,银河系小喷子,1,m,NaN,NaN,6,NaN,NaN,NaN,126427.0,994.0,1876.0,说那么多都是为了什么呢？,搞笑幽默博主,NaN,银河系小喷子说那么多都是为了什么呢？搞笑幽默博主,"['银河系', '喷子', '搞笑', '幽默', '博主']"
8310,3889228788,欢乐的Jony格轮,1,f,NaN,NaN,0,NaN,NaN,NaN,100911.0,2870.0,2129.0,只有经历过地狱般的折磨，才有征服天堂的力量。只有流过血的手指才能弹出世间的绝唱。,搞笑幽默博主,NaN,欢乐的Jony格轮只有经历过地狱般的折磨，才有征服天堂的力量。只有流过血的手指才能弹出世间的...,"['欢乐', '格轮', '地狱', '折磨', '征服', '天堂', '力量', '流过..."
8311,2071959200,幽默小智慧,2,m,NaN,NaN,4,NaN,NaN,NaN,141796.0,2099.0,29845.0,你想快乐吗？想心情愉悦吗？相信——幽默小智慧.会每天为你带来不一样的快乐和愉悦哦！（•精灵•...,NaN,NaN,幽默小智慧你想快乐吗？想心情愉悦吗？相信——幽默小智慧.会每天为你带来不一样的快乐和愉悦哦！...,"['幽默', '智慧', '快乐', '愉悦', '相信', '幽默', '智慧', '带来..."

- 加载fan-follow数据

In [3]:
df_ff = pd.read_csv('D:/datasets/large_file/fan_follow_2kw.csv',encoding='utf-8')
df_ff

                            _id      fan_id  followed_id
0         5138022423_7640214702  5138022423   7640214702
1         5138022423_6989405838  5138022423   6989405838
2         5138022423_6550815288  5138022423   6550815288
3         5138022423_6574713134  5138022423   6574713134
4         5138022423_6688666511  5138022423   6688666511
...                         ...         ...          ...
19999995  6969968269_7207390440  6969968269   7207390440
19999996  5621761602_5548152549  5621761602   5548152549
19999997  5621761602_1195354434  5621761602   1195354434
19999998  5621761602_2687827715  5621761602   2687827715
19999999  5621761602_2038373915  5621761602   2038373915

[20000000 rows x 3 columns]

In [4]:
# len(df_ff['fan_id'].unique())

In [5]:
df_con1 = pd.merge(df_ff,df_kol,left_on='followed_id',right_on="kol_id")  
'''第一次merge，将fan-followed的表格数据与大类kol的数据进行匹配，左键选择被关注对象，右键
选择kol的id，目的是将关注对象中有大类kol的对象筛选出来，后续很容易得到这些用户关注的kol的数目'''
df_con1

,_id,fan_id,followed_id,kol_id,nick_name,user_type,gender,province,city,vip_level,...,work,birthday,fan_num,follow_num,tweet_num,brief_intro,authentication,label,kol_con,con_seq
0,6046089267_5824051112,6046089267,5824051112,5824051112,原图妈,1,m,其他,NaN,7,...,NaN,2018-08-08,12047803.0,115.0,1486.0,我太拉了,微博知名搞笑博主,NaN,原图妈我太拉了微博知名搞笑博主,"['原图', '知名', '搞笑', '博主']"
1,5455741380_5824051112,5455741380,5824051112,5824051112,原图妈,1,m,其他,NaN,7,...,NaN,2018-08-08,12047803.0,115.0,1486.0,我太拉了,微博知名搞笑博主,NaN,原图妈我太拉了微博知名搞笑博主,"['原图', '知名', '搞笑', '博主']"
2,5628756545_5824051112,5628756545,5824051112,5824051112,原图妈,1,m,其他,NaN,7,...,NaN,2018-08-08,12047803.0,115.0,1486.0,我太拉了,微博知名搞笑博主,NaN,原图妈我太拉了微博知名搞笑博主,"['原图', '知名', '搞笑', '博主']"
3,2523923167_5824051112,2523923167,5824051112,5824051112,原图妈,1,m,其他,NaN,7,...,NaN,2018-08-08,12047803.0,115.0,1486.0,我太拉了,微博知名搞笑博主,NaN,原图妈我太拉了微博知名搞笑博主,"['原图', '知名', '搞笑', '博主']"
4,6871319321_5824051112,6871319321,5824051112,5824051112,原图妈,1,m,其他,NaN,7,...,NaN,2018-08-08,12047803.0,115.0,1486.0,我太拉了,微博知名搞笑博主,NaN,原图妈我太拉了微博知名搞笑博主,"['原图', '知名', '搞笑', '博主']"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
877682,3556064792_6197070647,3556064792,6197070647,6197070647,小师姐来啦,1,f,陕西,西安,6,...,NaN,2017-04-07,172395.0,129.0,310.0,一档专属于女大学生的街访栏目 商务合作联系微信XSJLL102,搞笑幽默博主,"自媒体,搞笑,娛樂",小师姐来啦一档专属于女大学生的街访栏目 商务合作联系微信XSJLL102搞笑幽默博主,"['师姐', '属于', '大学生', '街访', '栏目', '商务', '合作', '联..."
877683,3556064792_6197070647,3556064792,6197070647,6197070647,小师姐来啦,1,f,陕西,西安,6,...,NaN,2017-04-07,172395.0,129.0,310.0,一档专属于女大学生的街访栏目 商务合作联系微信XSJLL102,搞笑幽默博主,"自媒体,搞笑,娛樂",小师姐来啦一档专属于女大学生的街访栏目 商务合作联系微信XSJLL102搞笑幽默博主,"['师姐', '属于', '大学生', '街访', '栏目', '商务', '合作', '联..."
877684,2589016105_1935398931,2589016105,1935398931,1935398931,全球八卦娱乐,1,f,上海,黄浦区,7,...,NaN,01-01,4471824.0,341.0,6656.0,屌丝娱乐，搞笑八卦，全球娱乐，冷热笑话，雷人语录，经典评论一网打尽。,知名娱乐博主 娱乐综艺视频自媒体,"八卦新闻,明星,时尚",全球八卦娱乐屌丝娱乐，搞笑八卦，全球娱乐，冷热笑话，雷人语录，经典评论一网打尽。知名娱乐博主...,"['八卦', '娱乐', '屌丝', '娱乐', '搞笑', '八卦', '娱乐', '冷热..."
877685,1869956317_5953775517,1869956317,5953775517,5953775517,粽团,1,m,其他,NaN,6,...,NaN,摩羯座,200530.0,83.0,8243.0,喜欢盛夏，讨厌雨。,知名搞笑幽默博主,"趣图,搞笑图片,段子",粽团喜欢盛夏，讨厌雨。知名搞笑幽默博主,"['粽团', '喜欢', '讨厌', '知名', '搞笑', '幽默', '博主']"
877686,1869956317_5953775517,1869956317,5953775517,5953775517,粽团,1,m,其他,NaN,6,...,NaN,摩羯座,200530.0,83.0,8243.0,喜欢盛夏，讨厌雨。,知名搞笑幽默博主,"趣图,搞笑图片,段子",粽团喜欢盛夏，讨厌雨。知名搞笑幽默博主,"['粽团', '喜欢', '讨厌', '知名', '搞笑', '幽默', '博主']"

In [6]:
len(df_con1['fan_id'].unique())                  #在2kw关注关系中有有87w个关注搞笑类博主，对应10w+用户

104720

In [7]:
focus_fun = df_con1['fan_id'].value_counts()     #计算每个用户关注的搞笑类博主的数目
focus_fun

6978566229    238
5818694213    220
5025857653    205
5252556080    192
6122690521    190
             ...
7308678454      1
7454669557      1
7565668767      1
7172363564      1
6942634705      1
Name: fan_id, Length: 104720, dtype: int64

- 将用户关注的搞笑类kol的用户的数目信息转换为dataframe

In [8]:
df_ff_user = pd.DataFrame(focus_fun)
df_ff_user['user_id'] = df_ff_user.index
df_ff_user = df_ff_user.rename(columns={'fan_id':'num'})
df_ff_user = df_ff_user.reset_index(drop=True)
df_ff_user

        num     user_id
0       238  6978566229
1       220  5818694213
2       205  5025857653
3       192  5252556080
4       190  6122690521
...     ...         ...
104715    1  7308678454
104716    1  7454669557
104717    1  7565668767
104718    1  7172363564
104719    1  6942634705

[104720 rows x 2 columns]

- 读取用户信息表格

In [9]:
df_user_full = pd.read_csv('D:/datasets/large_file/user6m.csv',encoding='utf-8')
df_user_full = df_user_full.rename(columns={'_id':'user_id'})   #重命名列名
df_user_full

D:\software\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,23,24,25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,user_id,authentication,bg_img_url,birthday,brief_intro,city,cn_crawled,crawl_at,crawl_at_timestamp,education,...,nick_name,person_url,province,sentiment,sex_orientation,tweet_num,user_type,v,vip_level,work
0,2917160407,NaN,https://wx4.sinaimg.cn/crop.0.0.640.640.640/ad...,1996-03-30,天将黑未黑时最浪漫 人不近不远最自然,保定,True,2021-08-02T19:44:21.787Z,1627904661,NaN,...,Lccccc_,https://weibo.com/u/2917160407,河北,NaN,NaN,176,0.0,NaN,3,NaN
1,5770326762,NaN,https://tva2.sinaimg.cn/crop.0.0.640.640.640/a...,1989-11-08,公开微信997865467,杭州,True,2021-08-02T19:34:04.907Z,1627904044,·杭州师范大学07级,...,最美校花任琳jones,https://weibo.com/u/5770326762,浙江,NaN,NaN,2411,0.0,NaN,1,·广告公司2013年-2014年
2,7521453134,NaN,https://tva1.sinaimg.cn/crop.0.0.640.640.640/5...,NaN,啥时候中次大奖让我快乐快乐,NaN,True,2021-08-02T21:16:07.104Z,1627910167,NaN,...,哈利啵菜_,https://weibo.com/u/7521453134,其他,NaN,NaN,2,0.0,NaN,0,NaN
3,2048956025,NaN,NaN,1998-04-01,我是我的精神领袖🌈,万州区,NaN,1626199473833,1626170673,NaN,...,今天也要努力学习变富婆,NaN,重庆,NaN,NaN,739,0.0,NaN,：6级,NaN
4,7603237614,NaN,https://tva1.sinaimg.cn/crop.0.0.640.640.640/5...,NaN,NaN,NaN,True,2021-08-02T20:27:47.324Z,1627907267,NaN,...,用户7603237614,https://weibo.com/u/7603237614,其他,NaN,NaN,0,0.0,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6105007,7206398338,NaN,https://tva1.sinaimg.cn/crop.0.0.640.640.640/5...,NaN,NaN,NaN,True,2021-08-02T11:57:11.539Z,1627876631,NaN,...,E峰峰峰购,NaN,其他,NaN,NaN,0,0.0,NaN,NaN,NaN
6105008,7216727352,NaN,https://tva1.sinaimg.cn/crop.0.0.640.640.640/5...,NaN,NaN,NaN,True,2021-08-02T13:17:11.588Z,1627881431,NaN,...,Wangyxin哦像,NaN,其他,NaN,NaN,0,0.0,NaN,NaN,NaN
6105009,7163510847,NaN,https://tva1.sinaimg.cn/crop.0.0.640.640.640/5...,NaN,NaN,NaN,True,2021-08-02T11:56:38.972Z,1627876598,NaN,...,yunzhongy役,NaN,其他,NaN,NaN,0,0.0,NaN,NaN,NaN
6105010,7116342151,NaN,https://tva1.sinaimg.cn/crop.0.0.640.640.640/5...,NaN,NaN,NaN,True,2021-08-02T13:08:12.442Z,1627880892,NaN,...,他妈呀旦,NaN,其他,NaN,NaN,0,0.0,NaN,NaN,NaN
6105011,7645291838,NaN,https://tva1.sinaimg.cn/crop.0.0.640.640.640/5...,NaN,NaN,NaN,True,2021-08-02T12:59:13.502Z,1627880353,NaN,...,月亮化掉了17952,NaN,其他,NaN,NaN,6,0.0,NaN,NaN,NaN

In [10]:
df_user_briinfo = df_user_full[['user_id','nick_name','authentication','brief_intro','fan_num',
           'follow_num','tweet_num']]             #选取用户信息表格中部分列

In [11]:
df_con2 = pd.merge(df_ff_user,df_user_briinfo,on='user_id')
'''第二次merge，将第一次匹配好的结果与用户简要信息匹配'''
'''重要关注两个变量：每个用户关注的搞笑类的KOL的数目以及用户关注的总人数'''
df_con2

,num,user_id,nick_name,authentication,brief_intro,fan_num,follow_num,tweet_num
0,220,5818694213,佛山你大爷,NaN,乐观活泼，心态平和,2,502,1051
1,192,5252556080,用户5252556080,NaN,NaN,10,492,680
2,190,6122690521,-stillseven,NaN,清醒 清醒 清醒,277,575,2740
3,187,6637795510,硬帮帮主邦邦硬,NaN,NaN,2,270,44
4,177,2407673677,miss_of_your_dream3,NaN,方得埋赛，挨你妹寻,78,1042,65
...,...,...,...,...,...,...,...,...
101280,1,7308678454,鲸鱼伊,NaN,NaN,1,71,40
101281,1,7454669557,Tinachana,NaN,NaN,5,343,28
101282,1,7565668767,小胖儿吖吖吖,NaN,NaN,5,69,1
101283,1,7172363564,NaN,NaN,NaN,38,114,40
101284,1,6942634705,人群中的小J,NaN,NaN,147,150,325

- 剔除异常用户

In [12]:
df_con2 = df_con2[-(df_con2['follow_num']==0)][-(df_con2['tweet_num']==0)][df_con2['num']<df_con2['follow_num']]
'去除关注数为0或帖子数为0或者关注数小于关注搞笑类kol数的异常用户'
df_con2

<ipython-input-12-c0b59fc23ba0>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_con2 = df_con2[-(df_con2['follow_num']==0)][-(df_con2['tweet_num']==0)][df_con2['num']<df_con2['follow_num']]
<ipython-input-12-c0b59fc23ba0>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_con2 = df_con2[-(df_con2['follow_num']==0)][-(df_con2['tweet_num']==0)][df_con2['num']<df_con2['follow_num']]

,num,user_id,nick_name,authentication,brief_intro,fan_num,follow_num,tweet_num
0,220,5818694213,佛山你大爷,NaN,乐观活泼，心态平和,2,502,1051
1,192,5252556080,用户5252556080,NaN,NaN,10,492,680
2,190,6122690521,-stillseven,NaN,清醒 清醒 清醒,277,575,2740
3,187,6637795510,硬帮帮主邦邦硬,NaN,NaN,2,270,44
4,177,2407673677,miss_of_your_dream3,NaN,方得埋赛，挨你妹寻,78,1042,65
...,...,...,...,...,...,...,...,...
101280,1,7308678454,鲸鱼伊,NaN,NaN,1,71,40
101281,1,7454669557,Tinachana,NaN,NaN,5,343,28
101282,1,7565668767,小胖儿吖吖吖,NaN,NaN,5,69,1
101283,1,7172363564,NaN,NaN,NaN,38,114,40
101284,1,6942634705,人群中的小J,NaN,NaN,147,150,325

In [13]:
df_con2['prop'] = df_con2['num']/df_con2['follow_num']   #每个用户关注搞笑类kol占所关注的人数的比例
df_con2 = df_con2.reset_index(drop=True)
df_con2

,num,user_id,nick_name,authentication,brief_intro,fan_num,follow_num,tweet_num,prop
0,220,5818694213,佛山你大爷,NaN,乐观活泼，心态平和,2,502,1051,0.438247
1,192,5252556080,用户5252556080,NaN,NaN,10,492,680,0.390244
2,190,6122690521,-stillseven,NaN,清醒 清醒 清醒,277,575,2740,0.330435
3,187,6637795510,硬帮帮主邦邦硬,NaN,NaN,2,270,44,0.692593
4,177,2407673677,miss_of_your_dream3,NaN,方得埋赛，挨你妹寻,78,1042,65,0.169866
...,...,...,...,...,...,...,...,...,...
83030,1,7308678454,鲸鱼伊,NaN,NaN,1,71,40,0.014085
83031,1,7454669557,Tinachana,NaN,NaN,5,343,28,0.002915
83032,1,7565668767,小胖儿吖吖吖,NaN,NaN,5,69,1,0.014493
83033,1,7172363564,NaN,NaN,NaN,38,114,40,0.008772
83034,1,6942634705,人群中的小J,NaN,NaN,147,150,325,0.006667

In [14]:
df_con2 = df_con2[df_con2['prop']<=0.5]                      #将比例过大的用户剔除，这类用户中异常的很多
df_con2.sort_values('prop',ascending=False,inplace=True)    #按照比例进行降序排列
df_con2 = df_con2.reset_index(drop=True)
df_con2

<ipython-input-14-d38811125929>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_con2.sort_values('prop',ascending=False,inplace=True)

,num,user_id,nick_name,authentication,brief_intro,fan_num,follow_num,tweet_num,prop
0,5,6316798018,小白熊的碎碎念,NaN,是真的很容易心动,1,10,31,0.5
1,2,5381340876,青春正当年_,NaN,NaN,140,4,454,0.5
2,30,6325323997,老肖2258,NaN,NaN,1,60,148,0.5
3,19,7080322400,红芙冷漠,NaN,NaN,1,38,2,0.5
4,5,7467167364,sjduhdndjxj,NaN,保持善意/朋友圈,17,10,20,0.5
...,...,...,...,...,...,...,...,...,...
82931,1,2084726333,MD_胖娃娃,超话粉丝大咖（摩登兄弟超话）,NaN,449,6531,6743,0.000153
82932,1,6051576059,China_记忆之门20220808,NaN,NaN,772,6567,2504,0.000152
82933,1,6192895896,利得美坚尔,NaN,海南省海口市,1684,6969,374,0.000143
82934,2,1883293310,藏巴拉滴飘飘风鱼,NaN,NaN,44,15199,136,0.000132
82935,2,6090375496,Amour竹海晨阳,NaN,美国洛杉矶市区皇后大道东！,2793,16289,503,0.000123

In [15]:
df_con2 = df_con2[-df_con2['nick_name'].isna()]          #去除昵称为nah的用户
df_con2

,num,user_id,nick_name,authentication,brief_intro,fan_num,follow_num,tweet_num,prop
0,5,6316798018,小白熊的碎碎念,NaN,是真的很容易心动,1,10,31,0.5
1,2,5381340876,青春正当年_,NaN,NaN,140,4,454,0.5
2,30,6325323997,老肖2258,NaN,NaN,1,60,148,0.5
3,19,7080322400,红芙冷漠,NaN,NaN,1,38,2,0.5
4,5,7467167364,sjduhdndjxj,NaN,保持善意/朋友圈,17,10,20,0.5
...,...,...,...,...,...,...,...,...,...
82931,1,2084726333,MD_胖娃娃,超话粉丝大咖（摩登兄弟超话）,NaN,449,6531,6743,0.000153
82932,1,6051576059,China_记忆之门20220808,NaN,NaN,772,6567,2504,0.000152
82933,1,6192895896,利得美坚尔,NaN,海南省海口市,1684,6969,374,0.000143
82934,2,1883293310,藏巴拉滴飘飘风鱼,NaN,NaN,44,15199,136,0.000132
82935,2,6090375496,Amour竹海晨阳,NaN,美国洛杉矶市区皇后大道东！,2793,16289,503,0.000123

### 去水

- 加载水军数据

In [16]:
df_wa = pd.read_csv('D:/datasets/large_file/water_army_rule2.csv',encoding='utf-8')
df_wa

D:\software\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7,8,10,11,15,16,17,18,19,20,22,24,25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,_id,crawl_at,crawl_at_timestamp,user_type,head_img_url,nick_name,gender,province,city,brief_intro,...,work,label,sentiment,v,sex_orientation,authentication,m_crawled,person_url,cn_crawled,bg_img_url
0,7603237614,2021-08-02 20:27:47.324000,1.627907e+09,0,https://ss1.sinaimg.cn/orj480/default_avatar_m...,用户7603237614,m,其他,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,https://weibo.com/u/7603237614,True,https://tva1.sinaimg.cn/crop.0.0.640.640.640/5...
1,7509953118,2021-08-02 20:50:31.549000,1.627909e+09,0,https://ss1.sinaimg.cn/orj480/default_avatar_f...,用户7509953118,f,其他,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,https://weibo.com/u/7509953118,True,https://tva1.sinaimg.cn/crop.0.0.640.640.640/5...
2,7640999559,2021-08-02 20:55:28.438000,1.627909e+09,0,https://ss1.sinaimg.cn/orj480/default_avatar_f...,用户7640999559,f,内蒙古,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,https://weibo.com/u/7640999559,True,https://tva1.sinaimg.cn/crop.0.0.640.640.640/5...
3,6397392467,2021-08-02 20:38:59.827000,1.627908e+09,0,https://wx1.sinaimg.cn/orj480/006YWO1tly8fky8f...,用户6397392467,f,其他,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,https://weibo.com/u/6397392467,True,https://tva1.sinaimg.cn/crop.0.0.640.640.640/5...
4,7422904056,2021-08-02 21:05:08.729000,1.627910e+09,0,https://ss1.sinaimg.cn/orj480/default_avatar_m...,2019XtRDN,m,其他,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,https://weibo.com/u/7422904056,True,https://tva1.sinaimg.cn/crop.0.0.640.640.640/5...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3556182,3202347983,2021-08-05 13:38:26.203000,1.628142e+09,2,https://ss1.sinaimg.cn/orj480/default_avatar_m...,门牙没有了,m,NaN,NaN,生而为人，对不起。,...,NaN,NaN,NaN,NaN,NaN,NaN,True,https://weibo.com/u/3202347983,NaN,NaN
3556183,1715002577,2021-08-05 13:38:30.859000,1.628142e+09,2,https://ss1.sinaimg.cn/orj480/default_avatar_m...,jiang1715002577_331,m,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,https://weibo.com/u/1715002577,NaN,NaN
3556184,6452165468,2021-08-05 13:38:36.336000,1.628142e+09,2,https://ss1.sinaimg.cn/orj480/default_avatar_m...,80后的白晓,m,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,https://weibo.com/u/6452165468,NaN,NaN
3556185,5098898826,2021-08-05 13:38:51.189000,1.628142e+09,2,https://ss1.sinaimg.cn/orj480/default_avatar_m...,bgsuzvrnsrqsja,m,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,https://weibo.com/u/5098898826,NaN,NaN
3556186,2818903781,2021-08-05 13:38:56.528000,1.628142e+09,2,https://ss1.sinaimg.cn/orj480/default_avatar_m...,怼隚_432,m,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,https://weibo.com/u/2818903781,NaN,NaN

In [17]:
df_wa_1 = df_wa[['_id','nick_name']]
df_con_wa = pd.merge(df_con2,df_wa_1,left_on='user_id',right_on='_id')
'''第三次merge，将用户关注kol的信息与水军信息进行匹配，下一步去除水军数据'''
df_con_wa

,num,user_id,nick_name_x,authentication,brief_intro,fan_num,follow_num,tweet_num,prop,_id,nick_name_y
0,19,7080322400,红芙冷漠,NaN,NaN,1,38,2,0.5,7080322400,红芙冷漠
1,3,7645497011,用户7645497011,NaN,NaN,1,6,1,0.5,7645497011,用户7645497011
2,1,7316125371,羅晶mei,NaN,忠于自己、,17,2,2,0.5,7316125371,羅晶mei
3,6,5759103981,指月神,NaN,NaN,18,12,101,0.5,5759103981,指月神
4,2,7613728851,用户7613728851,NaN,NaN,1,4,3,0.5,7613728851,用户7613728851
...,...,...,...,...,...,...,...,...,...,...,...
7529,1,6926188244,梓祥君,NaN,NaN,66,3964,2756,0.000252,6926188244,梓祥君
7530,1,5856400615,萝莉控的hero_110,NaN,NaN,220,3989,2878,0.000251,5856400615,萝莉控的hero_110
7531,1,6043180568,木子百友口月,NaN,NaN,535,4256,1775,0.000235,6043180568,木子百友口月
7532,1,6568547615,天下是朕的少校537,NaN,NaN,224,4355,2957,0.00023,6568547615,天下是朕的少校537
7533,1,2030044305,fating666,NaN,NaN,173,4937,3818,0.000203,2030044305,fating666

In [18]:
# (df_con2['user_id'].isin(df_con_wa['user_id']))

In [19]:
df_con_dwa = df_con2[-(df_con2['user_id'].isin(df_con_wa['user_id']))]  #去水军
df_con_dwa = df_con_dwa.reset_index(drop=True)
df_con_dwa

,num,user_id,nick_name,authentication,brief_intro,fan_num,follow_num,tweet_num,prop
0,5,6316798018,小白熊的碎碎念,NaN,是真的很容易心动,1,10,31,0.5
1,2,5381340876,青春正当年_,NaN,NaN,140,4,454,0.5
2,30,6325323997,老肖2258,NaN,NaN,1,60,148,0.5
3,5,7467167364,sjduhdndjxj,NaN,保持善意/朋友圈,17,10,20,0.5
4,10,7631547696,水中天819,NaN,NaN,1,20,1,0.5
...,...,...,...,...,...,...,...,...,...
74811,1,2084726333,MD_胖娃娃,超话粉丝大咖（摩登兄弟超话）,NaN,449,6531,6743,0.000153
74812,1,6051576059,China_记忆之门20220808,NaN,NaN,772,6567,2504,0.000152
74813,1,6192895896,利得美坚尔,NaN,海南省海口市,1684,6969,374,0.000143
74814,2,1883293310,藏巴拉滴飘飘风鱼,NaN,NaN,44,15199,136,0.000132
74815,2,6090375496,Amour竹海晨阳,NaN,美国洛杉矶市区皇后大道东！,2793,16289,503,0.000123

### 阈值设定

In [20]:
df_ffu = df_con_dwa

In [21]:
df_ffu = df_ffu[df_ffu['prop']>=0.01]         #筛选关注搞笑类博主比例大于等于0.01的用户
df_ffu = df_ffu.reset_index(drop=True)
df_ffu

,num,user_id,nick_name,authentication,brief_intro,fan_num,follow_num,tweet_num,prop
0,5,6316798018,小白熊的碎碎念,NaN,是真的很容易心动,1,10,31,0.5
1,2,5381340876,青春正当年_,NaN,NaN,140,4,454,0.5
2,30,6325323997,老肖2258,NaN,NaN,1,60,148,0.5
3,5,7467167364,sjduhdndjxj,NaN,保持善意/朋友圈,17,10,20,0.5
4,10,7631547696,水中天819,NaN,NaN,1,20,1,0.5
...,...,...,...,...,...,...,...,...,...
52673,1,5579524490,醒来就去见他,NaN,NaN,87,100,8,0.01
52674,4,5022890762,豆子阿鲁,NaN,NaN,161,400,278,0.01
52675,1,6112302093,老飞侠打球,NaN,人生路，美梦似路长,34,100,31,0.01
52676,1,5451585704,李1ran,NaN,傻逼远离我🙏,102,100,208,0.01
52677,3,2835526475,__2yun,NaN,要永远快乐.,630,300,263,0.01

In [22]:
# df_ffu[df_ffu['num']>=5][df_ffu['prop']>=0.05]

In [23]:
df_ffu = df_ffu[df_ffu['num']>=3]
df_ffu = df_ffu.reset_index(drop=True)
df_ffu

,num,user_id,nick_name,authentication,brief_intro,fan_num,follow_num,tweet_num,prop
0,5,6316798018,小白熊的碎碎念,NaN,是真的很容易心动,1,10,31,0.5
1,30,6325323997,老肖2258,NaN,NaN,1,60,148,0.5
2,5,7467167364,sjduhdndjxj,NaN,保持善意/朋友圈,17,10,20,0.5
3,10,7631547696,水中天819,NaN,NaN,1,20,1,0.5
4,47,7237590033,苏里南lun,NaN,NaN,1,94,1,0.5
...,...,...,...,...,...,...,...,...,...
45814,6,5540760258,Pei四月-,NaN,不论几岁 开心万岁🙆,968,600,660,0.01
45815,4,5786280632,金小禾cherry,NaN,NaN,99,400,42,0.01
45816,7,2823823090,Ali_stayhumble,NaN,勇敢牛牛，不怕困难，过好自己的日子。,1098,700,369,0.01
45817,4,5022890762,豆子阿鲁,NaN,NaN,161,400,278,0.01
45818,3,2835526475,__2yun,NaN,要永远快乐.,630,300,263,0.01

In [26]:
df_ffu = df_ffu[df_ffu['num']>=5][df_ffu['prop']>=0.05]
df_ffu = df_ffu.reset_index(drop=True)
df_ffu

<ipython-input-26-45fe2c35604a>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_ffu = df_ffu[df_ffu['num']>=5][df_ffu['prop']>=0.05]

,num,user_id,nick_name,authentication,brief_intro,fan_num,follow_num,tweet_num,prop
0,5,6316798018,小白熊的碎碎念,NaN,是真的很容易心动,1,10,31,0.5
1,30,6325323997,老肖2258,NaN,NaN,1,60,148,0.5
2,5,7467167364,sjduhdndjxj,NaN,保持善意/朋友圈,17,10,20,0.5
3,10,7631547696,水中天819,NaN,NaN,1,20,1,0.5
4,47,7237590033,苏里南lun,NaN,NaN,1,94,1,0.5
...,...,...,...,...,...,...,...,...,...
13594,21,5211623891,逗比并排北边跑YY,NaN,学会用智慧抓住幸福的人，才能一生幸福。,53,420,39,0.05
13595,12,3030443690,LWM1850760,NaN,NaN,45,240,10,0.05
13596,14,2481026221,嫩地宝_,NaN,碎碎念的小号,319,280,456,0.05
13597,6,2552268711,孤独的Ethic,NaN,NaN,37,120,219,0.05
13598,8,6194013091,_今天的我早睡了吗_,NaN,NaN,48,160,195,0.05

In [28]:
df_ffu.to_csv('D:/datasets/qianyi/user_label/method/based_on_user_focusing_kol/file/user_label/fun_label_n5p5.csv',index=False) #文件输出